<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
					
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/pagoda.png" width="30" />
							<span tal:content="Title" />
						</div>
						<div style="padding:10px;">
							<div align="center" style="color:#980707; line-height:20px; margin-bottom:10px;">
								<H3 tal:content="Course/getName" style="font-size:17px;" />								
								<p>Bắt đầu: <B tal:content="Course/getDateStartPrint" /> - Kết thúc: <B tal:content="Course/getDateEndPrint" /></p>
								<span tal:content="structure Course/getDescription" />								
							</div>
							<table border="0" width="100%" cellpadding="0" cellspacing="1" class="manager-table" >
								<thead>
									<tr>
										<th width="32">STT</th>
										<th align="left">LỚP HỌC</th>
										<th width="64">BẮT ĐẦU</th>
										<th width="64">KẾT THÚC</th>
									</tr>
								</thead>
								<tbody>
									<tr class="content-rows" tal:repeat="Class Course/getClasses">
										<td align="center" tal:content="repeat/Class/number" />
										<td class="text-hightlight">
											<a tal:attributes="href Class/getURLRead">
												<div tal:content="Class/getName" />
											</a>
										</td>										
										<td tal:content="Class/getDateStartPrint" />
										<td tal:content="Class/getDateEndPrint" />
									</tr>
								</tbody>
							</table>
							<br/>
							
							<div class="news-box-sub-title">Các khóa học khác</div>
							<ul class="news-box-list">
								<li tal:repeat="Course Courses">
									<a tal:attributes="href Course/getURLRead">
										<span tal:content="Course/getName" />
									</a>
									( từ <span tal:content="Course/getDateStartPrint" /> đến <span tal:content="Course/getDateEndPrint" />)
								</li>
							</ul>
						</div>
						<div class="clear" />
					</div>
				</div>				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/VideoBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>
					<div metal:use-macro="macros.xhtml/AdsBox"/>					
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>