<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.jplayer.min.js"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/Gate.js"/>		
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/Gate.css" />
	</head>
<body  style="overflow:hide;">
	<div data-role="page" class="type-interior" id="gate">		
		<div align="center" style="width:100%;">
			<a href="/home">
				<img class="Gate" border="0" height="400px" src="/data/images/chuagiacquang.png" />
				<img border="0" height="300px" src="/data/images/kuanyin.png" />
				<div align="center" style="position:relative; margin-top:20px; color:white; text-shadow:2px 2px 5px #000000; height:30px; width:300px; padding:15px; z-index:99999;">
					<h1>Vào Trang chủ</h1>
				</div>
			</a>
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
					<div class="jp-gui jp-interface">
						<ul class="jp-controls">
							<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
						</ul>	
						<div class="jp-current-time"></div>
						<div class="jp-duration"></div>
						<ul class="jp-toggles">
							<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>						
						</ul>
					</div>				
				</div>
			</div>
		</div>
		<img class="cloud1" border="0" src="/data/images/cloud1.png" />
		<img class="cloud2" border="0" src="/data/images/cloud2.png" height="80" />
		<img class="cloud3" border="0" src="/data/images/cloud3.png" />
		<img class="cloud4" border="0" src="/data/images/cloud4.png" />
		<img class="bird" border="0" src="/data/images/bird.gif" />
	</div>	
</body>
</html>