<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		<div metal:use-macro="mAdmin.xhtml/Sidebar"/>		
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<button id="insertObject" href="#insertDialog" data-toggle="modal" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></button>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>STT</th>
											<th><div class="text-left">TÊN</div></th>
											<th><div class="text-left">TIN TỨC</div></th>
											<th />
										</tr>
									</thead>
									<tbody>
										<tr class="content-rows" tal:repeat="Category CategoryAll">
											<td width="32" align="center"><div tal:content="repeat/Category/number" /></td>
											<td><a class="updateObject" href="#updateDialog" data-toggle="modal" data-name="CategoryNews" tal:attributes="data-id Category/getId" tal:content="Category/getName"/></td>										
											<td width="120" class="text-hightlight" align="left">
												<a tal:attributes="href Category/getURLView">
													<div>Số tin (<span tal:content="Category/getNews/count"/>)</div>
												</a>
											</td>
											<td width="32" class="center"><a class="deleteObject" href="#deleteDialog" data-toggle="modal" tal:attributes="data-id Category/getId"><i class="glyphicon glyphicon-remove"/></a></td>
										</tr>
									</tbody>
								</table>
								<center>
									<ul class="pagination">
										<li tal:repeat="P PN/getPages"><a tal:attributes="href P/getURL" tal:content="P/getName"/></li>
									</ul>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="insertDialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicon glyphicon-th modal-icon"/> THÊM DANH MỤC MỚI</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="iName" name="Name" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="insertButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="updateDialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicon glyphicon-th modal-icon"/>CHỈNH SỬA DANH MỤC</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="uName" name="Name" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>									
						<div class="modal-footer">
							<button id="updateButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* INSERT CATEGORY NEWS															*/
			/* ---------------------------------------------------------------------------- */
			$('#insertButton').click(function(){
				var URL = "/object/ins/CategoryNews";
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#iName').val();
				Data[2] = '0';
				Data[3] = '';
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			$("#insertDialog").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#iName').first().focus()},
					0500
				);
			});
			
			/* ---------------------------------------------------------------------------- */
			/* UPDATE PROJECT																*/
			/* ---------------------------------------------------------------------------- */
			$('.updateObject').click(function(){
				var url = "/object/load/CategoryNews/" + $(this).attr('data-id');
				$.getJSON(url, function(data){
					$('#updateButton').attr('alt', data.Id);
					$('#uName').attr('value', data.Name);
					$('#uDescription').attr('value', data.Description);
				});
			});
			$('#updateButton').click(function(){
				var URL = "/object/upd/CategoryNews";
				var Data = [];
				Data[0] = $('#updateButton').attr('alt');
				Data[1] = $('#uName').val();
				Data[2] = '0';
				Data[3] = '0';
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			$("#updateDialog").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#uName').first().focus()},
					0500
				);
			});
						
			/* ---------------------------------------------------------------------------- */
			/* DELETE CATEGORY NEWS															*/
			/* ---------------------------------------------------------------------------- */
			$('.deleteObject').click(function(){
				$('#deleteButton').attr('alt', $(this).attr('data-id'));
			});
			$('#deleteButton').click(function(){
				var URL = "/object/del/CategoryNews/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>