<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>		
		<div id="sidebar">			
		</div>			
		<div id="content">
			<div id="content-header"></div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<div class="control-group">
									<label class="control-label">Danh mục</label>
									<div class="controls">
										<select name="IdCategory" id="IdCategory" style="width:80%;">
											<option tal:repeat="Category CategoryVideoAll" tal:attributes="value Category/getId">
												<span tal:content="Category/getBTypeName"/> / <span tal:content="Category/getName"/>
											</option>
										</select>
									</div>
								</div>								
								<div class="control-group">
									<label class="control-label" for="IdPlayListYoutube">Id Playlist YouTube</label>
									<div class="controls">
										<input type="text" id="IdPlayListYoutube" name="IdPlayListYoutube" />
									</div>
								</div>
								<div class="form-actions">
									<button class="btn btn-success Exe">Thực hiện</button>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
								
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
		$(".Exe").click(function(){			
			var Count 		= 50;
			var nFlag 		= 1;
			var URL 		= "";
			var pageToken 	= "";
			var IdPlayList 	= $("#IdPlayListYoutube").val();					
			var IdCategory	= $("#IdCategory").val();
			
			while (nFlag >0)
			{
				if (pageToken == "")
					URL = "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=50&playlistId="+IdPlayList+"&key=AIzaSyD58ECe_-WDRAx010gQ1Pg8_Uj3W6o3OPI";
				else
					URL = "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=50&pageToken="+pageToken+"&playlistId="+IdPlayList+"&key=AIzaSyD58ECe_-WDRAx010gQ1Pg8_Uj3W6o3OPI";
				
				$.ajax({
					url: URL,
					async: false,
					dataType: 'json',
					success: function(data){
						var DTitle 		= [];
						var DURL 		= [];
						var DViewed 	= [];
						var DLiked 		= [];
						
						if(data.hasOwnProperty('nextPageToken')){pageToken = data.nextPageToken;}
						else{nFlag = 0;}
																								
						Count = data.items.length;
						for (var i=0; i<Count; i++){														
							DTitle[i] 	= data.items[i].snippet.title;
							DURL[i] 	= data.items[i].snippet.resourceId.videoId;
														
							var URL2 = "https://www.googleapis.com/youtube/v3/videos?part=statistics&id="+DURL[i]+"&key=AIzaSyD58ECe_-WDRAx010gQ1Pg8_Uj3W6o3OPI"
							$.ajax({
								url: URL2,
								async: false,
								dataType: 'json',
								success: function(data2){
									DViewed[i] 	= data2.items[0].statistics.viewCount;
									DLiked[i] 	= data2.items[0].statistics.likeCount;
								}
							});														
						}
						
						var URL1 = "/service/youtube/add/video/from/playlist";
						$.ajax({
							type: "POST",
							data: {IdCategory:IdCategory, DTitle:DTitle, DURL:DURL, DViewed:DViewed, DLiked:DLiked},
							url: URL1,
							success: function(msg){
								//alert(msg);
							}
						});						
					}
				});
			}											
			alert("Đã thêm xong !");
		});
		/*]]>*/
		</script>
	</body>
</html>