<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">																	
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content">
							<p>Cứ mỗi 10 giây hệ thống sẽ tự cập nhật lại DANH SÁCH MÓN GỌI ...<B id="CountShow"/> giây</p>
						</div>
					</div>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<div id="CourseLog" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			var Count = 10;
			$("#CountShow").html(Count);
			$("#CourseLog").load("/calllog/loading");
			//Thiết lập mặc định 10 giây
			setInterval(function () {
				Count --;
				if (Count<0){
					Count = 10;
					$("#CourseLog").load("/calllog/loading");
				}
				$("#CountShow").html(Count);
			},1000);
		/*]]>*/
		</script>
	</body>
</html>