<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Customer1 CustomerAll" tal:attributes="class php:Customer1->getId()==Customer->getId()?'active':'disable'">
					<a tal:attributes="href Customer1/getURLCollect">
						<i class="glyphicons-user"/> <span tal:content="Customer1/getName" />
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div Id="IdCustomer" tal:attributes="alt Customer/getId" class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th width="70" class="left">NGÀY</th>
										<th class="left">DIỄN GIẢI</th>
										<th width="120" class="right">GIÁ TRỊ</th>
										<th width="40"><i class="glyphicons-edit"/></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Collect CollectAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Collect/getId"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="CollectCustomer" tal:attributes="data-id Collect/getId" tal:content="Collect/getDatePrint"/></td>
										<td><div class="text-left" tal:content="Collect/getNote"/></td>
										<td><div class="text-right" tal:content="Collect/getValuePrint"/></td>
										<td class="center">
											<a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="CollectCustomer" tal:attributes="data-id Collect/getId">
												<i class="glyphicon glyphicon-pencil"/>
											</a>
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Collect/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
					<div metal:use-macro="mAdmin.xhtml/PageBar"/>
					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-disk_save modal-icon"/>THÊM KHOẢN THU</h3></div>
								<form id="FormInsert" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">
										<div class="control-group">
											<label class="control-label">Ngày</label>
											<div class="controls">
												<input id="Date1" name="Date1" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Giá trị</label>
											<div class="controls">
												<input id="Value1" name="Value1" type="text" class="form-control input-small" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Diễn giải</label>
											<div class="controls">
												<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" type="submit" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-disk_save modal-icon"/>CẬP NHẬT KHOẢN THU</h3>
								</div>
								<form id="FormUpdate" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">
										<div class="control-group">
											<label class="control-label">Ngày</label>
											<div class="controls">
												<input id="Date2" name="Date2" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Giá trị</label>
											<div class="controls">
												<input id="Value2" name="Value2" type="text" class="form-control input-small" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Diễn giải</label>
											<div class="controls">
												<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLUpdButton" type="submit" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.js"></script>
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.vi.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#Date1').datepicker({language:'vi'});
			$('#Date1').datepicker('setDate', new Date());
			$('#Date2').datepicker({language:'vi'});
			
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/CollectCustomer/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 COLLECT GENERAL			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/CollectCustomer/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 COLLECT GENERAL			
			$("#FormInsert").validate({
				rules:{					
					Value1:{
						min: 1000,
						number:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#IdCustomer').attr('alt');
					Data[2] = $('#Date1').val();
					Data[3] = $('#Value1').val();
					Data[4] = $('#Note1').val();
																			
					var URL = "/object/ins/CollectCustomer";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){				
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Value1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 COLLECT GENERAL
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/CollectCustomer/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', data.Id);
					$('#Date2').attr('value', data.Date);
					$('#Value2').attr('value', data.Value);
					$('#Note2').attr('value', data.Note);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 COLLECT GENERAL
			//-----------------------------------------------------------------------------------			
			$("#FormUpdate").validate({
				rules:{					
					Value2:{
						min: 1000,
						number:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdCustomer').attr('alt');
					Data[2] = $('#Date2').val();
					Data[3] = $('#Value2').val();
					Data[4] = $('#Note2').val();
					
					var URL = "/object/upd/CollectCustomer";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Value2').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>
	</body>
</html>