<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">																	
				<div class="col-12">										
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicon glyphicon-plus"/> Thêm mới
					</a>
					<a href="/report/info" class="btn btn-primary btn-ins">
						<i class="glyphicon glyphicon-book"/> Thông tin hệ thống
					</a>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><i class="glyphicons-fax"/></th>
										<th><div class="text-left">THÁNG</div></th>																								
										<th width="40"><i class="glyphicons-edit"/></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr tal:repeat="Track Tracks">
										<td align="center" tal:content="repeat/Track/number"/>
										<td><a tal:attributes="href Track/getURLView" tal:content="Track/getName"/></td>
										<td class="center">
											<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Track/getId">
												<i class="glyphicon glyphicon-pencil"/>
											</a>
										</td>
										<td class="center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Track/getId">
												<i class="glyphicon glyphicon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fax modal-icon"/>THÊM BÁO CÁO</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label" for="DateStart1">Bắt đầu</label>
											<div class="controls">
												<input id="DateStart1" name="DateStart1" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="DateEnd">Kết thúc</label>
											<div class="controls">
												<input id="DateEnd1" name="DateEnd1" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DELETE DIALOG  -->
					<div id="DialogDel" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3>XÓA BÁO CÁO</h3>
								</div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<button id="URLDelButton" class="btn btn-primary btn-small">Xóa</button>
									<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END DELETE DIALOG  -->
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fax modal-icon"/>CẬP NHẬT BÁO CÁO</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label">Bắt đầu</label>
											<div class="controls">
												<input id="DateStart2" name="DateStart2" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Kết thúc</label>
											<div class="controls">
												<input id="DateEnd2" name="DateEnd2" type="text" data-date-format="yyyy-mm-dd" class="form-control input-small"/>
											</div>
										</div>
									</div>									
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END UPDATE DIALOG  -->

					<!-- DELETE DIALOG  -->
					<div id="DialogDel" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3>XÓA BÁO CÁO</h3></div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<button id="URLDelButton" class="btn btn-primary btn-small">Xóa</button>
									<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END DELETE DIALOG  -->
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<script src="/mvc/templates/theme/cms/js/jquery.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery-ui.custom.js"></script>
		<script src="/mvc/templates/theme/cms/js/bootstrap.min.js"></script>
						
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.js"></script>
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.vi.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#DateStart1').datepicker({language: 'vi'});
			$('#DateEnd1').datepicker({language: 'vi'});
			
			$('#DateStart2').datepicker({language: 'vi'});
			$('#DateEnd2').datepicker({language: 'vi'});
									
			//-----------------------------------------------------------------------------------
			//Delete 1 REPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Tracking/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 REPORT
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#DateStart1').val();
				Data[2] = $('#DateEnd1').val();								
				var URL = "/object/ins/Tracking";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 REPORT
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Tracking/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', data.Id);
					$('#DateStart2').attr('value', data.DateStart);
					$('#DateEnd2').attr('value', data.DateEnd);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 REPORT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#DateStart2').val();
				Data[2] = $('#DateEnd2').val();
				
				var URL = "/object/upd/Tracking";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});			
		/*]]>*/
		</script>
	</body>
</html>