<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style>
	@media print{
		.header, .hide { visibility: hidden };
		body { font-size: 9px };
		margin: 0mm 0mm 0mm 0mm;
	}	 
	@media screen {
		body { font-size: 9px }
	}
	@media screen, print {
		body { line-height: 1.0 }
	}
	@page  
	{ 
		size: auto;   /* auto is the initial value */ 
		/* this affects the margin in the printer settings */ 
		margin: 0mm 0mm 0mm 0mm;
	}
	</style>
</head>
<body onload="window.print()">
	<table width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
			<td width="100%" align="center" style="font-size:14pt;font-family:Arial; line-height:14pt;padding-top:0px">
				<B>QUÁN ĂN LÀNG BIỂN</B>
			</td>
		</tr>
		<tr>
			<td width="100%" align="center" style="font-size:9pt;font-family:Arial; line-height:11pt;">
				193-195 Điện Biên Phủ-Mỹ Phú-Cao Lãnh
			</td>
		</tr>
		<tr>
			<td width="100%" align="center" style="font-size:10pt;font-family:Arial; line-height:11pt">
				<B>067 394 8888 - 0918 107 132</B>
			</td>
		</tr>
		<tr>
			<td width="100%" align="center" style="font-size:13pt;font-family:Arial; line-height:14pt">
				<b>DOANH SỐ THEO KHU VỰC</b>
			</td>
		</tr>
	</table>	
	<br/>	
	<table width="100%" cellpadding="2" cellspacing="0" border="1" style="font-size:10pt;font-family:Arial; line-height:11pt;padding-top:0px">
		<thead>
			<tr>
				<th width="50%" align="left" ><b>KHU VỰC</b></th>
				<th width="35%" align="right"><b>DOANH SỐ</b></th>
				<th width="15%" align="right"><b>TỈ LỆ</b></th>
			</tr>
		</thead>		
		<tbody>
			<tr tal:repeat="Domain DomainAll">
				<td width="50%" align='left' tal:content="Domain/getName" />				
				<td width="35%" align='right' tal:content="php: TD->getSellingByDomainValuePrint(Domain->getId())" />
				<td width="15%" align='right' tal:content="php: TD->getSellingByDomainPercent(Domain->getId())" />
			</tr>
			<tr>
				<td align="left"><B>TỔNG CỘNG</B></td>
				<td width="35%" align='right' tal:content="TD/getSellingPrint" />
				<td width="15%" align='right' tal:content="string:100%" />
			</tr>
		</tbody>		
	</table>

</body>
