<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding" tal:condition="TD/isOne">
								<h3>CHI TIẾT GIAO DỊCH BÁN HÀNG TRONG NGÀY</h3>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="11%"><div class="text-left">THỜI GIAN</div></th>
											<th width="8%"><div class="text-left">NHÂN VIÊN</div></th>
											<th width="13%"><div class="text-left">BÀN</div></th>
											<th width="15%"><div class="text-left">KHÁCH</div></th>
											<th width="15%"><div class="text-right">TT.ĐỦ</div></th>
											<th width="3%"><div class="text-right"/></th>
											<th width="30%"><div class="text-right">NỢ PHIẾU</div></th>											
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Session SessionAll">
											<td align="center"><span tal:content="Session/getId"/></td>
											<td align="left"><span tal:content="Session/getDateTimePrint"/></td>
											<td align="left"><span tal:content="Session/getUser/getName"/></td>
											<td align="left"><span tal:content="Session/getTable/getName"/></td>
											<td align="left"><span tal:content="Session/getCustomer/getName"/></td>											
											<td align="right">
												<a tal:condition="php:Session->getStatus()==1"  class="Ticket" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>	
											</td>
											<td align="right">
												<a tal:condition="Session/checkDel" class="Ticket" tal:attributes="alt Session/getURLPrint1">
													Xem
												</a>
											</td>
											<td align="right">
												<a tal:condition="php:Session->getStatus()==2" class="Ticket" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>
											</td>											
										</tr>
										<tr>
											<td align="left" colspan="5">TỔNG CỘNG CÓ <B tal:content="SessionAll/count"/> PHIẾU </td>
											<td align="right"><B tal:content="NTotal1/formatCurrency"/></td>
											<td/>
											<td align="right"><B tal:content="NTotal2/formatCurrency"/></td>
										</tr>
									</tbody>
								</table>								
							</div>
							
							<div class="widget-content nopadding" tal:condition="not:TD/isOne">
								<h3>CA1</h3>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="11%"><div class="text-left">THỜI GIAN</div></th>
											<th width="8%"><div class="text-left">NHÂN VIÊN</div></th>
											<th width="13%"><div class="text-left">BÀN</div></th>
											<th width="15%"><div class="text-left">KHÁCH</div></th>
											<th width="15%"><div class="text-right">TT.ĐỦ</div></th>
											<th width="3%"><div class="text-right"/></th>
											<th width="30%"><div class="text-right">NỢ PHIẾU</div></th>											
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Session SessionAll1">
											<td align="center"><span tal:content="Session/getId"/></td>
											<td align="left"><span tal:content="Session/getDateTimePrint"/></td>
											<td align="left"><span tal:content="Session/getUser/getName"/></td>
											<td align="left"><span tal:content="Session/getTable/getName"/></td>
											<td align="left"><span tal:content="Session/getCustomer/getName"/></td>											
											<td align="right">
												<a tal:condition="php:Session->getStatus()==1"  class="Ticket" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>	
											</td>
											<td align="right">
												<a tal:condition="Session/checkDel"  class="Ticket" tal:attributes="alt Session/getURLPrint1">
													Xem
												</a>
											</td>
											<td align="right">
												<a tal:condition="php:Session->getStatus()==2"  class="Ticket" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>
											</td>											
										</tr>
										<tr>
											<td align="left" colspan="5">TỔNG CỘNG CÓ <B tal:content="SessionAll1/count"/> PHIẾU </td>
											<td align="right"><B tal:content="NTotal11/formatCurrency"/></td>
											<td/>
											<td align="right"><B tal:content="NTotal12/formatCurrency"/></td>
										</tr>
									</tbody>
								</table>
								<h3>CA2</h3>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="11%"><div class="text-left">THỜI GIAN</div></th>
											<th width="8%"><div class="text-left">NHÂN VIÊN</div></th>
											<th width="13%"><div class="text-left">BÀN</div></th>
											<th width="15%"><div class="text-left">KHÁCH</div></th>
											<th width="15%"><div class="text-right">TT.ĐỦ</div></th>
											<th width="3%"><div class="text-right"/></th>
											<th width="30%"><div class="text-right">NỢ PHIẾU</div></th>											
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Session SessionAll2">
											<td align="center"><span tal:content="Session/getId"/></td>
											<td align="left"><span tal:content="Session/getDateTimePrint"/></td>
											<td align="left"><span tal:content="Session/getUser/getName"/></td>
											<td align="left"><span tal:content="Session/getTable/getName"/></td>
											<td align="left"><span tal:content="Session/getCustomer/getName"/></td>											
											<td align="right">
												<a tal:condition="php:Session->getStatus()==1"  class="Ticket" href="#" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>	
											</td>
											<td align="right">
												<a tal:condition="Session/checkDel" class="Ticket" tal:attributes="alt Session/getURLPrint1">
													Xem
												</a>
											</td>
											<td align="right">
												<a tal:condition="php:Session->getStatus()==2"  class="Ticket" tal:attributes="alt Session/getURLPrint">
													<span tal:content="Session/getValuePrint"/>
												</a>
											</td>											
										</tr>
										<tr>
											<td align="left" colspan="5">TỔNG CỘNG CÓ <B tal:content="SessionAll2/count"/> PHIẾU </td>
											<td align="right"><B tal:content="NTotal21/formatCurrency"/></td>
											<td/>
											<td align="right"><B tal:content="NTotal22/formatCurrency"/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="widget-box">
							<a class="Ticket" tal:attributes="alt TD/getURLReportSellingByCategory">
								<h3>XEM TỔNG KẾT DOANH SỐ THEO DANH MỤC MÓN</h3>
							</a>
							<a class="Ticket" tal:attributes="alt TD/getURLReportSellingByDomain">
								<h3>XEM TỔNG KẾT DOANH SỐ THEO KHU VỰC</h3>
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>	
		<script type="text/javascript">
		/*<![CDATA[*/
			$(".Ticket").click(function(){
				var url = $(this).attr('alt');
				var thePopup = window.open( url, "In Phiếu", "menubar=yes,location=yes,height=700,width=700" );
				thePopup.print();				
			});
		/*]]>*/
		</script>	
	</body>
</html>