<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<div role="grid" class="dataTables_wrapper">
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr role="row">
												<th width="35">STT</th>											
												<th><div class="text-left">TÊN HÀNG</div></th>
												<th width="120"><div class="text-left">ĐƠN VỊ</div></th>	
												<th width="80"><div class="text-right">TỒN CŨ</div></th>
												<th width="80"><div class="text-right">TRONG KÌ</div></th>
												<th width="80"><div class="text-right">BÁN</div></th>
												<th width="80"><div class="text-right">GIÁ</div></th>
												<th width="80"><div class="text-right">TỒN MỚI</div></th>
												<th width="90"><div class="text-right">GIÁ TRỊ</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="TS TSAll" class="gradeA odd">
												<td align="center" tal:content="repeat/TS/number"/>
												<td><span tal:content="TS/getResource/getName"/></td>
												<td><span tal:content="TS/getResource/getUnit"/></td>
												<td align="right"><span tal:content="TS/getCountOldPrint"/></td>
												<td align="right"><span tal:content="TS/getCountImportPrint"/></td>
												<td align="right"><span tal:content="TS/getCountExportPrint"/></td>
												<td align="right"><span tal:content="TS/getPricePrint"/></td>
												<td align="right"><span tal:content="TS/getCountRemainPrint"/></td>
												<td align="right"><span tal:content="TS/getCountRemainValuePrint"/></td>
											</tr>
										</tbody>
									</table>
								</div>								
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>