<!DOCTYPE html>
<html lang="en">
	<body>		
		<div id="TableAll" class="widget-box">			
			<div class="widget-content nopadding">
				<div class="gallery-masonry">
					<div tal:repeat="Table TableAll" tal:attributes="id php:'Table' . Table->getId();alt Table/getId;class php:Table->getSessionActive()==null? 'Table item':'Table item actived'">
						<a class="thumbnail" tal:content="Table/getName"/>
					</div>
				</div>
			</div>					
		</div>						
        <script>
			$(".Table").click(function(){
				var IdTable = $(this).attr('alt');
				
				$("#Session").load("/selling/load/table/"+IdTable);
				$(this).toggleClass('active').siblings().removeClass('active');				
				//Nhớ lại Table đang được chọn.
				$("#TableActive").attr('alt', 'Table'+IdTable);
				$("#SearchName").focus();
			});
			//Mặc định lấy click của BÀN đầu tiên
			$('.Table:first').click();
						
			$('.gallery-masonry').masonry({
				itemSelector: '.item',
				isAnimated: true,
				isFitWidth: true
			});
        </script>
	</body>
</html>