<!DOCTYPE html>
<html lang="en">	
	<body>				
		<div id="Session" class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="glyphicon glyphicon-th-list"></i>
				</span>				
				<div class="buttons" tal:condition="Table/getSessionActive">
					<a title="Chuyển bàn" data-toggle="modal" class="btn SessionMove" href="#DialogMove" tal:attributes="data-session-id Table/getSessionActive/getId"><i class="glyphicons-move" /></a>
					<a title="Gom bàn" data-toggle="modal" class="btn SessionMerge" href="#DialogMerge" tal:attributes="data-session-id Table/getSessionActive/getId"><i class="glyphicons-resize_small"/></a>
					<a title="Chỉnh sửa giao dịch" data-toggle="modal" class="btn SessionUpdate" href="#DialogSession" tal:attributes="data-session-id Table/getSessionActive/getId"><i class="glyphicons-edit" /></a>
					<a title="Tính phiếu" class="btn Checkout" tal:attributes="alt Table/getSessionActive/getURLCheckoutExe"><i class="glyphicons-ok_2" /></a>					
					<a title="In phiếu" class="Ticket btn" tal:attributes="alt Table/getSessionActive/getURLPrint"><i class="glyphicons-print"></i></a>
				</div>
			</div>
			<div class="widget-content nopadding size-12">
				<div class="invoice-content" tal:condition="not:Table/getSessionActive">
					<div class="invoice-head">
						<div class="invoice-meta">
							<h5 id="CurrentTable" tal:attributes="alt Table/getId" tal:content="Table/getName"/>
						</div>
					</div>
				</div>
				<div class="invoice-content" tal:condition="Table/getSessionActive">
					<div>
						<div class="invoice-meta">
							<h5 id="CurrentTable" tal:attributes="alt Table/getId" tal:content="php:Table->getName() . '/' . Table->getSessionActive()->getCustomer()->getName()"/>
							<div id="IdSession" tal:attributes="alt Table/getSessionActive/getId" />
						</div>
						<div class="invoice-to">
							<ul><li><span tal:content="Table/getSessionActive/getUser/getName"/></li></ul>
						</div>
						<div class="invoice-from">
							<ul><li><span tal:content="Table/getSessionActive/getDateTimePrint"/></li></ul>
						</div>
					</div>
						<table class="table table-striped table-hover">
							<thead>
								<tr>										
									<th width="30">STT</th>
									<th><div class="text-left">TÊN</div></th>
									<th width="30">SL</th>
									<th width="80"><div class="text-right">Đ.GIÁ</div></th>
									<th width="80"><div class="text-right">T.TIỀN</div></th>									
									<th width="30"><i class="glyphicons-bin"/></th>									
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="Detail Table/getSessionActive/getDetails1">
									<td><div class="text-center" tal:content="repeat/Detail/number" /></td>
									<td><a class="update-item" href="#DialogEdit" data-toggle="modal" 
										tal:attributes="id 			Detail/getId;
														idcourse 	Detail/getIdCourse;
														name 		Detail/getCourse/getName;
														count 		Detail/getCount;
														price 		Detail/getPrice;
										" 
										tal:content="Detail/getCourse/getName"/>
									</td>
									<td><div class="text-center" tal:content="Detail/getCountPrint"/></td>
									<td><div class="text-right" tal:content="Detail/getPricePrint"/></td>
									<td><div class="text-right" tal:content="Detail/getValuePrint"/></td>									
									<td class="center">
										<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Detail/getId">
											<i class="glyphicons-remove_2"/>
										</a>
									</td>									
								</tr>
							</tbody>
						</table>
						<table width="100%">
							<tr>								
								<td tal:content="Table/getSessionActive/getNote" />
							</tr>
							<tr>
								<td style="text-align:right;">GIẢM GIÁ %:</td>
								<td tal:content="Table/getSessionActive/getDiscountPercent" style="color:#5476A6;text-align:right;"/>
								<th width="36" />
							</tr>
							<tr>
								<td style="text-align:right;">GIẢM GIÁ $:</td>
								<td tal:content="Table/getSessionActive/getDiscountValuePrint" style="color:#5476A6;text-align:right;"/>
								<th width="36" />
							</tr>
							<tr>
								<td style="text-align:right;">TỔNG CỘNG:</td>
								<td tal:content="Table/getSessionActive/getValuePrint" style="color:#5476A6;text-align:right;"/>
								<th width="36" />
							</tr>
						</table>
																					
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>CẬP NHẬT MÓN</h3>
								</div>								
								<form id="FormSDUpdate" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="form-group">
										<label class="control-label">Id</label>
										<div class="controls">
											<input readonly="true" id="IdCourse1" name="IdCourse1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input readonly="true" id="Name1" name="Name1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số lượng</label>
										<div class="controls">
											<input id="Count1" name="Count1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Đơn giá</label>
										<div class="controls">
											<input id="Price1" name="Price1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-actions">										
										<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit" value="Validate"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
																								
					<!-- DIALOG SESSION EDIT	-->
					<div id="DialogSession" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-edit modal-icon"/>CẬP NHẬT GIAO DỊCH</h3></div>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label">Bắt đầu</label>
										<div class="controls">
											<input id="DateTime1" name="DateTime1" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd hh:ii"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Kết thúc</label>
										<div class="controls">
											<input id="DateTimeEnd1" name="DateTimeEnd1" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd hh:ii"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Nhân viên</label>
										<div class="controls">
											<select name="IdEmployee1" id="IdEmployee1" style="width:80%;" class="form-control">
												<option tal:repeat="Employee EmployeeAll" tal:attributes="value Employee/getId;selected php:Session->getIdEmployee()==Employee->getId()?true:false">
													<span tal:content="Employee/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tính tiền</label>
										<div class="controls">
											<select name="Status1" id="Status1" style="width:80%;" class="form-control">
												<option tal:attributes="selected php:Session->getStatus()==0?'true':false" value="0">Chưa tính</option>
												<option tal:attributes="selected php:Session->getStatus()==1?'true':false" value="1">Thanh toán đủ</option>
												<option tal:attributes="selected php:Session->getStatus()==2?'true':false" value="2">Nợ phiếu</option>
												<option tal:attributes="selected php:Session->getStatus()==3?'true':false" value="3">Tiếp khách</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Gõ/quét mã thẻ</label>
										<div class="controls">
											<input id="SearchIdCustomer" name="SearchIdCustomer" type="text" class="form-control input-small" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tên KH</label>
										<div class="controls">
											<input id="CustomerName" name="CustomerName" readonly="true" type="text" class="form-control input-small" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giảm giá %</label>
										<div class="controls">
											<input id="DiscountPercent1" name="DiscountPercent1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giảm giá tiền</label>
										<div class="controls">
											<input id="DiscountValue1" name="DiscountValue1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Ghi chú</label>
										<div class="controls">
											<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-actions">
										<button id="URLSessionUpdButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
									<div id="IdUser1"/>
									<div id="IdCustomer1"/>									
									<div id="Surtax1"/>
									<div id="Payment1"/>
								</div>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					<!-- DIALOG MOVE	-->
					<div id="DialogMove" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-move modal-icon"/>CHUYỂN BÀN</h3>
								</div>
								<form class="form-horizontal" tal:attributes="action Table/getURLMoveExe" method="post">
									<div class="form-group">
										<label class="control-label" for="IdTableMove">Chuyển đến bàn</label>
										<div class="controls">
											<select name="IdTableMove" id="IdTableMove" class="form-control input-sm">
												<option tal:repeat="Table TableAllNonGuest" tal:attributes="value Table/getId">
													<span tal:content="Table/getDomain/getName" /> / <span tal:content="Table/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLSessionMoveButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>									
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					
					<!-- DIALOG MERGE	-->
					<div id="DialogMerge" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-resize_small modal-icon"/>GOM BÀN</h3>
								</div>
								<form class="form-horizontal" tal:attributes="action Table/getURLMergeExe" method="post">
									<div class="control-group">
										<label class="control-label" for="IdTableMerge">Gom với bàn</label>
										<div class="controls">
											<select name="IdTableMerge" id="IdTableMerge" class="form-control input-sm">
												<option tal:repeat="Table TableAllGuest" tal:attributes="value Table/getId">
													<span tal:content="Table/getDomain/getName" /> / <span tal:content="Table/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLSessionMergeButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>									
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>	
				</div>
			</div>
		</div>
		
		<div id="Session" class="widget-box">
			<div class="widget-content nopadding">
				<div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>										
								<th width="30">STT</th>
								<th><div class="text-left">NGÀY</div></th>
								<th><div class="text-right">PHIẾU</div></th>								
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Session Table/getSessionRecent">
								<td><div class="text-center" tal:content="repeat/Session/number"/></td>
								<td><div class="text-left" tal:content="Session/getDateTimePrint"/></td>
								<td>
									<div tal:attributes="alt Session/getURLPrint" class="Ticket text-right">
										<span tal:content="Session/getValuePrint"/>
									</div>
								</td>								
							</tr>
						</tbody>
					</table>
				</div>
				<!-- DELETE DIALOG  -->
				<div id="DialogSessionDel" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header"><h3>XÓA</h3></div>
							<div class="modal-body">
								<p>Bạn có chắc muốn xóa GIAO DỊCH này ?</p>
							</div>
							<div class="modal-footer">
								<button id="URLSessionDelButton" class="btn btn-primary btn-small">Xóa</button>
								<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- DIALOG PREVIEW	-->
		<div id="DialogPreview" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-star modal-icon"/>XEM TRƯỚC KHI IN</h3>
					</div>								
					<form class="form">
						<div class="form-group">
							<div id="DocPreview" width="320px" height="480px"/>
						</div>
						<div class="modal-footer">									
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Đóng</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END DIALOG EDIT -->
        <script type="text/javascript">
		/*<![CDATA[*/			
			$("#SearchIdCustomer").change(function(){
				URL = "/search/customer/"+$(this).val();
				$.getJSON(URL, function(data){
					$("#IdCustomer1").attr('alt', data.Id);					
					$("#DiscountPercent1").val(data.Discount);
					$("#CustomerName").val(data.Name);
				});				
			});
						
			//-----------------------------------------------------------------------------------
			//Delete 1 DETAIL			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){$('#URLDelButton').attr('alt', $(this).attr('data-id'));});
			$('#URLDelButton').click(function(e){
				//Load dữ liệu JSON về
				var url = "/object/load/SessionDetail/" + $(this).attr('alt');
				var IdTable = $("#CurrentTable").attr('alt');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){										
					$("#DialogDel").modal('hide');					
					var Data = [];
					Data[0] = data.Id;
					Data[1] = data.IdSession;
					Data[2] = data.IdCourse;
					Data[3] = data.Count;
					Data[4] = data.Price;
					Data[5] = 0;
																				
					var URL = "/object/upd/SessionDetail";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							$("#Session").load("/selling/load/table/"+IdTable);
						}
					});
				
				});
			});
									
			//-----------------------------------------------------------------------------------
			//Update 1 SESSION
			//-----------------------------------------------------------------------------------
			$('.SessionUpdate').click(function(e){
				//Load dữ liệu JSON về
				var url = "/object/load/Session/" + $(this).attr('data-session-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){					
					$('#URLSessionUpdButton').attr('alt', data.Id);
					$('#DateTime1').attr('value'		, data.DateTime);
					$('#DateTimeEnd1').attr('value'		, data.DateTimeEnd);
					$('#DiscountPercent1').attr('value'	, data.DiscountPercent);
					$('#DiscountValue1').attr('value'	, data.DiscountValue);
					$('#CustomerName').attr('value'		, data.CustomerName);					
					$('#Note1').attr('value'			, data.Note);
					
					$('#IdUser1').attr('alt'			, data.IdUser);
					$('#IdCustomer1').attr('alt'		, data.IdCustomer);					
					$('#Surtax1').attr('alt'			, data.Surtax);
					$('#Payment1').attr('alt'			, data.Payment);
				});
			});
			$("#URLSessionUpdButton").click(function(){
				var IdTable = $("#CurrentTable").attr('alt');
				var Data = [];
				Data[0] 	= $('#URLSessionUpdButton').attr('alt');
				Data[1] 	= IdTable;
				Data[2] 	= $('#IdUser1').attr('alt');				
				Data[3] 	= $('#IdCustomer1').attr('alt');				
				Data[4] 	= $('#IdEmployee1').val();
				Data[5] 	= $('#DateTime1').val();
				Data[6] 	= $('#DateTimeEnd1').val();
				Data[7] 	= $('#Note1').val();
				Data[8] 	= $('#Status1').val();
				Data[9] 	= $('#DiscountValue1').val();
				Data[10] 	= $('#DiscountPercent1').val();
				Data[11] 	= $('#Surtax1').val();
				Data[12] 	= "0";//$('#Payment1').val();
				$("#DialogSession").modal('hide');
									
				var URL = "/object/upd/Session";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						var TableActive = "#" + $("#TableActive").attr('alt');
						if ($('#Status1').val()>0){														
							$(TableActive).removeClass('actived');
						}
						$("#Session").load("/selling/load/table/"+IdTable);
					}
				});
			});
			
											
			//-----------------------------------------------------------------------------------
			//click gọi món
			//-----------------------------------------------------------------------------------
			$('.Course').click(function(e){
				var IdCourse 	= $(this).attr('alt');
				var Delta 		= $(this).attr('data-delta');
				var IdTable 	= $("#CurrentTable").attr('alt');
				URL = "/selling/call/table/"+IdTable+"/"+IdCourse+"/"+Delta;				
				e.stopImmediatePropagation();
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){
						var TableActive = "#" + $("#TableActive").attr('alt');
						$("#Session").load("/selling/load/table/"+IdTable);
						
						//Đánh dấu Table có khách
						$(TableActive).addClass('actived');
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 SESSION DETAIL
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				$('#URLUpdButton').attr('alt', 	$(this).attr('Id')			);
				$('#IdCourse1').attr('value', 	$(this).attr('idcourse')	);
				$('#Name1').attr('value', 		$(this).attr('name')		);
				$('#Count1').attr('value', 		$(this).attr('count')		);
				$('#Price1').attr('value', 		$(this).attr('price')		);
			});
			
			//-----------------------------------------------------------------------------------
			//CHECKOUT
			//-----------------------------------------------------------------------------------
			$('.Checkout').click(function(e){
				var URL = $(this).attr('alt');
				var IdTable = $("#CurrentTable").attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						var TableActive = "#" + $("#TableActive").attr('alt');
						$("#Session").load("/selling/load/table/"+IdTable);
																		
						//Đánh dấu Table có khách
						$(TableActive).toggleClass('actived');
					}
				});
			});
						
			//-----------------------------------------------------------------------------------
			//Update 1 SESSION DETAIL
			//-----------------------------------------------------------------------------------
			$("#FormSDUpdate").validate({
				rules:{
					Count1:{
						min: 0,
						required:true
					},
					Price1:{
						min: 0,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass){
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var IdTable = $("#CurrentTable").attr('alt');
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdSession').attr('alt')				
					Data[2] = $('#IdCourse1').val();
					Data[3] = $('#Count1').val();
					Data[4] = $('#Price1').val();
					Data[5] = 1;
					
					$("#DialogEdit").modal('hide');
										
					var URL = "/object/upd/SessionDetail";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							$("#Session").load("/selling/load/table/"+IdTable);
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(function(){
				$(event.currentTarget).find('input#Count1').first().focus()
				}, 0500);
			});
			
			$(".Ticket").click(function(){
				var url = $(this).attr('alt');
				var thePopup = window.open( url, "In Phiếu", "menubar=0,location=0,height=700,width=700" );
				thePopup.print();
			});
			
		/*]]>*/
		</script>
	</body>
</html>