<!DOCTYPE html>
<html lang="en">	
	<body>
		<div id="CourseLog" class="widget-content nopadding">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>						
						<th><div class="text-left">TÊN MÓN</div></th>
						<th><div class="text-left">BÀN</div></th>
						<th width="100"><div class="text-left">THỜI GIAN</div></th>
						<th width="65"><div class="text-right">CHỜ</div></th>
						<th width="30"><div class="text-right">SL</div></th>
						<th width="70"><div class="text-right">T.TRẠNG</div></th>
						<th width="50"><div class="text-left">CHUYỂN</div></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr tal:repeat="CL CLAllPrint">						
						<td><span tal:content="CL/getCourse/getName"/></td>
						<td><span tal:content="CL/getTable/getName"/></td>
						<td><span tal:content="CL/getDateTimePrint"/></td>
						<td align="right"><span tal:content="CL/getRemainWaiting"/> / <span tal:content="CL/getCourse/getPrepare"/></td>
						<td align="right"><span tal:content="CL/getCount"/></td>
						<td align="right"><span tal:content="CL/getStatePrint"/></td>
						<td>											
							<a class="remove-item" tal:attributes="data-id CL/getId; data-id-course CL/getIdCourse; data-id-table CL/getIdTable; data-count CL/getCount; data-datetime CL/getDateTime">OK</a>
						</td>
					</tr>
				</tbody>
			</table>
			<BR/>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>						
						<th><div class="text-left">TÊN MÓN</div></th>
						<th><div class="text-left">BÀN</div></th>
						<th width="100"><div class="text-left">THỜI GIAN</div></th>
						<th width="65"><div class="text-right">CHỜ</div></th>
						<th width="30"><div class="text-right">SL</div></th>
						<th width="70"><div class="text-right">T.TRẠNG</div></th>
						<th width="50"><div class="text-left">CHUYỂN</div></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr tal:repeat="CL CLAllKitchen">						
						<td><span tal:content="CL/getCourse/getName"/></td>
						<td><span tal:content="CL/getTable/getName"/></td>
						<td><span tal:content="CL/getDateTimePrint"/></td>
						<td align="right"><span tal:content="CL/getRemainWaiting"/> / <span tal:content="CL/getCourse/getPrepare"/></td>
						<td align="right"><span tal:content="CL/getCount"/></td>
						<td align="right"><span tal:content="CL/getStatePrint"/></td>
						<td>											
							<a class="remove-item" tal:attributes="data-id CL/getId; data-id-course CL/getIdCourse; data-id-table CL/getIdTable; data-count CL/getCount; data-datetime CL/getDateTime; data-state CL/getState">OK</a>
						</td>
					</tr>
				</tbody>
			</table>
			<BR/>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>						
						<th><div class="text-left">TÊN MÓN</div></th>
						<th><div class="text-left">BÀN</div></th>
						<th width="100"><div class="text-left">THỜI GIAN</div></th>
						<th width="65"><div class="text-right">CHỜ</div></th>
						<th width="30"><div class="text-right">SL</div></th>
						<th width="70"><div class="text-right">T.TRẠNG</div></th>
						<th width="50"><div class="text-left">CHUYỂN</div></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr tal:repeat="CL CLAllFinished">						
						<td><span tal:content="CL/getCourse/getName"/></td>
						<td><span tal:content="CL/getTable/getName"/></td>
						<td><span tal:content="CL/getDateTimePrint"/></td>
						<td align="right"><span tal:content="CL/getRemainWaiting"/> / <span tal:content="CL/getCourse/getPrepare"/></td>
						<td align="right"><span tal:content="CL/getCount"/></td>
						<td align="right"><span tal:content="CL/getStatePrint"/></td>
						<td>											
							<a class="remove-item" tal:attributes="data-id CL/getId; data-id-course CL/getIdCourse; data-id-table CL/getIdTable; data-count CL/getCount; data-datetime CL/getDateTime; data-state CL/getState">OK</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/												
			//-----------------------------------------------------------------------------------
			//Delete 1 REPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				var URL = "/object/update/CourseLog/";
				var State = 0;
				var Data = [];
				Data[0] = $(this).attr('data-id');
				Data[1] = $(this).attr('data-id-table');
				Data[2] = $(this).attr('data-id-course');
				Data[3] = $(this).attr('data-datetime');
				Data[4] = $(this).attr('data-count');
				
				State = $(this).attr('data-state');
				if (State ==0) State=1;
				else if (State ==1) State = 2;
				else if (State ==2) State = 1;
				
				Data[5] = State;
				
				var URL = "/object/upd/CourseLog";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});									
			});						
		/*]]>*/
		</script>
	</body>
</html>