<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/icheck/flat/blue.css"/>		
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/bootstrap-glyphicons.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/glyphicons-regular.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/unicorn.main.css"/>		
		<link rel="stylesheet" tal:attributes="href php:'/mvc/templates/theme/cms/css/unicorn.' . @\MVC\Base\SessionRegistry::instance()->getCurrentTheme() . '.css'" class="skin-color"/>		
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="40"><i class="glyphicons-cogwheels"/></th>
											<th><div class="text-left">THIẾT LẬP</div></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center"><a href="/setting/customer"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/customer'" >KHÁCH HÀNG</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/category"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/category'" >DANH MỤC MÓN</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/supplier"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/supplier'" >NHÀ CUNG CẤP</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/domain"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/domain'" >KHU VỰC</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/user"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/user'" >NGƯỜI DÙNG</a></td>
										</tr>									
										<tr>
											<td align="center"><a href="/setting/unit"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/unit'" >ĐƠN VỊ TÍNH</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/employee"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/employee'" >NHÂN VIÊN</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/termpaid"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/termpaid'" >DANH MỤC THU</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/termcollect"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/termcollect'" >DANH MỤC CHI</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/config"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/config'" >CẤU HÌNH</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="widget-content nopadding" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isManager()">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="40"><i class="glyphicons-cogwheels"/></th>
											<th><div class="text-left">THIẾT LẬP</div></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center"><a href="/setting/customer"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/customer'" >KHÁCH HÀNG</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/category"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/category'" >DANH MỤC MÓN</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/supplier"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/supplier'" >NHÀ CUNG CẤP</a></td>
										</tr>
										<tr>
											<td align="center"><a href="/setting/domain"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/domain'" >KHU VỰC</a></td>
										</tr>										
										<tr>
											<td align="center"><a href="/setting/unit"><i class="glyphicons-cogwheel"/></a></td>
											<td><a tal:attributes="href '/setting/unit'" >ĐƠN VỊ TÍNH</a></td>
										</tr>										
									</tbody>
								</table>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>		
		<script src="/mvc/templates/theme/cms/js/jquery.min.js" />
	</body>
</html>