<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/icheck/flat/blue.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/select2.css"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">			
			<ul style="display: block;">
				<li tal:repeat="Category1 CategoryAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':'disable'">
					<a tal:attributes="href Category1/getURLCourse">
						<i class="glyphicons-fast_food" /><span tal:content="Category1/getName"/>							
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div id="IdCategory" tal:attributes="alt Category/getId" class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					<div class="widget-box">						
						<div class="widget-content nopadding">														
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr role="row">
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th width="40" />
										<th width="40" />
										<th><div class="text-left">TÊN</div></th>
										<th width="120"><div class="text-left">ĐƠN VỊ</div></th>
										<th width="120"><div class="text-right">GIÁ BÁN</div></th>
										<th width="64">TỈ LỆ</th>										
										<th width="32"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr tal:repeat="Course CourseAll" class="gradeA odd">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Course/getId"/></td>
										<td>
											<i tal:condition="Course/getIsDiscount" class="glyphicons-star"/>
											<i tal:condition="not: Course/getIsDiscount" class="glyphicons-dislikes"/>
										</td>
										<td><i tal:condition="Course/getEnable" class="glyphicons-eye_open"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Course/getId" tal:content="Course/getName"/></td>
										<td><div tal:content="Course/getUnit"/></td>
										<td align="right"><div tal:content="Course/getPrice1Print"/></td>
										<td align="center"><a tal:attributes="href Course/getURLRecipe"><i class="glyphicons-edit"/></a></td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Course/getId"><i class="glyphicons-remove_2"/></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div metal:use-macro="mAdmin.xhtml/PageBar"/>					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>THÊM MÓN</h3>
								</div>
								<form id="FormCourseInsert" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">													
										<div class="form-group">
											<label class="control-label">Tên</label>
											<div class="controls">
												<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Tên ngắn</label>
											<div class="controls">
												<input id="ShortName1" name="ShortName1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá bán</label>
											<div class="controls">
												<input id="Price1" name="Price1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Đơn vị</label>
											<div class="controls">
												<select name="Unit1" id="Unit1" style="width:80%;">
													<option tal:repeat="Unit UnitAll" tal:attributes="value Unit/getName">
														<span tal:content="Unit/getName" />
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Số phút chuẩn bị</label>
											<div class="controls">
												<input id="Prepare1" name="Prepare1" type="text" class="form-control input-small" value="1"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giảm giá</label>
											<div class="controls">
												<select name="IsDiscount1" id="IsDiscount1" style="width:80%;">
													<option value="0">Không giảm</option>
													<option value="1">Giảm giá</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Hiển thị</label>
											<div class="controls">
												<select name="Enable1" id="Enable1" style="width:80%;">
													<option value="0">Tắt</option>
													<option value="1">Bật</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">										
										<button class="btn btn-primary btn-small" type="submit" value="Validate"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>CHỈNH SỬA MÓN</h3>
								</div>
								<form id="FormCourseUpdate" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="form-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tên ngắn</label>
										<div class="controls">
											<input id="ShortName2" name="ShortName2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giá bán</label>
										<div class="controls">
											<input id="Price2" name="Price2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Đơn vị</label>
										<div class="controls">
											<select name="Unit2" id="Unit2" style="width:80%;">
												<option tal:repeat="Unit UnitAll" tal:attributes="value Unit/getName">
													<span tal:content="Unit/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số phút chuẩn bị</label>
										<div class="controls">
											<input id="Prepare2" name="Prepare2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giảm giá</label>
										<div class="controls">
											<select name="IsDiscount2" id="IsDiscount2" style="width:80%;">
												<option value="0">Không giảm</option>
												<option value="1">Giảm giá</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Hiển thị</label>
										<div class="controls">
											<select name="Enable2" id="Enable2" style="width:80%;">
												<option value="0">Tắt</option>
												<option value="1">Bật</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit" value="Validate"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Course/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 COURSE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Course/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
						
			//-----------------------------------------------------------------------------------
			//Insert 1 RESOURCE			
			$("#FormCourseInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					},
					ShortName1:{
						minlength: 2,
						required:true
					},
					Price1:{
						number:true,
						required:true,
						min:0,
						max:10000000
					},
					Prepare1:{
						number:true,
						required:true,
						min:0,
						max:120
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';								
					Data[1] = $('#IdCategory').attr('alt');				
					Data[2] = $('#Name1').val();
					Data[3] = $('#ShortName1').val();
					Data[4] = $('#Unit1').val();
					Data[5] = $('#Price1').val();
					Data[6] = $('#Price1').val();
					Data[7] = $('#Price1').val();
					Data[8] = $('#Price1').val();
					Data[9] = "";
					Data[10] = $('#Prepare1').val();
					Data[11] = $('#IsDiscount1').val();
					Data[12] = $('#Enable1').val();
					
					var URL = "/object/ins/Course";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 COURSE
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Course/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt'	, data.Id);
					$('#Name2').attr('value'		, data.Name);
					$('#ShortName2').attr('value'	, data.ShortName);
					$('#Unit2').select2('val'		, data.Unit);
					$('#Price2').attr('value'		, data.Price1);
					$('#Prepare2').attr('value'		, data.Prepare);
					$('#IsDiscount2').select2('val'	, data.IsDiscount);
					$('#Enable2').select2('val'		, data.Enable);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 RESOURCE
			//-----------------------------------------------------------------------------------
			$("#FormCourseUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					},
					ShortName2:{
						minlength: 2,
						required:true
					},
					Price2:{
						number:true,
						required:true,
						min:0,
						max:10000000
					},
					Prepare2:{
						number:true,
						required:true,
						min:0,
						max:120
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];								
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdCategory').attr('alt');				
					Data[2] = $('#Name2').val();
					Data[3] = $('#ShortName2').val();
					Data[4] = $('#Unit2').val();
					Data[5] = $('#Price2').val();
					Data[6] = $('#Price2').val();
					Data[7] = $('#Price2').val();
					Data[8] = $('#Price2').val();
					Data[9] = "";
					Data[10] = $('#Prepare2').val();
					Data[11] = $('#IsDiscount2').val();
					Data[12] = $('#Enable2').val();
					
					var URL = "/object/upd/Course";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>		
	</body>
</html>