<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
			
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">															
					<div class="history-box">
						<h1 align="center">Lược Sử</h1>
						<p align="center">_____________________</p><br/>
						<p align="justify">
							Năm 1935, giữa đồng không mông quạnh, tu sĩ Nguyễn Văn Cứ dựng lên một ngôi chùa bé xíu lợp lá trên nền đất do vợ chồng ông Phan Văn Tài hiến cúng. Tu sĩ Nguyễn Văn Cứ ở đó tu trì bái sám. Dân quen gọi là chùa Lá.
						</p>
						<p align="justify">
							Ước hơn 10 năm, tu sĩ Nguyễn Văn Cứ rời chùa Lá đi tu hành nơi khác. Tu sĩ Hoằng Phước ở chùa Ngói (chùa Bửu Quang hiện nay) cách đó khoảng 01 km qua lại hương khói, thăm nom.
						</p>
						<p align="justify">
							Không lâu sau, có tu sĩ Nguyễn Văn Phót, pháp danh Thích Thiện Phát – dân quen gọi là ông giáo Tám – về tu. Ông giáo Tám hốt thuốc miễn phí cho dân. Ông sửa sang lại ngôi chùa đang quá hư hao. Chùa lúc này vách được làm bằng bùn trộn rơm. Dân vẫn gọi là chùa Lá. Ông giáo Tám có nhiều công đức với dân, được nhiều người yêu quý, có nhiều người gởi con cho ông nuôi hoặc đỡ đầu. Ông qua đời tại chùa vào ngày 13-8 âl-1972.
						</p>
						<p align="justify">
							Sau đó, tu sĩ Nguyễn Văn Còn, pháp danh Thích Thiện Tài về trụ; thời gian ước trên 10 năm rồi mất. Ít lâu sau nữa, tu sĩ Bùi Văn Tư, pháp danh Thích Thiện Đạo về ngụ; vì tuổi cao, không lâu lại qua đời. Chùa rơi vào hoang phế. Trong giai đoạn này, khi gia nhập Giáo hội Phật giáo Việt Nam, chùa được Hòa thượng Thích Chí Thọ đặt cho cái tên là Giác Quang tự (chùa Giác Quang).
						</p>
						<p align="justify">
							Ngày 30-7 âl-1988, xin được phép, ban hộ tự làm lễ rước sư cô Thích Nữ Như Hương về. Sư cô chính là Ni sư (sư bà) trụ trì hiện nay. Từ đó đến nay, dân vẫn gọi là ngôi chùa Lá, đã được trùng tu 03 lần, và nay (2012) đang tiến hành đại trùng tu. Từ đó đến nay, trong giấy tờ gọi là chùa Giác Quang, ước chừng đã có trên 30 lượt tín đồ quy y, đã có 02 đạo tràng sinh hoạt Tụng Kinh Pháp Hoa (bắt đầu năm 2000, khoảng 50 người) và Niệm Phật (bắt đầu năm 2008, khoảng 100 người), đã có 01 mô hình sinh hoạt thanh thiếu niên Phật tử (bắt đầu năm 2008, khoảng 100 em)_hoạt động thường xuyên mỗi tháng. Những công việc từ thiện vẫn sôi động theo từng quý: phát quà trung thu, phát quà người nghèo, cất nhà tình thương, đóng học phí và lo sách vở quần áo cho các em tới trường.
						</p>
						<p align="justify">
							Chùa Lá ngày nay, thân thương hơn trong lòng dân chúng. Giác Quang bây giờ, rộn ràng hơn trên bước đường đem giác ngộ quang chiếu muôn nơi.
						</p>
					</div>
					
					<div class="mail-box">
						<h2 align="left">Thư Ngỏ</h2><br/>
						<p align="justify">Nam mô Bổn sư Thích Ca Mâu Ni Phật!</p><br/>
						<p align="justify">
							Chùa Giác Quang tạo lập năm 1935, do HT. Thích Thiện Phát (tục danh Nguyễn Văn Phót) xây dựng bằng vật liệu thô sơ và bán kiên cố. Trải qua thời gian trên 75 năm, đến nay, chùa xuống cấp trầm trọng. Kèo chắp nối, đòn tay bị mối ăn mục nát; trụ cột cây tầm vông bao lưới lấp xi măng bên ngoài, cột đã gãy, xi măng bong tróc; mái chùa dột ướt khi mưa về.
						</p>
						<p align="justify">
							Từ năm 1988, Thích nữ Như Hương kế thừa, chịu trách nhiệm quán xuyến ngôi chùa. Được Giáo hội Phật giáo tỉnh Đồng Tháp, chính quyền các cấp cho phép, chùa Giác Quang bắt đầu tổ chức sinh hoạt đạo tràng từ năm 2000 đến nay, gồm có:
						</p>
						<p align="justify">
							<p>1. Đạo tràng niệm Phật mỗi tháng 03 ngày 11, 12, 13 al.</p>
							<p>2. Đạo tràng tụng Kinh Pháp Hoa mỗi tháng 03 ngày 28, 29, 30 al.</p>
							<p>3. Lớp Giáo lý Thanh thiếu niên mỗi tháng 02 ngày, vào chủ nhật.</p>
						</p>
						<p align="justify">
							Tứ chúng đến tu học ngày càng đông.
						</p>
						<p align="justify">
							Trước tình hình thực tế đó, để đảm bảo an toàn chỗ ăn ở tu học, bổn tự rất mong sự ủng hộ, chia sẻ của tất cả quý vị thiện hữu tri thức gần xa. Chùa có nơi nương tựa an toàn vững chắc, chính là nhờ sự hoan hỷ đóng góp và cống hiến công sức của nhiều người; được thế, mới mong công trình trùng tu chùa Giác Quang sớm thành tựu viên mãn.
						</p>
						<p align="justify">
							Hôm nay, con kính lời đến chư tôn Thiền Đức Tăng Ni, các cấp chính quyền, các nhà hảo tâm, các mạnh thường quân và Phật tử xa gần, mong nhận được sự ủng hộ, cho ngôi chùa Giác Quang sớm hoàn thành. Đó thật là công đức vô lượng.
						</p><br/>
						<p align="justify">
							Nam mô Công Đức Lâm Bồ Tát.
						</p>
						<p align="center">
							<p>Cầu mong cho:</p>
							<i><p>"Tam Bảo trang nghiêm</p>
							<p>Chánh Pháp thường trụ</p>
							<p>Tứ chúng đồng tu</p>
							<p>Đồng về Cực Lạc"</p></i>
						</p>
						<br/>
						<div style="width:200px; text-align:center; float:right">
							<p>Kính thư</p>
							<p><b>Chùa Giác Quang</b></p>
							<p>Trụ trì</p>
							<p><i>Thích Nữ Như Hương</i></p>
						</div>
						<div class="clear"></div>
						<p align="center">_____________________</p><br/>
						<p align="right">Mọi sự hỷ cúng xin liên hệ về <b>Thích Nữ Huệ Thanh</b></p>
						<p align="right"><b>Địa chỉ:</b> Chùa Giác Quang, Ấp Phú Hòa B, xã Phú Thuận A, huyện Hồng Ngự, tỉnh Đồng Tháp, Việt Nam.</p>
						<p align="right"><b>Điện thoại:</b> 0673 582 185 - <b>Di động:</b> 01215 97 555 9</p>
					</div>
					
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/new.gif" width="40"  />
							<span>Tiêu điểm</span>							
						</div>
						<div align="center" style="padding:10px;">
							<div class="picture-banner parent">
								<a tal:condition="Course" tal:attributes="href Course/getURLRead">
									<img width="100%" tal:attributes="src CategoryVideo/getPicture" />
									<div class="child" tal:content="Course/getName"/>
								</a>
								<a tal:condition="not:Course" href="#">
									Không có khóa học
								</a>
							</div>
							<div class="list-picture" tal:condition="Course">
								<div tal:condition="Course/getClassNear" class="grid-left parent">
									<a tal:condition="Course/getClassNear" tal:attributes="href Course/getClassNear/getURLRead">
										<img width="280" height="86" tal:attributes="src Course/getClassNear/getImage" />
									</a>									
									<div style="margin-top:-25px;">
										<h3 style="margin-bottom:5px; color:#FF0000; text-align:left; padding-left:15px; margin-top:30px;">
											KHÓA HỌC ĐÃ TỔ CHỨC
										</h3>
										<div tal:condition="Course/getClassNear" id="class1Countdown" style="margin-left:5px;" tal:attributes="alt Course/getClassNear/getDateEnd" />
										<h3 style="position:absolute; right:15px; bottom:5px; color:#FF0000;">
											GẦN NHẤT
										</h3>
									</div>
									<script type="text/javascript">
										/*<![CDATA[*/
										$(function() {
											var d1 = $("#class1Countdown").attr('alt');
											var parts = d1.match(/(\d+)/g);
											// new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
											var d2 = new Date(parts[0], parts[1]-1, parts[2]); // months are 0-based											
											$('#class1Countdown').countdown({until: d2});											
										});
										/*]]>*/
									</script>
									<div class="child" tal:content="Course/getClassNear/getName | string:Không lớp nào đang học" />
								</div>
								<div tal:condition="Course/getClassNext" class="grid-right parent">
									<a tal:condition="Course/getClassNext" tal:attributes="href Course/getClassNext/getURLRead">
										<img width="280" height="86" tal:attributes="src Course/getClassNext/getImage | string:/data/images/app/lession.jpg" />
									</a>									
									<div style="margin-top:-25px;">
										<h3 style="margin-bottom:5px; color:#0000FF; text-align:left; padding-left:15px; margin-top:30px;">
											CÒN
										</h3>
										<div id="class2Countdown" style="margin-left:5px;" tal:attributes="alt Course/getClassNext/getDateStart" />
										<h3 style="position:absolute; right:15px; bottom:5px; color:#0000FF;">
											KHÓA HỌC BẮT ĐẦU
										</h3>
									</div>
									<script type="text/javascript">
										/*<![CDATA[*/
										$(function() {
											var d1 = $("#class2Countdown").attr('alt');
											var parts = d1.match(/(\d+)/g);											
											var d2 = new Date(parts[0], parts[1]-1, parts[2]);
											$('#class2Countdown').countdown({until: d2});
										});
										/*]]>*/
									</script>
									<div class="child" tal:content="Course/getClassNext/getName | string:Chưa có lớp tiếp theo" />
								</div>
								<div class="clear"/>
							</div>
							<ul class="list-video">							
								<li tal:repeat="VM VM8">
									<a tal:attributes="href VM/getURLView; title VM/getVideo/getName">
										<img tal:attributes="src VM/getVideo/getURLImage" width="140px" height="110px" />
										<div class="monk" tal:content="VM/getMonk/getName" />
										<div class="name" tal:content="VM/getVideo/getName" />
									</a>
								</li>
							</ul>
							<div class="clear" />
						</div>
					</div>
					<div class="news-box" tal:repeat="Category Categories">
						<div class="box-title">
							<img src="/data/images/news.png" width="30" />
							<span tal:content="Category/getName" />
							<a tal:attributes="href Category/getURLRead" >Xem hết</a>
						</div>
						
						<div class="news-box-left" tal:condition="Category/getNewsLimit/current">
							<div align="center">
								<img width="200" tal:attributes="src Category/getNewsLimit/current/getImage" />
							</div>
							<div class="box-news-content-left-main">
								<span tal:content="Category/getNewsLimit/current/getTitle" /><br/>
								(<span tal:content="Category/getNewsLimit/current/getDatePrint" />)<br/>
							</div>
							<a tal:attributes="href Category/getNewsLimit/current/getURLRead">Xem chi tiết</a>
						</div>
						
						<div class="news-box-right">
							<ul class="list">
								<a tal:repeat="News Category/getNewsLimit" tal:attributes="href News/getURLRead">
									<li tal:content="News/getTitle" />
								</a>
							</ul>
						</div>
						
						<div class="clear"></div>
					</div>
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/phatam.png" width="30" />
							<span>Video mới nhất</span>
							<a href="/library/video" >Xem hết</a>
						</div>						
						<div align="center" style="padding:10px;">
							<ul class="list-video">									
								<li tal:repeat="VM VM24">
									<a tal:attributes="href VM/getURLView; title VM/getVideo/getName">
										<img tal:attributes="src VM/getVideo/getURLImage" width="140px" height="110px" />
										<div class="monk" tal:content="VM/getMonk/getName" />
										<div class="name" tal:content="VM/getVideo/getName" />
									</a>
								</li>								
							</ul>
							<div class="clear" />
						</div>
					</div>
				</div>				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/CourseBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/VideoBox"/>
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					<div metal:use-macro="macros.xhtml/AdsBox"/>
				</div>				
				<div class="clear"></div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>