<!DOCTYPE html> 
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-1.7.1.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.jplayer.min.js"/>
		<script>
		/*<![CDATA[*/
		$(document).ready(function(){
			$("#jquery_audioPlayer").jPlayer({
				ready: function() {
					$(this).jPlayer("setMedia", {
						mp3:"/data/intro.mp3"
					}).jPlayer("play");
				},
				swfPath: "data",
				supplied: "mp3",
				loop: true,
				wmode: "window"
			});
		});
		/*]]>*/
		</script>
	</head>
	
	<body>
		<div class="cover-inner">
			<img src="/data/images/logo/buddha.gif"/>
		</div>
		<div class="title">
			<a href="/trang-chu">Vào trang chủ
				<p>Chùa Phước Hưng</p>
			</a>
		</div>
		<div id="jquery_audioPlayer" class="jp-jplayer"></div>
	</body>
</html>