<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">		
			<div metal:use-macro="macros.xhtml/Header" />	
			<div id="main">					
				<div id="content">
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="Title"/>
						</div>
						<div tal:repeat="News NewsAll" style="padding:10px;" >							
							<div width="620px" >
								<img align="left" class="news-img" tal:attributes="src News/getImage" />
								<span align="left" style="text-align:justify;">
									<div class="news-title"><a tal:attributes="href News/getURLRead" tal:content="News/getTitle"/></div>
									(<span tal:content="News/getDatePrint"/>)
								</span>
							</div>
							<div class="clear" />
						</div>
						<div class="page-list">								
							<span tal:repeat="P PN/getPages">
								<a tal:attributes="href P/getURL;class php:Page==P->getId()?'curent':'?'" tal:content="P/getName" />
							</span>
						</div>
						<div class="clear" />
					</div>
				</div>				
				<div id="sidebar">																				
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/BoxAds"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />			
		</div>
	</body>
</html>