<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div role="main" class="ui-content jqm-content">									
				<div class="panel-heading"><h3 class="panel-title" tal:content="string:LIÊN HỆ" /></div>
				<div class="panel-body">
					<div class="page-header clearfix">												
						<div class="padding-content name-card">
							<center>
								<h2>Chùa Long Viễn</h2>
								<p>126/27 Trần Phú - Phường 4 - TP.Vĩnh Long - Vĩnh Long - Việt Nam</p>
								<hr/>
							</center>
							<p><i class="icon-user"/> Đại diện: Thượng tọa Thích Thiện Trí</p>
							<p><i class="icon-phone"/> Điện thoại: 0919 2 444 00 - 0949 66 14 94</p>
							<p><i class="icon-envelope"/> Email: thichthientrilongvien@gmail.com</p>
						</div>
					</div>
				</div>
			</div>			
			<tal:block metal:use-macro="mFront.xhtml/Menu"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>