<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/plugins/photoswipe/photoswipe.css"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/plugins/photoswipe/default-skin/default-skin.css"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript" src="/mvc/templates/plugins/photoswipe/photoswipe.min.js"></script>
		<script type="text/javascript" src="/mvc/templates/plugins/photoswipe/photoswipe-ui-default.min.js"></script>
		<script>
		/*<![CDATA[*/
			$(document).ready(function() {
				$(".img-thumbnail").click(function(){					
					$("#dynamic-style").attr("href", "");
					var pswpElement = document.querySelectorAll('.pswp')[0];
					var images;					
					$.ajax({
						type: "POST",
						async:false,
						dataType: "json",
						url: $(this).attr('data-url'),
						success: function(data){							
							images = data;
						}
					});
										
					var options = {       
						history: false,
						focus: false,
						showAnimationDuration: 1,
						hideAnimationDuration: 1
					};
					
					var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, images, options);
					gallery.init();
					gallery.listen('close', function(){
						$("#dynamic-style").attr("href", "/mvc/templates/mobile/css/jquery.mobile-1.4.5.min.css");
					});
				});
			});
			/*]]>*/
		</script>
	</head>
	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>			
			<div role="main" class="ui-content jqm-content">								
				<img tal:condition="AlbumCurrent/getImageAll/count" id="Album" class="img-thumbnail" tal:attributes="src AlbumCurrent/getImageAll/current/getURL; data-url AlbumCurrent/getURLJSON" />
				<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="pswp__bg"></div>
					<div class="pswp__scroll-wrap">
						<div class="pswp__container">
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
						</div>
						<div class="pswp__ui pswp__ui--hidden">
							<div class="pswp__top-bar">
								<div class="pswp__counter"></div>
								<button class="pswp__button pswp__button--close" id="pswp-close" title="Close (Esc)"></button>
								<button class="pswp__button pswp__button--share" title="Share"></button>
								<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
								<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
								<div class="pswp__preloader">
									<div class="pswp__preloader__icn">
										<div class="pswp__preloader__cut">
											<div class="pswp__preloader__donut"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
								<div class="pswp__share-tooltip"></div> 
							</div>
							<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
							<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
							<div class="pswp__caption">
								<div class="pswp__caption__center"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<tal:block metal:use-macro="mFront.xhtml/MenuAlbum"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>