<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>			
			<div role="main" class="ui-content jqm-content">
				<div class="panel-heading"><h3 class="panel-title" tal:content="AlbumCurrent/getName" /></div>
				<embed 
					type="application/x-shockwave-flash" 
					src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
					width="100%"
					height="400px"
					tal:attributes="flashvars AlbumCurrent/getURL"
					pluginspage="http://www.macromedia.com/go/getflashplayer"
					wmode="Opaque">
				</embed>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/MenuAlbum"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>