<!DOCTYPE html>
<html lang="en">
	<head>
		<title tal:content="php: 'Website ' . Pagoda->getName() . ' ' . Pagoda->getAddress()" />
		<base href="http://chualongvien.com"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="-1"/>
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<meta name="keywords" tal:attributes="content php: 'Website ' . Pagoda->getName() . ' ' . Pagoda->getAddress()"/>
		<meta name="description" tal:attributes="content php: 'Website ' . Pagoda->getName() . ' ' . Pagoda->getAddress()"/>
		<meta name="page-topic" content="Danh bạ Chùa Việt Nam, Mạng xã hội Phật Giáo"/>
		<meta name="Abstract" content="Danh bạ Chùa Việt Nam, Mạng xã hội Phật Giáo"/>
		<meta name="classification" content="Danh bạ Chùa Việt Nam, Mạng xã hội Phật Giáo, thiết kế Web, SPN"/>
		<link rel="shortcut icon" href="/data/images/logo/favicon.ico" type="image/x-icon"/>
		
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body onunload="GUnload()">
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width" id="PagodaInfo">
					<div class="box radius">
						<div class="page-header pg-header pg-header-pagoda reset-margin">
							<h4 class="reset-margin">
								<a tal:attributes="href Pagoda/getURLView">THÔNG TIN</a>
							</h4>
						</div>
						<div class="b-content padding-content news-content">
							<div class="padding-content name-card">
								<center>
									<h2 tal:content="Pagoda/getName"/>
									<p tal:content="Pagoda/getAddress"/>
									<hr/>
								</center>
								<p><i class="icon-user icon-white"/> Đại diện: <span tal:content="Pagoda/getMonk"/></p>
								<p><i class="icon-home icon-white"/> Điện thoại: <span tal:content="Pagoda/getPhone"/></p>
								<p><i class="icon-envelope icon-white"/> Email: <span tal:content="Pagoda/getEmail"/></p>
								<p><i class="icon-globe icon-white"/> Website: <a tal:attributes="href Pagoda/getWebsite" tal:content="Pagoda/getWebsite" target="blank"/></p>
								
								<input id="Name" type="hidden" tal:attributes="value Pagoda/getName"/>
								<input id="X" type="hidden" tal:attributes="value Pagoda/getLatitude"/>
								<input id="Y" type="hidden" tal:attributes="value Pagoda/getLongitude"/>
								<input id="Logo" type="hidden" tal:attributes="value '/data/images/bg/gate.png'"/>
										
							</div>							
						</div>
					</div>
					<div class="box radius" tal:condition="Video">
						<div class="page-header pg-header pg-header-video reset-margin">
							<h4 class="reset-margin" tal:content="Video/getName"/>
						</div>
						<div class="b-content padding-content news-content">														
							<div class="news-main">								
								<iframe width="100%" height="480px" 
									tal:attributes="src Video/getURL" 
									frameborder="0" allowfullscreen="true">
								</iframe>
							</div>
							<div class="news-author" tal:content="Video/getNote"/>
							<ul class="nav nav-tabs nav-stacked reset-margin">
								<li class="active news-list-title"><a>Video khác</a></li>
								<li tal:repeat="Video Pagoda/getVideoAll" class="news-list-item">
									<a tal:attributes="href Video/getURLView">
										<span tal:content="Video/getName"/>
										<span tal:content="Video/getTimePrint"/>
										<i class="icon-chevron-right pull-right"/>
									</a>
								</li>
							</ul>
						</div>
					</div>					
					<div class="box radius">
						<div class="page-header pg-header pg-header-paper reset-margin">
							<h4 class="reset-margin">PHẢN HỒI</h4>
						</div>
						<div class="b-content padding-content news-content">
							<p>Nếu thông tin về <B tal:content="Pagoda/getName"/> chưa chính xác hoặc thiếu xót. Quí vị có thể liên lạc trực tiếp với chúng tôi
							bằng cách điền form thông tin mẫu ở bên dưới đây. Các thông tin sẽ được BBT Website xác định tính chính xác và cập nhật kịp thời thông tin mà quí vị phản hồi.</p>
							<form class="form-horizontal" action="" method="POST">
								<div class="control-group">
									<label class="control-label">Tên&#42;</label>
									<div class="controls">
										<input type="text" name="contact-name" id="contact-name" required="" class="form-control input-xlarge"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Email&#42;</label>
									<div class="controls">
										<input type="email" name="contact-email" id="contact-email" required="" class="form-control input-xlarge"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Chủ đề&#42;</label>
									<div class="controls">
										<input type="text" name="contact-subject" id="contact-subject" required="" class="form-control input-xlarge"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Nội dung&#42;</label>
									<div class="controls">
										<textarea name="contact-message" id="contact-message" class="form-control input-xlarge" cols="30" rows="6"></textarea>
									</div>
								</div>
								<center>
									<input id="BtnSend" type="submit" value="Gửi" class="btn btn-custom-2 md-margin"/>
								</center>
							</form>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">					
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Danh sách</div>
						</div>
						<div class="b-content padding-content">
							<div id="ProvinceDomain" class="controls">
								<select name="IdProvince" id="ProvinceList" style="width:100%;">
									<option tal:repeat="Province ProvinceAll" tal:attributes="value Province/getId; selected php: Province->getId()==ProvinceCurrent?true:false">
										<span tal:content="Province/getName"/>
									</option>
								</select>
							</div>
							<div id="DistrictDomain" />
							<div id="PagodaDomain" tal:attributes="class PagodaKey"/>
						</div>
					</div>					
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>						
			<div metal:use-macro="base.xhtml/FixedFunction"/>			
			<div metal:use-macro="base.xhtml/Backontop"/>
			<script>									
				//NẠP DANH SÁCH CÁC HUYỆN TƯƠNG ỨNG TỈNH
				$('#ProvinceList').on('change', function (e) {
					var IdProvince = $(this).val();				
					$("#DistrictDomain").load("/danh-ba/tinh/"+IdProvince);
				});
				$('#ProvinceList').change();				
			
			</script>
		</div>
	</body>
</html>