<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div role="main" class="ui-content jqm-content">									
				<div class="panel-heading"><h3 class="panel-title" tal:content="News/getTitle" /></div>
				<div class="panel-body">
					<div class="page-header clearfix">								
						<p class="pull-left">Ngày đăng: <i tal:content="News/getDatePrint"/></p>
						<div class="share-button-group pull-right">
							
						</div>
					</div>					
					<div tal:content="structure News/getContent" class="article-content-container"/>
					<b class="pull-right" tal:content="News/getAuthor"/>
				</div>
			</div>			
			<tal:block metal:use-macro="mFront.xhtml/MenuNews"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>