<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body class="ui-mobile-viewport ui-overlay-a">
		<div data-role="page" class="jqm-demos ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div role="main" class="ui-content jqm-content">
				Kết quả tìm kiếm
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Menu"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>
