*{margin:0px auto;}
body { background: url("../data/images/bg/bg.png") no-repeat fixed center bottom #cac6c6 !important; }
	
	.container { box-shadow: 0 0 2px 2px #C45B05;}
#headermn {width: 1000px;}
#headermn .inner { width: 980px; margin: 0px auto;}
.headermn-top { background: url("../images/thanhngang.png"); width: 1000px; height: 40px;font-weight:bold;}
.headermn-top .inner > ul > li { float: left;}
.headermn-top ul li a { color: #fff; font-size: 13px;}
.headermn-top li:hover a{
color: yellow; 
background:none;}
.headermn-top li {
    background: url('../images/bullet-1.png') no-repeat scroll 0px 10px transparent;
    padding: 0px 10px;
	}
	.headermn-top  li:first-child {
    padding: 0px 10px 0px 0px;
    background: none repeat scroll 0% 0% transparent;
}
.wp1000 {
width: 1000px;
float: none;
margin: 0 auto;
}
.vippraoLoad {
    background: #d3d3d3; background: rgba(0, 0, 0, 0.30);
	filter: alpha(opacity = 30); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; font-family: Tahoma; font-size: 12px; width:200px; left:50%; top:35%; margin-left:-100px; margin-top:-33px; color:#FFF; text-align:center; padding:10px; position: fixed; 
}
.details-ct {
    padding: 0px 20px 20px;
}
.detail-info {
    overflow: hidden;
    margin: 0px 0px 20px;
}
.detail-info .col-1 {
    float: left;
    width: 160px;
    margin: 0px 20px 0px 0px;
}
.detail-info .col-2 {
    float: left;
    width: 440px;
}
.dt-name {
    font-size: 16px;
    font-weight: bold;
    color: #C45B05;
    line-height: 18px;
    margin: 0px 0px 20px;
}
.dt-intro {
    line-height: 20px;
}
.btn-viewmore {
    display: block;
    float: left;
    width: 180px;
    height: 28px;
    background: none repeat scroll 0% 0% #F6F3F0;
    line-height: 28px;
    text-align: center;
}
.img-box img {
    width: 200px;
	height: 195px;
}
.img-box {
    display: block;
    width: 200px;
    height: 195px;
    padding: 4px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
}

#mcts1 
{
    width:985px;
    height:250px;
    margin: 0 auto;
    padding:5px 5px;
    border:1px solid #cfcfcf;
    background:#fcfcfc;
    box-shadow: 0px 1px 11px #CCCCCC;
	border-radius:5px;
    
    /* Do not alter the below settings */
    white-space:nowrap;
    position:relative;
    font-size:0px;
	margin-bottom:5px;
}


#mcts1 img 
{
    border:none;
	padding:1px 2px 1px 2px;
	width:275px;
	height:250px;
	border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 1 1px 3px rgba(0,0,0,0.055);
-moz-box-shadow: 1 1px 3px rgba(0,0,0,0.055);
box-shadow: 1 1px 3px rgba(0,0,0,0.055);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.chao{
padding-left:10px;
font-size:13px;
color:white;
}
.tim{
height: 40px;
width: 350px;
float: right;
margin-top: -10px;
margin-bottom: 10px;
}
.chao a{
color:blue;
font-weight:bold;
font-size:14px;
}
.banner{
	position: absolute;
	width: 120px;
	height: 300px;
	background:url(../images/3.jpg);
	top: 20px;
}
#banner_l{
	left: 5px;
}
#banner_r{
	right: 5px;
}

.zindex{
	z-index: -999;
}

.banner a{
	display: block;
	width: 100%;
	height: 100%;
	border:0;
	text-indent: -9999px
}
.khac{
padding: 4px 5px;
background-color: #C45B05;
border-radius: 4px;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;}

.headermn-top a:hover { color: #ffc200;}
.frm-search input[type="submit"] {
background: url(../images/bgd-search.png) no-repeat -169px 0px;
width: 27px;
height: 26px;
text-indent: -9999px;
font-size: 0px;
display: block;
color: #ffcd30;
float: left;
cursor: pointer;
border-radius: 0px;}
.frm-search > span {
display: block;
width: 159px;
height: 16px;
line-height: 16px;
padding: 0px;
background: url(../images/bgd-search.png) no-repeat 0px 0px;
float: left;}
.frm-search input[type="text"] {
width: 159px;
height: 26px;
}.frm-search {
margin: 7px 0px 0px;
overflow: hidden;
}
.divvinh{
overflow:scroll;
height:400px;
width:298px;
}
.hbtbl {
table-layout: fixed;
word-wrap: break-word;
overflow: hidden;
}
.stxt2 {
background-color: #EDF3F7;
color: #232323;
}
.dtxt2 {
color: #92B6D0;
font-size: 7pt;
text-align: right;
}
.thongke {
line-height: 17px;
font-size: 13px;
color: #706AAE;
padding-left:5px;
padding-top:5px;
}
.hinh {
width:70px;
height:70px;
line-height: 20px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
margin-bottom:5px;
}
.phapam{
color: #fff;
background-color: #2f96b4;}
.phapam{
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #49afcd;
background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.listvideo {
overflow: auto;
height: 180px;
background: url(../data/images/bg/top_bna.jpg) #670001;
background-position: center;
color: #FFFFFF;
text-align: left;
}
.video A {
float: left;
width: 618px;
height: 15px;
padding: 5px;
color:#FFFFFF;
border-bottom: 1px solid #990000;
}
.video A:hover {
color: #000;
text-decoration: underline;
background-image:url(../data/images/bg/ngoisao.gif);
cursor: pointer;
}
.fr {
float: right;
}
.nenaudio {
width:100%;
height:50px;
}
.gsnoibac {
width:20px;
height:20px;
}
.thongbao {
width:30px;
height:30px;
}
.nenaudiotc {
width:100%;
height:100px;
}
.hinhhot {
margin-bottom: -5px;
}
.comment {
background: #e9e9e9;
padding: 10px;
overflow: hidden;
border: 1px solid #dfdfdf;
border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
-webkit-border-radius: 3px;
box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.2);
-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.2);
-moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.2);
-ms-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.2);
-o-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.2);
}

	.top-menu { background: url("../images/thanhngang.png");font-weight:bold; }
	
		.top-menu li a {
			color: #FFFFFF !important;
			text-shadow: 1px 1px 0 #696969 !important;
		}
		
		.top-menu li:hover a { background: rgba(255, 255, 255, .3) !important; }
		
		.top-menu li.active a {
			background: none !important;
			color: #FFFD5B !important;
		}
		
		.top-menu .caret { border-top-color: #FFFFFF !important; }
		
		.top-menu .dropdown-menu { background: url("../data/images/bg/submenu.jpg") repeat top left transparent; }
		
		.top-menu .dropdown-menu li a {
			color: #980707 !important;
			text-shadow: none !important;
			font-weight:bold;
		}
		
		.top-menu .dropdown-menu li:hover a { background:#E4E4E4 !important; }
		
	/* ======================================================================== */
	/* MAIN																		*/
	/* ======================================================================== */
	.main { background-color: white; }
	
	/* ======================================================================== */
	/* FOOTER																	*/
	/* ======================================================================== */
.footer {
		background:url("../images/2hoavan.png") no-repeat #553700;
		color: white;
	}


	.footer2 {
		color:#663399;
		background:#FFFFFF;
		box-shadow: 0px 0px 3px #000000;
	}
	.footer2 img {
		height:200px;
		width:200px;
padding: 4px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
	}
	.footer4 {
		color:#663399;
		background:#FFFFFF;
		box-shadow: 0px 0px 3px #000000;
	}
	.footer4 img {
		height:100px;
		width:150px;
padding: 4px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
	}
	
	
	
	.footer3 {
		color:#663399;
		background:#FFFFFF;
		box-shadow: 0px 0px 3px #000000;
	}
	.footer3 img {
		height:200px;
		width:290px;
padding: 4px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
box-shadow: 0 1px 3px rgba(0,0,0,0.055);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
	}
	.box { border: 1px solid #78695f; }
	
		.box .b-title {
			*background-color: #78695f;
			background:url("../images/thanhngang.png");
			border-bottom: 1px solid #176A9E;
			font-weight:bold;
		}
		.b-title .b-t-icon-xemtatca {
			background: url('../images/bgd-viewall.png') no-repeat scroll 285px 5px transparent;
			color: white;}
		.b-title .b-t-icon-content {
			background: url("../data/images/bg/title_icon.png") no-repeat 5px 1px transparent;
			color: white;}
			
			.b-title .b-t-icon-sua {
			background: url("../data/images/bg/tu.png") no-repeat 5px 1px transparent;
			color: white;}
			
			.b-title .b-t-icon-tintuc {
			background: url("../data/images/bg/icon-head.png") no-repeat 5px 1px transparent;
			color: white;}
			
			.b-title .b-t-icon-videotc {
			background: url("../data/images/bg/movies_dvd.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-videotctd {
			background: url("../data/images/bg/a.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-thongbao {
			background: url("../data/images/bg/fo_icon_58.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-nghenhac {
			background: url("../data/images/bg/aqua_smooth_folder_music.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-anh {
			background: url("../data/images/bg/pictures_folder_graphite.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-right {
			background: url("../data/images/bg/fo_icon_47.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-giangsu {
			background: url("../data/images/bg/fo_icon_40.png") no-repeat 5px 1px transparent;
			color: white;}
			.b-title .b-t-icon-login {
			background: url("../data/images/bg/login.png") no-repeat 5px 1px transparent;
			color: white;}
		
		}
		
		.box .b-content { background-color: white; }
		
	.ads-popup {
		background-color: rgba(0, 0, 0, .9);
		border: 2px solid #696969;
	}
	
	.ads-close, #ads-open {
		background-color: rgba(255, 0, 0, .9);
		border: 1px solid #FF0000;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.fixed-function { background-color: rgba(0, 0, 0, .7); }
	
		.bubble {
			background-color: #0D8700;
			color: white;
			border: 1px solid white;
		}
		
		.bubble:after { border-color: white transparent transparent transparent; }
		
		.bubble-item { color: white; }
		
	.history-box {
		color: #980707;
		text-shadow: 0px 0px 3px #FFFFFF;
	}
	
		.history-top { background: url("../data/images/bg/history_top.png") no-repeat top left transparent; }
		
		.history-mid { background: url("../data/images/bg/history_mid.png") repeat-y top left transparent; }
		
		.history-bot { background: url("../data/images/bg/history_bot.png") no-repeat top left transparent; }
		
	.news-list-title { color: #A99999; }
	
		.news-list-item a { color: #0D8700 !important; }
		.news-list-item2 a { color:#FFFFFF !important; }
		
		.new-list-polaroid .media-time { color: #696969; }

	.grid-item li a,
	.grid-item-2 li a,
	.grid-item-3 li a,
	.date-time,
	.news-content .news-author p,
	.news-content .news-author p a,
	.eventCalendar-wrap
	{ color: #0D8700 !important; }

	
	.news-content .news-author {
		border-top: 1px solid #0D8700;
		border-bottom: 1px solid #0D8700;
		background-color: #FFEAC9;
	}
	
	.list-3 li.active a {
		color: #E54C0B !important;
	}
	
	.eventsCalendar-currentTitle {
		background-color: #764D00;
		outline: 1px solid #0D8700;
		border: 1px solid #E3E3E3;
	}
	
	.eventsCalendar-daysList li.current a {
		background: #D28316;
		box-shadow: inset 5px 5px 10px #D28316;
	}
	
	.eventsCalendar-list .eventsCalendar-noEvents {
		background-color: #0D8700;
		box-shadow: 0 0 10px #0D8700;
	}
	
	.pg-header {
		color: white;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		padding: 15px 10px 27px 60px;
	}
	
		.pg-header-video { background: url("../data/images/bg/video.png") no-repeat top left #5C4D41; }
		.pg-header-videos { background: url("../data/images/bg/videos.png") no-repeat top left #5C4D41; }
		.pg-header-news { background: url("../data/images/bg/news.png") no-repeat top left #5C4D41; }
		.pg-header-pagoda { background: url("../data/images/bg/pagoda.png") no-repeat top left #5C4D41; }
		.pg-header-paper { background: url("../data/images/bg/paper.png") no-repeat top left #5C4D41; }
		.pg-header-picture { background: url("../data/images/bg/picture.png") no-repeat top left #5C4D41; }
		.pg-header-location { background: url("../data/images/bg/location.png") no-repeat top left #5C4D41; }
		.pg-header-question { background: url("../data/images/bg/question.png") no-repeat top left #5C4D41; }
		.pg-header-event { background: url("../data/images/bg/event.png") no-repeat top left #5C4D41;}
		.pg-header-tuthien { background: url("../data/images/bg/images.png") no-repeat top left #5C4D41;}
		.pg-header-login { background: url("../data/images/bg/login.png") no-repeat top left #5C4D41;}

	.pg-header a {
		color: white !important;
	}
	
	.crunchify-top:hover {
		background-color: rgba(255, 255, 255, .6);
	}
 
	.crunchify-top {
		color: #FFFFFF;
		background: url("../data/images/bg/go_top.png") no-repeat center center rgba(255, 255, 255, .4);
	}
	
	/* CALENDAR */
	.calendar-table {
		border: 1px solid #E3E3E3;
		background-color:#CCCCCC;
		background-image: linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
		background-image: -o-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
		background-image: -moz-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
		background-image: -webkit-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
		background-image: -ms-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.42, #EEEEEE),
			color-stop(0.71, #CCCCCC)
		);
	}
	.calendar-table tr:first-child  {
		background-color: #823918;
		outline: 1px solid #823918;
		border: 1px solid #E3E3E3;
		color: #fff;
	}
		.calendar-table tr:first-child a { color: white; }
		.calendar-table .day-title td { color: #823918; }
		.calendar-table .day-list td {
			border-top: solid 1px #fff;
			border-right: solid 1px #BCBCBC;
			color: #823918;
		}
			.calendar-table .day-list td div { color: #3B579D; }
			.calendar-table .day-list td.homnay {
				box-shadow: inset 10px 10px 20px #FFF0C4;
				background-color: #FFDD00;
			}
	.calendar-table .day-list td#calendar:hover {
		box-shadow: inset 5px 5px 10px #C1C1C1;
		background-color: #E4E4E4;
	}
	.calendar-paper {
		background: url("../data/images/bg/calendar.png") no-repeat top center #85440A;
		color: #FFDD00;
		box-shadow: 3px 3px 2px #696969;
		border-radius: 5px;
	}
	
	/* NAME CARD */
	.name-card {
		background: url('../data/images/bg/name_card.jpg') no-repeat bottom right #372920;
		color: white;
		box-shadow: 0 0 2px 2px #666;
		border: 1px solid #FAFAFA;
	}
		.name-card h2 { text-shadow: 0 0 5px #FFF; }
		.name-card hr { border-color: #FAFAFA; }
  