Options +FollowSymLinks
RewriteEngine On
RewriteRule ^trang-chu$ index.php
RewriteRule ^gioi-thieu$ index.php?frame=gioithieu&%{QUERY_STRING}
RewriteRule ^trangdownload$ index.php?frame=trangdownload&%{QUERY_STRING}
RewriteRule ^so-vang-cong-duc-([^/\.]+)-([^/\.]+)$ index.php?frame=sovangct&id=$1&%{QUERY_STRING}
RewriteRule ^thong-bao$ index.php?frame=thongbao&%{QUERY_STRING}
RewriteRule ^thong-bao-chi-tiet([^/\.]+)$ index.php?frame=thongbaoct&id=$1&%{QUERY_STRING}
RewriteRule ^tin-tuc([0-9]+)$ index.php?frame=tintuc&id=$1&%{QUERY_STRING}
RewriteRule ^tin-tuc([0-9]+)-page=(.+)$ index.php?frame=tintuc&id=$1&page=$2%{QUERY_STRING}
RewriteRule ^tin-tuc-chi-tiet-([0-9]+)-([^/\.]+)$ index.php?frame=tintucct&id=$1
RewriteRule ^quang-cao-chi-tiet-([^/\.]+)$ index.php?frame=quancaoct&id=$1
RewriteRule ^su-kien$ index.php?frame=sukien&%{QUERY_STRING}
RewriteRule ^chi-tiet-su-kien([0-9]+)$ index.php?frame=sukienct&id=$1&%{QUERY_STRING}
RewriteRule ^phat-am-([0-9]+)-([^/\.]+)$ index.php?frame=video&videoid=$1%{QUERY_STRING}
RewriteRule ^([0-9]+)-([0-9]+)-([^/\.]+)-([^/\.]+)$ index.php?frame=videogiangsu&id1=$1&id2=$2
RewriteRule ^trang-([0-9]+)-([0-9]+)-([0-9]+)$ index.php?frame=videogiangsu&id1=$1&id2=$2&page=$3
RewriteRule ^trang([0-9]+)-([0-9]+)-([0-9]+)$ index.php?frame=videogiangsugiam&id1=$1&id2=$2&page=$3
RewriteRule ^videogiam-([0-9]+)-([0-9]+)-([^/\.]+)-([^/\.]+)$ index.php?frame=videogiangsugiam&id1=$1&id2=$2%{QUERY_STRING}
RewriteRule ^video-([0-9]+)-(.+)$ index.php?frame=videoplayer&id1=$1&id2=$2
RewriteRule ^videohat-([0-9]+)-(.+)$ index.php?frame=videoplayergiam&id1=$1&id2=$2
RewriteRule ^dat-cau-hoi$ index.php?frame=datcauhoi&%{QUERY_STRING}
RewriteRule ^danh-muc-hoi-dap([0-9]+)$ index.php?frame=hoidap&id=$1&%{QUERY_STRING}
RewriteRule ^danh-muc-hoi-dap([0-9]+)-page=([0-9]+)$ index.php?frame=hoidap&id=$1&page=$2&%{QUERY_STRING}
RewriteRule ^hoi-dap-chi-tiet([0-9]+)$ index.php?frame=hoidapct&id=$1&%{QUERY_STRING}
RewriteRule ^tra-loi-cau-hoi([0-9]+)$ index.php?frame=traloicauhoi&id=$1&%{QUERY_STRING}
RewriteRule ^anh-hoat-dong([0-9]+)$ index.php?frame=anhhoatdong&id=$1&%{QUERY_STRING}
RewriteRule ^danh-ba-([0-9]+)-(.+)$ index.php?frame=danhbachua&id=$1&%{QUERY_STRING}
RewriteRule ^danh-ba-([0-9]+)-page=([0-9]+)$ index.php?frame=danhbachua&id=$1&page=$2&%{QUERY_STRING}
RewriteRule ^hat-video-([0-9]+)-([0-9]+)-([^/\.]+)-([^/\.]+)$ index.php?frame=danhbaplayer&iddb1=$1&iddb2=$2&%{QUERY_STRING}
RewriteRule ^hat-video-([0-9]+)-([0-9]+)-page=([0-9]+)$ index.php?frame=danhbaplayer&iddb1=$1&iddb2=$2&page=$3&%{QUERY_STRING}
RewriteRule ^tu-thien([0-9]+)$ index.php?frame=tuthien&id=$1&%{QUERY_STRING}
RewriteRule ^tu-thien([0-9]+)-page=(.+)$ index.php?frame=tuthien&id=$1&page=$2%{QUERY_STRING}
RewriteRule ^tu-thien-chi-tiet([0-9]+)$ index.php?frame=tuthienct&id=$1&%{QUERY_STRING}
RewriteRule ^lien-he$ index.php?frame=lienhe&%{QUERY_STRING}
RewriteRule ^lien-he-mail$ index.php?frame=lienhemail&%{QUERY_STRING}
RewriteRule ^nhac-([^/\.]+)$ index.php?frame=audio&audio=audio&%{QUERY_STRING}
RewriteRule ^nhac([^/\.]+)$ index.php?frame=nhacvideo&nhacvideo=nhacvideo&%{QUERY_STRING}
RewriteRule ^album-audio-album([^/\.]+)-([^/\.]+)$ index.php?frame=audiodanhsach&id=$1&%{QUERY_STRING}
RewriteRule ^nghe-album([^/\.]+)-([^/\.]+)$ index.php?frame=audiohat&id=$1&%{QUERY_STRING}
RewriteRule ^albumvideo-album([^/\.]+)-([^/\.]+)$ index.php?frame=nhacvideodanhsach&id=$1&%{QUERY_STRING}
RewriteRule ^xem-album([^/\.]+)-([^/\.]+)$ index.php?frame=nhacvideohat&id=$1&%{QUERY_STRING}
RewriteRule ^giang-su-tat-ca$ index.php?frame=giangsutatca%{QUERY_STRING}
RewriteRule ^([^/\.]+)-([0-9]+)$ index.php?frame=giangsu&idg=$1&%{QUERY_STRING}
