	* { margin: 0; padding: 0; }

	body, html { background-color: #FFFFFF; font-family: Arial; }
	
		/* ------------------------------------------------------------------------- //
		//                                 Layout                                    //
		// ------------------------------------------------------------------------- */
		#wrapper { width: 100%; margin: 0 auto; }
		
		#header {
			max-width: 1600px;
			min-height: 130px;
			border-bottom: 5px solid #F9F9F9;
			margin: 0 auto;
			padding-left: 20px;
			padding-right: 20px;
		}
		
			#head-container { max-width: 1180px; min-height: 100px; margin: 0 auto; }
			
				.title { position:absolute; margin-top:40px; margin-left:10px; font-size: 30px; color: #595959; text-decoration: none; }
				.title:hover { color: #333; }
			
			#menu-top { max-width: 1180px; height: 30px; margin: 0 auto; clear: both; }
			
				#menu-top ul { list-style: none; width: 100%; }
				#menu-top ul li { float: left; margin: 0px 20px 0px 0px; padding-bottom: 11px; position: relative; cursor: pointer; border-bottom: 5px solid transparent; }
				#menu-top ul li.select { border-bottom: 5px solid #DDDDDD; }
				#menu-top ul li a, #menu-top ul li { text-decoration: none; color: #000000; font-size: 15px; }
				#menu-top ul li:hover, #menu-top ul li a:hover { color: #5DA9C8; }
				#menu-top ul li ul { z-index: 999999; display: none; position: absolute; width: 200px; margin-top: 16px; background-color: rgba(0, 0, 0, .8); padding-top: 5px; }
				#menu-top ul li ul li { float: none; width: 100%; padding: 0px; margin: 0px; }
				#menu-top ul li ul li a { display: block; font-size: 12px; color: white; padding: 10px 0px 10px 30px; margin-left: -5px; background: url("/data/images/node.png") 1px 1px no-repeat transparent; border-left:5px solid transparent; }
				#menu-top ul li ul li a:hover { color: white; background: url("/data/images/node_hover.png") 1px 1px no-repeat rgba(255, 0, 0, .5);  border-left:5px solid #981818; }
				#menu-top ul li:hover ul { display: block; }
				
		#content {
			max-width: 1180px;
			margin: 0 auto;
			padding: 10px 20px 10px 20px;
		}
		
			.screen { width: 100%; height: 469px; background: url("/data/images/screen.jpg") center top no-repeat transparent; text-align: center; }
			.screen iframe, .screen object, .screen embed { margin: 52px auto; }
			
			#content .left { float: left; width: 50%; }
			
			#content .right { float: right; width: 50%; }
				#content .right .card-list { list-style: none; }
				#content .right .card-list li { float: left; margin: 5px; cursor: pointer; }
				#content .right .card-list li img { width: 120px; height: 80px; opacity: .50 }
				#content .right .card-list li img:hover { opacity: .99 }
		
		#footer {
			max-width: 1600px;
			margin: 0 auto;
			padding-bottom: 10px;
			border-top: 5px solid #DDDDDD;
			padding-left: 20px;
			padding-right: 20px;
		}
		
			#footer-container { max-width: 1180px; margin: 0 auto; font-size: 13px; padding-top: 10px; }
			
				#footer-container .left { width: 60%; float: left; text-align: left; color: #1570A6; }
				
					#footer-container .left ul { list-style: none; margin-top: 10px; }
					#footer-container .left ul li { float: left; }
					#footer-container .left ul li a  { margin-right: 35px; width: 65px; height: 65px; display: block; color: transparent; }
					#footer-container .left ul li a.cafe { background: url("/data/images/menu_bottom.jpg") -5px -3px no-repeat; }
					#footer-container .left ul li a.karaoke { background: url("/data/images/menu_bottom.jpg") -93px -3px no-repeat; }
					#footer-container .left ul li a.hotel { background: url("/data/images/menu_bottom.jpg") -183px -3px no-repeat; }
					#footer-container .left ul li a.bus { background: url("/data/images/menu_bottom.jpg") -273px -3px no-repeat; }
					#footer-container .left ul li a.pagoda { background: url("/data/images/menu_bottom.jpg") -363px -3px no-repeat; }
					#footer-container .left ul li a.cafe:hover { background-position: -5px -72px; }
					#footer-container .left ul li a.karaoke:hover { background-position: -93px -72px; }
					#footer-container .left ul li a.hotel:hover { background-position: -183px -72px; }
					#footer-container .left ul li a.bus:hover { background-position: -273px -72px; }
					#footer-container .left ul li a.pagoda:hover { background-position: -363px -72px; }
				
				#footer-container .right { width: 40%; float: right; text-align: right; color: #595959; }
				
		.fix-left {
			width: 50px;
			padding: 5px;
			text-align: center;
			background: #DDDDDD;
			position: fixed;
			left: 0px;
			top: 40%;
			background: rgba(0, 0, 0, .1);
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border-style: solid;
			border-color: #DDDDDD;
			border-width: 3px 3px 3px 0px;
		}
		
			.fix-left .text-frame { height: 32px; background: url("/data/images/text_frame.png") left -3px no-repeat; font-size: 11px; padding-top: 8px; }
			
		.form-contact { width: 480px; height: 366px; margin: 0 auto; padding-top: 60px; }
		.form-contact label { font-size: 12px; color: white; }
		.form-contact input { font-size: 13px; border:2px solid white; width: 250px; height: 21px; padding: 5px; border-radius: 5px; background: #FAFAFA; }
		.form-contact textarea { font-size: 13px; border:1px solid white; width: 250px; min-height: 100px; padding: 5px; border-radius: 5px; font-family: Arial; background: #FAFAFA; }
		.form-contact button { background: url("/data/images/send.png") 5px 2px no-repeat #FAFAFA; font-size: 13px; border:1px solid #DDDDDD; width: 100px; height: 35px; padding: 5px 5px 5px 10px; margin: 5px 5px 5px 0px; cursor: pointer; border-radius: 5px; }
		.form-contact button:hover { box-shadow: 0px 0px 2px #000000; }
		
		.form-dictionary { width: 480px; height: 366px; margin: 0 auto; padding-top: 60px; }
		.form-dictionary input { font-size: 13px; border:2px solid white; width: 250px; height: 15px; padding: 5px; background: #FAFAFA; }
		.form-dictionary select { font-size: 13px; border:2px solid white; width: 100px; height: 29px; padding: 4px; background: #FAFAFA; margin-left: -5px; }
		.form-dictionary button { background: #FAFAFA; font-size: 13px; border:1px solid #DDDDDD; width: 50px; height: 30px; padding: 5px 5px 5px 10px; margin: 5px 5px 5px -5px; cursor: pointer; }
		.form-dictionary button:hover { box-shadow: 0px 0px 2px #000000; }

		.form-namecard label { font-size: 12px; color: #595959; }
		.form-namecard input { font-size: 13px; border:1px solid #808080; width: 340px; height: 20px; padding: 5px; border-radius: 5px; background: #FAFAFA; }
		.form-namecard button { background: url("/data/images/preview.png") 5px 1px no-repeat #FAFAFA; font-size: 13px; border:1px solid #DDDDDD; height: 35px; padding: 5px 5px 5px 40px; margin: 5px 5px 5px 0px; cursor: pointer; border-radius: 5px; }
		.form-namecard button:hover { box-shadow: 0px 0px 2px #000000; }
		
		.list-tv  { margin: 0 auto; text-align: center; padding-top: 10px;}
		.list-tv img { opacity: .70; }
		.list-tv img:hover { opacity: .99; }
			
		.clear { clear: both; }