<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>/*<![CDATA[*/$(document).ready(function(){ $(".hidden-control").click(function(){ ($(this).hasClass("icon-chevron-down")==false) ? $(this).addClass("icon-chevron-down") : $(this).removeClass("icon-chevron-down") }); });/*]]>*/</script>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="history-box">
						<div class="history-top">
							<h2>LỊCH SỬ TỊNH THẤT VIÊN PHƯƠNG</h2>
						</div>
						<div class="history-mid">
							<p align="center">________________</p><br/>
							<p align="justify"><b>I. TÊN GỌI:</b> Tịnh Thất Viên Phương</p>
							<p align="justify"><b>II. ĐỊA ĐIỂM PHÂN BỐ CHÙA – ĐƯỜNG ĐI ĐẾN:</b></p>
							<p align="justify">Chùa nằm ...</p>
							<p align="justify">Đường bộ: từ trung tâm ... </p>							
							<p align="justify"><b>III. SƠ LƯỢC TIỂU SỬ:</b></p>
							<p align="justify">Ngày xưa, nơi đây là ... .</p>
							<p align="justify"><b>IV. KHẢO TẢ:</b></p>
							<p align="justify">Khuôn viên chùa chia làm 03 khu vực: ...</p>
							<p align="justify"><b>V. CÁC NGÀY LỄ TRONG NĂM:</b></p>
							<p align="justify">Các ngày lễ trong năm gồm có:</p>
							<p align="justify">- ...</p>
							<p align="justify">Các buổi sinh hoạt khác:</p>
							<p align="justify">- ...</p>
							<br/>
						</div>
						<div class="history-bot">
							<b><p align="right" style="margin-right:95px;">Trân trọng kính chào!</p>
							<p align="right">Trụ trì Tịnh Thất Viên Phương Sư Cô Thích Nữ Như Huệ</p></b>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/SpringMsg"/>					
					<div metal:use-macro="base.xhtml/LibraryBox"/>
					<div metal:use-macro="base.xhtml/HistoryBox"/>
					<div metal:use-macro="base.xhtml/MonkBox"/>					
					<div metal:use-macro="base.xhtml/MecdBox"/>
					<div metal:use-macro="base.xhtml/CookingBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>						
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
		</div>
	</body>
</html>