<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">		
			<div metal:use-macro="macros.xhtml/Header" />	
			<div id="main">								
				<div id="content">					
					<div tal:condition="Ask" class="news-box">
						<div class="box-title">
							<img src="/data/images/question.png" width="30" />
							<span tal:content="Title" />
							<a tal:attributes="href Category/getURLAskInsLoad1">Gửi câu hỏi</a>
						</div>
						<div style="padding:10px;">
							<div class="ask" align="justify" >
								<div style="text-indent:15px;">
									<b><span tal:content="Ask/getAuthor1" /> hỏi:</b> <span tal:content="structure Ask/getQuestion" />
									<div><small>(<span tal:content="Ask/getTimePrint" />)</small></div>
								</div>
							</div>
							
							<div class="ask" align="justify" >
								<div style="text-indent:15px;">
									<b><span tal:content="Ask/getAuthor2" /> có vài ý xin chia sẻ:</b> <span tal:content="structure Ask/getAnswer" />
								</div>
								<br/>
							</div>
							<br />							
							<div class="news-box-sub-title">Cùng chủ đề</div>
							<ul class="news-box-list">
								<li tal:repeat="Ask Asks">
									<a tal:attributes="href Ask/getURLRead">										
										<span tal:content="structure Ask/getQuestionReduce"/>
									</a>
									<span tal:content="Ask/getTimePrint" />
								</li>
							</ul>
							<div class="clear" />
						</div>
					</div>
				</div>				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/ClockBox"/>					
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/DhammapadaBox"/>					
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/BoxAds"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft"/>
		</div>
	</body>
</html>