<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>	
			<div role="main" class="ui-content jqm-content">
				<ul data-role="listview" data-inset="true" tal:repeat="Category CategoryNewsAll">
					<li data-role="list-divider" tal:content="Category/getName" />					
				    <li tal:repeat="News Category/getNewsLimit">
						<a tal:attributes="href News/getURLRead" rel="external">
					        <img tal:attributes="src News/getImage" />
					    	<h2 tal:content="News/getTitle" />
						    <p tal:content="structure News/getContentReduce"/>
						</a>
				    </li>					
				</ul>				
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Menu"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>
