<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>			
			<div role="main" class="ui-content jqm-content">				
				<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
					<li class="ui-li-has-thumb" tal:repeat="VL YTAll">
						<a tal:attributes="href VL/getURLRead" rel="external" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
							<img tal:attributes="src VL/getVideo/getURLImage" />
							<h2 tal:content="VL/getVideo/getName"/>
							<p tal:content="VL/getVideo/getNote"/>
						</a>												
					</li>					
				</ul>				
			</div>			
			<tal:block metal:use-macro="mFront.xhtml/MenuVideo"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>