<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>			
			<div role="main" class="ui-content jqm-content">
				<div class="panel-heading"><h3 class="panel-title" tal:content="Video/getName" /></div>
				<iframe width="100%" height="480" 
					tal:attributes="src Video/getURL" 
					frameborder="0" allowfullscreen="true">
				</iframe>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/MenuVideo"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>