<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>			
			<div role="main" class="ui-content jqm-content">				
				<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
					<li class="ui-li-has-thumb" tal:repeat="News NewsAll">
						<a tal:attributes="href News/getURLRead" rel="external" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
							<img tal:attributes="src News/getImage" />
							<h2 tal:content="News/getTitle"/>
							<p tal:content="structure News/getContentReduce"/>
						</a>
					</li>
				</ul>
				<div data-role="controlgroup" data-type="horizontal">
					<a tal:repeat="P PN/getPages" tal:attributes="href P/getURL" class="ui-btn">
						<span tal:content="P/getName"/>
					</a>
				</div>
			</div>			
			<tal:block metal:use-macro="mFront.xhtml/MenuNews"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>