<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box">
						<div class="b-content padding-content">
							<ul class="nav nav-tabs nav-stacked reset-margin">
								<li class="active news-list-title"><a>Các câu hỏi</a></li>
								<li tal:repeat="Ask AskAll" class="news-list-item">
									<a tal:attributes="href Ask/getURLRead">
										<span>Hỏi: <span tal:content="structure Ask/getQuestionReduce"/></span>
										<span tal:content="Ask/getTimePrint"/>
										<i class="icon-chevron-right pull-right"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<!-- <div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<!-- <div metal:use-macro="base.xhtml/Popup"/> -->
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>