<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>
		/*<![CDATA[*/
			$(document).ready(function() {				
				$("#CaptchaSecurity").hide();
			});			
			function validateFormContactLoad() {
				var OldCode = $("#CaptchaSecurity").val();
				var KeydownCode = $("#CodeCaptcha").val();					
				if ( OldCode == KeydownCode) {	
					return true; 
				} else {
					$("#Mesenge").html("Mã Bảo vệ sai! Nhập lại!");
					$("#CodeCaptcha").val("");
					$("#CodeCaptcha").focus();
					return false;
				}
			}
		/*]]>*/
		</script>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Danh sách câu hỏi</div>
						</div>
						<div class="b-content">
							<div class="ask" align="justify" tal:repeat="Ask AskAll">
								<b><span tal:content="repeat/Ask/number" />. Hỏi về <span tal:content="Ask/getCategory/getName" /></b>
								<div style="text-indent:15px;">
									<b><div tal:content="structure Ask/getQuestion" /></b>
									<div><small>(<span tal:content="Ask/getTimePrint" />)</small></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content" tal:content="Title"/>
						</div>
						<div class="b-content padding-content">
							<form id="FormAppCategoryInsLoad" onsubmit="return validateFormContactLoad()" tal:attributes="action '/hoi-dap/dat-cau-hoi/exe'" method="post">
								<fieldset>
									<legend>Quí <B>PHẬT TỬ</B> có thể điền nội dung câu hỏi vào mẫu form ở dưới đây.</legend>
									<div class="controls controls-row">
										<label>Họ & Tên</label>
										<input type="text" name="Author1" id="Author1" class="span3"/>
										<label>Chủ đề</label>
										<select id="IdCategory" name="IdCategory" class="span4">
											<option tal:repeat="Category CategoryAskAll" tal:attributes="value Category/getId" tal:content="Category/getName"/>
										</select>
									</div>
									<label>Câu hỏi</label>
									<textarea name="Question" id="Question" cols="52" rows="2" class="span7"/>
									<label>Mã bảo mật</label>
									<label><img src="/data/captcha.jpg"/></label>
									<input name="CodeCaptcha" type="text" id="CodeCaptcha"/>
									<label><center>
										<button type="submit" class="btn">Gữi</button>
									</center></label>
								</fieldset>
							</form>
							
							Ngoài ra, quí <B>PHẬT TỬ</B> có thể gửi CÂU HỎI hoặc KẾT QUẢ trả lời CÂU HỎI đến email <B>nhuantamkhaituong@gmail.com</B>.
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<!-- <div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<!-- <div metal:use-macro="base.xhtml/Popup"/> -->
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>