<!DOCTYPE html> 
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-1.7.1.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.jplayer.min.js"/>
		<script>
		/*<![CDATA[*/
		$(document).ready(function(){
			$(".top-poe").slideDown();
			$(".bottom-poe").slideDown();
			/*$(".poe").hide();
			$(".poe-hover").hover(function(){
				$(".top-poe").slideDown();
				$(".bottom-poe").slideDown();
			}, function(){
				$(".top-poe").slideUp();
				$(".bottom-poe").slideUp();
			});
			*/
			
			var track = []; var start = 0;
			track[0] = "https://docs.google.com/uc?export=download&id=0B490knwG8sUYaWx5WkJGV0tnNWs";
			track[1] = "https://dl.dropboxusercontent.com/s/0e315v8t9xr66gz/audio-item-2.mp3?dl=1&token_hash=AAHDsB1Q52Bzr-7xKxsk3JuroFg3Tqq-FD-urLIak701WQ";
			track[2] = "https://dl.dropboxusercontent.com/s/a4n9a4rklwrz33o/audio-item-1.mp3?dl=1&token_hash=AAES-8g7zemGxgKxEinyZmy06o0_X3K27FqPSFAkWn-wEw";
			$("#jquery_audioPlayer").jPlayer({
				ready: function () {
					$(this).jPlayer("setMedia", { mp3: track[start] }).jPlayer("play");
				},
				ended: function (event) {
					start++; if(start>track.length-1) start = 0;
					$(this).jPlayer("setMedia", { mp3: track[start] }).jPlayer("play");
				},
				swfPath: "data",
				supplied: "mp3"
			});
			
			$(window).bind('contextmenu', false);
			$(document)[0].oncontextmenu = function() { return false; }
			$(document).mousedown(function(e){ if( e.button == 2 ) { return false; } else { return true; }});
			$(document).bind('keydown keypress', 'ctrl+s', function(){return false;});
			$(document).bind('keydown keypress', 'f12', function(){return false;});
		});
		/*]]>*/
		</script>
	</head>

	<body tal:attributes="style Style">
		<div class="cover-inner">
			<img src="/data/images/logo/title.png"/>
			<p><a href="/trang-chu"><span class="link poe-hover">Vào Trang chủ</span></a></p>
		</div>
		
		<div class="p-title poe-hover"><a href="/trang-chu"><p>Chùa Long Viễn</p></a></div>

		<div class="poe top-poe"><p>Trăm năm nhìn xuống đời hư ảo</p></div>
		<div class="poe bottom-poe"><p>Phút chốc nhìn lên ngộ chân thường</p></div>

		<div id="jquery_audioPlayer" class="jp-jplayer"></div>
		
		<img class="cloud cloud1" src="/data/images/bg/cloud1.png"/>
		<img class="cloud cloud2" src="/data/images/bg/cloud2.png"/>
		<img class="cloud cloud3" src="/data/images/bg/cloud3.png"/>
		<img class="bird" src="/data/images/bg/bird.gif"/>
	</body>
</html>