<!DOCTYPE html>
<html lang="en">	
	<body>
		<div id="PagodaDomain" class="controls">									
			<select name="IdPagoda" id="PagodaList" style="width:100%;">
				<option tal:repeat="Pagoda District/getPagodaAll" tal:attributes="value Pagoda/getId;">
					<span tal:content="Pagoda/getName"/>
				</option>
			</select>
		</div>
		<script>									
			//NẠP DANH SÁCH CÁC CHÙA TƯƠNG ỨNG HUYỆN
			$('#PagodaList').on('change', function (e){
				var IdPagoda = $(this).val();				
				$("#PagodaInfo").load("/danh-ba/chua/"+IdPagoda);
			});
			$('#PagodaList').change();
		</script>
	</body>
</html>