<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>	
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyAL3E55skCbhZdaN7Jm3Tip7Np1X04f76w" type="text/javascript"></script>				
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/gps.jquery.js"/>
		<script type="text/javascript">
			$(function() {			
				$("#map").googleMap().load();				
			});
		</script>
	</head>

	<body onunload="GUnload()">
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width" id="PagodaInfo">
					<div id="map" class="img-polaroid" style="width:588px; height:470px;"/>
				</div>
				<div class="span4 fix-width">
					<div id="ProvinceDomain" class="controls">
						<select name="IdProvince" id="ProvinceList" style="width:100%;">
							<option tal:repeat="Province ProvinceAll" tal:attributes="value Province/getId; selected php: Province->getId()==ProvinceCurrent?true:false">
								<span tal:content="Province/getName"/>
							</option>
						</select>
					</div>
					<div id="DistrictDomain" />
					<div id="PagodaDomain" />
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>						
			<div metal:use-macro="base.xhtml/FixedFunction"/>			
			<div metal:use-macro="base.xhtml/Backontop"/>
			<script>						
			
				//NẠP DANH SÁCH CÁC HUYỆN TƯƠNG ỨNG TỈNH
				$('#ProvinceList').on('change', function (e) {
					var IdProvince = $(this).val();				
					$("#DistrictDomain").load("/danh-ba/tinh/"+IdProvince);
				});
				$('#ProvinceList').change();				
			
			</script>
		</div>
	</body>
</html>