Options +FollowSymlinks
RewriteEngine on
AddDefaultCharset UTF-8

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 month"

# My favicon
ExpiresByType image/x-icon "access plus 1 year”

# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"

# CSS
ExpiresByType text/css "access 1 month”

# Javascript
ExpiresByType application/javascript "access plus 1 year"

</IfModule>


#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^trang-chu$ 														?cmd=Home [L]

RewriteRule ^signin/load$ 														?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 														?cmd=SigninExe [L]
RewriteRule ^signout/load$ 														?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 														?cmd=SignoutExe [L]

RewriteRule ^gate$ 																?cmd=Gate [L]
RewriteRule ^gioi-thieu$ 														?cmd=Introduction [L]

RewriteRule ^lien-he$ 															?cmd=Contact [L]

RewriteRule ^thu-vien-phat-phap$											?cmd=LibraryVideo&KBType=thu-vien-phat-phap [L]
RewriteRule ^thu-vien-phat-phap/tim-kiem/exe$								?cmd=LibraryVideo&KBType=thu-vien-phat-phap [L]
RewriteRule ^thu-vien-phat-phap/([a-z0-9_-]+)$								?cmd=LibraryVideo&KBType=thu-vien-phat-phap&KCategory=$1 [L]
RewriteRule ^thu-vien-phat-phap/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$		?cmd=LibraryVideoVoice&KBType=thu-vien-phat-phap&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^thu-vien-phat-phap/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$	?cmd=LibraryVideoVoiceLoad&KBType=thu-vien-phat-phap&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^thu-vien-phat-phap/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$		?cmd=LibraryVideoYouTube&KBType=thu-vien-phat-phap&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^lich-su-phat-giao$												?cmd=LibraryVideo&KBType=lich-su-phat-giao [L]
RewriteRule ^lich-su-phat-giao/tim-kiem/exe$								?cmd=LibraryVideo&KBType=lich-su-phat-giao [L]
RewriteRule ^lich-su-phat-giao/([a-z0-9_-]+)$								?cmd=LibraryVideo&KBType=lich-su-phat-giao&KCategory=$1 [L]
RewriteRule ^lich-su-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$		?cmd=LibraryVideoVoice&KBType=lich-su-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^lich-su-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$	?cmd=LibraryVideoVoiceLoad&KBType=lich-su-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^lich-su-phat-giao/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$			?cmd=LibraryVideoYouTube&KBType=lich-su-phat-giao&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^giang-su-thuyet-phap$											?cmd=LibraryVideo&KBType=giang-su-thuyet-phap [L]
RewriteRule ^giang-su-thuyet-phap/tim-kiem/exe$								?cmd=LibraryVideo&KBType=giang-su-thuyet-phap [L]
RewriteRule ^giang-su-thuyet-phap/([a-z0-9_-]+)$							?cmd=LibraryVideo&KBType=giang-su-thuyet-phap&KCategory=$1 [L]
RewriteRule ^giang-su-thuyet-phap/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$		?cmd=LibraryVideoVoice&KBType=giang-su-thuyet-phap&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^giang-su-thuyet-phap/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$	?cmd=LibraryVideoVoiceLoad&KBType=giang-su-thuyet-phap&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^giang-su-thuyet-phap/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$			?cmd=LibraryVideoYouTube&KBType=giang-su-thuyet-phap&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^phim-truyen-phat-giao$											?cmd=LibraryVideo&KBType=phim-truyen-phat-giao [L]
RewriteRule ^phim-truyen-phat-giao/tim-kiem/exe$							?cmd=LibraryVideo&KBType=phim-truyen-phat-giao [L]
RewriteRule ^phim-truyen-phat-giao/([a-z0-9_-]+)$							?cmd=LibraryVideo&KBType=phim-truyen-phat-giao&KCategory=$1 [L]
RewriteRule ^phim-truyen-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$		?cmd=LibraryVideoVoice&KBType=phim-truyen-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^phim-truyen-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$	?cmd=LibraryVideoVoiceLoad&KBType=phim-truyen-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^phim-truyen-phat-giao/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$			?cmd=LibraryVideoYouTube&KBType=phim-truyen-phat-giao&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^nhac-phat-giao$												?cmd=LibraryVideo&KBType=nhac-phat-giao [L]
RewriteRule ^nhac-phat-giao/tim-kiem/exe$									?cmd=LibraryVideo&KBType=nhac-phat-giao [L]
RewriteRule ^nhac-phat-giao/([a-z0-9_-]+)$									?cmd=LibraryVideo&KBType=nhac-phat-giao&KCategory=$1 [L]
RewriteRule ^nhac-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$			?cmd=LibraryVideoVoice&KBType=nhac-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^nhac-phat-giao/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$		?cmd=LibraryVideoVoiceLoad&KBType=nhac-phat-giao&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^nhac-phat-giao/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$			?cmd=LibraryVideoYouTube&KBType=nhac-phat-giao&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^kenh-tong-hop$													?cmd=LibraryVideo&KBType=kenh-tong-hop [L]
RewriteRule ^kenh-tong-hop/tim-kiem/exe$									?cmd=LibraryVideo&KBType=kenh-tong-hop [L]
RewriteRule ^kenh-tong-hop/([a-z0-9_-]+)$									?cmd=LibraryVideo&KBType=kenh-tong-hop&KCategory=$1 [L]
RewriteRule ^kenh-tong-hop/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)$			?cmd=LibraryVideoVoice&KBType=kenh-tong-hop&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^kenh-tong-hop/([a-z0-9_-]+)/sach-noi/([a-z0-9_-]+)/load$		?cmd=LibraryVideoVoiceLoad&KBType=kenh-tong-hop&KCategory=$1&KBVoice=$2 [L]
RewriteRule ^kenh-tong-hop/([a-z0-9_-]+)/YouTube/([a-z0-9_-]+)$				?cmd=LibraryVideoYouTube&KBType=kenh-tong-hop&KCategory=$1&KYouTube=$2 [L]

RewriteRule ^hinh-anh-hoat-dong$											?cmd=LibraryAlbum [L]
RewriteRule ^hinh-anh-hoat-dong/([a-z0-9_-]+)$								?cmd=LibraryAlbum&KAlbum=$1 [L]

RewriteRule ^tin-tuc$ 														?cmd=ReadCategory [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)$ 										?cmd=ReadCategory&Key1=$1 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/trang/([a-z0-9_-]+)$ 					?cmd=ReadCategory&Key1=$1&Page=$2 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/([a-z0-9_-]+)$ 							?cmd=ReadCategoryDetail&Key1=$1&Key2=$2 [L]

RewriteRule ^tin-tuc-auto/([a-z0-9_-]+)$ 									?cmd=NewCategoryInsAuto&IdRss=$1 [L]

RewriteRule ^send-mail/([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}+)/([a-z0-9_-]+)/([a-z0-9_-]+)$ 	?cmd=SendMailShare&Key1=$1&Key2=$2&Key3=$3 [L]

RewriteRule ^van-ban$ 														?cmd=ReadCDocument [L]
RewriteRule ^van-ban/([a-z0-9_-]+)$ 										?cmd=ReadCDocument&Key1=$1 [L]
RewriteRule ^van-ban/([a-z0-9_-]+)/trang/([a-z0-9_-]+)$ 					?cmd=ReadCDocument&Key1=$1&Page=$2 [L]

RewriteRule ^danh-ba$ 														?cmd=Pagoda [L]
RewriteRule ^danh-ba/([a-z0-9_-]+)$ 										?cmd=PagodaContact&Key=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 						?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 						?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^model/select/all/([A-Za-z0-9]+)$ 					?cmd=ModelLoadAll&ObjectName=$1 [L]
RewriteRule ^model/select/one/([A-Za-z0-9]+)/([0-9]+)$ 			?cmd=ModelLoadOne&ObjectName=$1&Id=$2 [L]
RewriteRule ^model/select/byid/([A-Za-z0-9]+)/([0-9]+)$ 		?cmd=ModelFindBy&ObjectName=$1&IdObject=$2 [L]
RewriteRule ^model/select/byid/([A-Za-z0-9]+)/([0-9]+)/([0-9]+)$ 	?cmd=ModelFindBy&ObjectName=$1&IdObject=$2&Page=$3 [L]
