Options +FollowSymlinks
RewriteEngine on

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^trang-chu$ 											?cmd=Home [L]

RewriteRule ^signin/load$ 											?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 											?cmd=SigninExe [L]
RewriteRule ^signout/load$ 											?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 											?cmd=SignoutExe [L]

RewriteRule ^gate$ 													?cmd=Gate [L]
RewriteRule ^gioi-thieu$ 											?cmd=Introduction [L]

RewriteRule ^task$ 													?cmd=Task [L]
RewriteRule ^lien-he$ 												?cmd=Contact [L]

RewriteRule ^giang-su/([a-z0-9_-]+)$								?cmd=LibraryMonk&KMonk=$1 [L]
RewriteRule ^giang-su/([a-z0-9_-]+)/([a-z0-9_-]+)/exe$				?cmd=LibraryMonk&KMonk=$1&KVideoMonk=$2 [L]
RewriteRule ^giang-su/load/([0-9]+)$								?cmd=LibraryMonkLoad&IdMonk=$1 [L]

RewriteRule ^phat-am/([a-z0-9_-]+)$									?cmd=LibraryVideo&KBType=$1 [L]
RewriteRule ^phat-am/voice/([a-z0-9_-]+)$							?cmd=LibraryVideoVoice&KBVoice=$1 [L]
RewriteRule ^phat-am/voice/([a-z0-9_-]+)/load$						?cmd=LibraryVideoVoiceLoad&KBVoice=$1 [L]
RewriteRule ^phat-am/([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)$		?cmd=LibraryVideo&KBType=$1&KCategory=$2&KVideoLibrary=$3 [L]

RewriteRule ^thu-vien-phat-phap$									?cmd=LibraryVideo&KBType=thu-vien-phat-phap [L]
RewriteRule ^lich-su-phat-giao$										?cmd=LibraryVideo&KBType=lich-su-phat-giao [L]

RewriteRule ^phat-am/load/([0-9]+)$									?cmd=LibraryVideoLoadCategory&IdCategory=$1 [L]
RewriteRule ^phat-am/load/([0-9]+)$									?cmd=LibraryVideoLoadCategory&IdCategory=$1 [L]

RewriteRule ^hinh-anh-hoat-dong$									?cmd=LibraryAlbum [L]
RewriteRule ^hinh-anh-hoat-dong/([a-z0-9_-]+)$						?cmd=LibraryAlbum&KAlbum=$1 [L]

RewriteRule ^su-kien$ 												?cmd=Event [L]
RewriteRule ^su-kien/([a-z0-9_-]+)$ 								?cmd=EventDetail&KEvent=$1 [L]

RewriteRule ^tin-tuc$ 												?cmd=ReadCategory [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)$ 								?cmd=ReadCategory&Key1=$1 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/trang/([a-z0-9_-]+)$ 			?cmd=ReadCategory&Key1=$1&Page=$2 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=ReadCategoryDetail&Key1=$1&Key2=$2 [L]

RewriteRule ^dao-tao$ 												?cmd=Course [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)$ 								?cmd=CourseDetail&KCourse=$1 [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=CourseLession&KCourse=$1&KLession=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^app$ 													?cmd=App [L]

RewriteRule ^app/config$ 											?cmd=AppConfig [L]
RewriteRule ^app/config/trang/([0-9]+)$ 							?cmd=AppConfig&Page=$1 [L]

RewriteRule ^app/course$ 											?cmd=AppCourse [L]
RewriteRule ^app/course/trang/([0-9]+)$ 							?cmd=AppCourse&Page=$1 [L]

RewriteRule ^app/course/([0-9]+)$ 							?cmd=AppCourseLession&IdCourse=$1 [L]
RewriteRule ^app/course/([0-9]+)/trang/([0-9]+)$ 			?cmd=AppCourseLession&IdCourse=$1&Page=$2 [L]

RewriteRule ^app/album$ 										?cmd=AppLibraryAlbum [L]
RewriteRule ^app/album/trang/([0-9]+)$ 							?cmd=AppLibraryAlbum&Page=$1 [L]

RewriteRule ^app/monk$ 											?cmd=AppMonk [L]
RewriteRule ^app/monk/trang/([0-9]+)$ 							?cmd=AppMonk&Page=$1 [L]

RewriteRule ^app/monk/([0-9]+)/video$ 							?cmd=AppMonkVideo&IdMonk=$1 [L]																	 
RewriteRule ^app/monk/([0-9]+)/video/youtube/upd/load$ 			?cmd=AppMonkVideoYoutubeUpdLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/youtube/upd/exe$ 			?cmd=AppMonkVideoYoutubeUpdExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/trang/([0-9]+)$ 			?cmd=AppMonkVideo&IdMonk=$1&Page=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/ins/load$ 					?cmd=AppMonkVideoInsLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/ins/exe$ 					?cmd=AppMonkVideoInsExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/upd/load$ 		?cmd=AppMonkVideoUpdLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/upd/exe$ 			?cmd=AppMonkVideoUpdExe&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/del/load$ 		?cmd=AppMonkVideoDelLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/del/exe$ 			?cmd=AppMonkVideoDelExe&IdMonk=$1&IdVideoMonk=$2 [L]

RewriteRule ^app/category/news$ 								?cmd=AppCategoryNews [L]
RewriteRule ^app/category/news/trang/([0-9]+)$ 					?cmd=AppCategoryNews&Page=$1 [L]

RewriteRule ^app/news$ 											?cmd=AppNews [L]
RewriteRule ^app/news/([0-9]+)$ 								?cmd=AppNews&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/trang/([0-9]+)$ 					?cmd=AppNews&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/news/([0-9]+)/ins/load$ 						?cmd=AppNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/ins/exe$ 						?cmd=AppNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppNewsDelExe&IdCategory=$1&IdNews=$2 [L]

RewriteRule ^app/btype$ 										?cmd=AppBType [L]
RewriteRule ^app/btype/([0-9]+)$ 								?cmd=AppBTypeCategory&IdBType=$1 [L]
RewriteRule ^app/btype/([0-9]+)/([0-9]+)$ 						?cmd=AppBTypeCategoryVideo&IdBType=$1&IdCategory=$2 [L]
RewriteRule ^app/btype/([0-9]+)/([0-9]+)/voice$ 				?cmd=AppVoiceBook&IdBType=$1&IdCategory=$2 [L]

RewriteRule ^app/category/video/([0-9]+)$ 						?cmd=AppCategoryVideoDetail&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/trang/([0-9]+)$ 		?cmd=AppCategoryVideoDetail&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/load$ 				?cmd=AppCategoryVideoDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/exe$ 				?cmd=AppCategoryVideoDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=AppCategoryVideoDetailUpdLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=AppCategoryVideoDetailUpdExe&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/load$ 	?cmd=AppCategoryVideoDetailDelLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=AppCategoryVideoDetailDelExe&IdCategory=$1&IdVideoLibrary=$2 [L]
