<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content"><div class="screen">				
				<embed
					width="480"
					height="366"
					wmode="transparent"
					type="application/x-shockwave-flash"
					src="http://player.longtailvideo.com/player.swf"
					flashvars="autostart=true&file=http://42.117.9.45/live/vtv3_1000.stream/playlist.m3u8&provider=http://megafun.vn/common/player/adaptiveProvider.swf&stretching=exactfit&image=http://www1.tivi24h.com/stop_tivi24h.gif&screencolor=000000&controlbar.position=over&volume=100"
					allowscriptaccess="always"
					allowfullscreen="true"
				/>
			</div>
			<div metal:use-macro="macros.xhtml/ListTV" />
			<div class="clear"></div></div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>