<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content"><div class="screen">				
				<embed
					width="480"
					height="366"
					src="http://megafun.vn/common/v2/player/player.swf"
					flashvars="file=http://123.30.182.9/live/VTV2-out-FLV?fmt=x264_1000k_flv&start=0&stretching=exactfit&controlbar=over&autostart=true"
					allowscripaccess="always"
					allowfullscreen="true"
				/>
			</div>
			<div metal:use-macro="macros.xhtml/ListTV" />
			<div class="clear"></div></div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>