<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content">
				<div class="screen"><form class="form-contact" id="FormQRCodeLoad" tal:attributes="action string:utility/qrcode/exe" method="post">
					<table border="0" cellpadding="0" cellspacing="5"><tbody>										
						<tr>
							<td align="right" width="150"><label>Nội Dung dữ liệu mã hóa</label></td>
							<td><input name="data" /></td>
						</tr>
						<tr>
							<td align="right" width="150"><label>Chất lượng Ảnh QRCode</label></td>
							<td><select name="level">
									<option value="L">L - smallest</option>
									<option value="M">M</option>
									<option value="Q">Q</option>
									<option value="H">H - best</option>
								</select>
							</td>
						</tr>
						<tr>
							<td align="right"><label>Kích thước</label></td>
							<td>
								<select name="size">
									<option value='01'>01</option>			
									<option value='02'>02</option>			
									<option value='03'>03</option>			
									<option value='04'>04</option>			
									<option value='05'>05</option>			
									<option value='06'>06</option>			
									<option value='07'>07</option>			
									<option value='08'>08</option>			
									<option value='09'>09</option>			
									<option value='10'>10</option>									
								</select>
							</td>
						</tr>						
						<tr>
							<td></td>
							<td align="left"><button type="submit" name="submit" value="submit-value">Xuất Ảnh</button></td>
						</tr>
					</tbody>
				</table>
				</form></div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>