<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/namecard/css/namecard_003.css"/>
Mẫu số 3
<div class="namecard">
	<div class="namecard-info">
		<div class="namecard-company" tal:content="CompanyName"/>
		<div class="namecard-slogan" tal:content="Slogan"/>
	</div>
	<div class="namecard-people">
		<div class="namecard-fullname" tal:content="FullName"/>
		<div class="namecard-position" tal:content="Position"/>
	</div>
	<div class="namecard-contact">
		<div class="namecard-address"><b>Địa chỉ:</b> <span tal:content="Address"/></div>
		<div class="namecard-phone"><b>Điện thoại:</b> <span tal:content="Phone"/></div>
		<div class="namecard-email"><b>Email:</b> <span tal:content="Email"/></div>
		<div class="namecard-website"><b>Website:</b> <span tal:content="Website"/></div>
	</div>
</div>