<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content"><div class="screen">
					<form class="form-dictionary" name="vndic" action="http://vndic.net/index.php" method="get" target="_blank">
						<input type="text" value="" name="word"/>
						<select name="dict">
							<option value="en_vi" >Anh - Việt</option>
							<option value="en_vi_2" >Anh - Việt II</option>
							<option value="vi_en" >Việt - Anh</option>
							<option value="fr_vi" >Pháp - Việt</option>
							<option value="vi_fr" >Việt - Pháp</option>
							<option value="cn_vi" >Trung - Viet</option>
							<option value="vi_cn" >Việt - Trung</option>
							<option value="hans_viet" >Hán - Việt</option>
							<option value="kr_vi" >Hàn - Việt</option>
							<option value="vi_kr" >Việt - Hàn</option>
							<option value="jp_vi" >Nhật - Việt</option>
							<option value="vi_jp" >Việt - Nhật</option>
							<option value="de_vi" >Đức - Việt</option>
							<option value="vi_de" >Việt - Đức</option>
							<option value="ru_vi" >Nga  - Việt</option>
							<option value="vi_ru" >Việt - Nga</option>
							<option value="cz_vi" >Séc - Việt</option>
							<option value="no_vi" >Na-uy - Việt</option>
							<option value="it_vi" >Ý - Việt</option>
							<option value="sp_vi" >Tây B.Nha - Việt</option>
							<option value="vi_sp" >Việt - Tây B.Nha</option>
							<option value="pt_vi" >Bồ Đ.Nha - Việt</option>
							<option value="kr_en" >Hàn - Anh</option>
							<option value="en_kr" >Anh - Hàn</option>	
							<option value="cn_en" >Trung - Anh</option>
							<option value="en_cn" >Anh - Trung</option>
							<option value="en_thai" >Anh - Thailand</option>
							<option value="thai_en" >Thailand - Anh</option>		
							<option value="oxford_en" >Oxford Learner</option>
							<option value="longman_en" >LongMan</option>
							<option value="wn" >WordNet</option>
							<option value="en_vi_" >Chuyên ngành</option>
							<option value="ev_ve" >Anh - Việt - Anh</option>
							<option value="vi_vi" >Việt - Việt</option>
							<option value="all_vi" >Tất cả - Việt</option>
							<option value="all_en" >Tất cả - Anh</option>
						</select>
						<button type="submit" title="Tra tu" id="btnSearch" value="submit">Dịch</button>
					</form>
			</div></div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>