<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<tbody>
							<tr class="content-rows" tal:repeat="Lession Course/getLessions">
								<td>
									<div tal:content="repeat/Lession/number" />
								</td>
								<td>
									<a tal:attributes="href Lession/getURLUpdLoad">
										<div tal:content="Lession/getName" />
									</a>
								</td>
								<td width="48" tal:content="Lession/getDateStartPrint" />
								<td width="48" tal:content="Lession/getDateEndPrint" />										
								<td>
									<a tal:attributes="href Lession/getURLDelLoad">
										<span class="icon-remove"/>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7" align="center">
									<a class="btn" tal:attributes="href Course/getURLLessionInsLoad"><span class="icon-plus"/> Thêm mới</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">
						<li tal:repeat="Course1 CourseAll" tal:attributes="class php:Course->getId()==Course1->getId()?'disabled':'active'">
							<a tal:attributes="href Course1/getURLLession">
								<span tal:content="Course1/getName" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>