<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<tbody>
							<tr class="content-rows" tal:repeat="VM VMAll">
								<td width="32" align="center">
									<div tal:content="repeat/VM/number" />
								</td>
								<td class="text-hightlight">
									<a tal:attributes="href VM/getURLUpdLoad">
										<div tal:content="VM/getVideo/getName" />
									</a>
								</td>
								<td>
									<div tal:content="VM/getVideo/getTimePrint" />
								</td>
								<td>
									<a tal:attributes="href VM/getURLDelLoad">
										<span class="icon-remove"/>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4" align="center">
									<a class="btn" tal:attributes="href Monk/getURLVideoInsLoad"><span class="icon-plus"/>Thêm mới</a>
								</td>
							</tr>
						</tfoot>
					</table>
					<div class="page-list">
						<span tal:repeat="P PN/getPages">
							<a tal:attributes="href P/getURL;class php:Page==P->getId()?'curent':'?'" tal:content="P/getName" />
						</span>
					</div>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">															
						<li tal:repeat="Monk1 MonkAll" tal:attributes="class php:Monk->getId()==Monk1->getId()?'disabled':'active'">
							<a tal:attributes="href Monk1/getURLVideo">
								<span tal:content="Monk1/getName" /> <span class="badge pull-right" tal:content="Monk1/getVMs/count"/>
							</a>	
						</li>					
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>