<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>STT</th>
								<th />
								<th align="left">TIÊU ĐỀ</th>
								<th>XÓA</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="News NewsAll" >
								<td><div tal:content="repeat/News/number" /></td>
								<td>
									<span tal:condition="News/isVIP">
										<img src="/data/images/vip.gif" border="0" width="20" style="position:absolute; margin-left:3px;" />
									</span>
								</td>
								<td>
									<a tal:attributes="href News/getURLUpdLoad">
										<div tal:content="News/getTitleReduce" />
									</a>
								</td>
								<td>
									<a tal:attributes="href News/getURLDelLoad"><span class="icon-remove" /></a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4" align="center">
									<a class="btn" tal:attributes="href Category/getURLNewsInsLoad">
										<span class="icon-plus" /> Thêm mới
									</a>
								</td>
							</tr>
						</tfoot>
					</table>
					<ul class="pagination pagination-large" >
						<li tal:repeat="P PN/getPages" tal:attributes="class php:P->getId()==Page?'disabled':'active'">
							<a tal:attributes="href P/getURL" tal:content="P/getName" />
						</li>
					</ul>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">
						<li tal:repeat="Category1 CategoryNewsAll" tal:attributes="class php:Category->getId()==Category1->getId()?'disabled':'active'">
							<a tal:attributes="href Category1/getURLView">
								<span tal:content="Category1/getName" /> <span class="badge pull-right" tal:content="Category1/getNews/count"/> 
							</a>
						</li>
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>