<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>STT</th>
								<th align="left">TIÊU ĐỀ</th>
								<th>XÓA</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="VP Pagoda/getVPs">
								<td>
									<div tal:content="repeat/VP/number" />
								</td>
								<td>
									<a tal:attributes="href VP/getURLUpdLoad">
										<div tal:content="VP/getVideo/getName" />
									</a>
								</td>
								<td width="32" align="center">
									<a tal:attributes="href VP/getURLDelLoad">
										<span class="icon-remove"/>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4" align="center">
									<a class="btn" tal:attributes="href Pagoda/getURLVideoInsLoad"><span class="icon-plus"/>Thêm mới</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">															
						<li tal:repeat="Pagoda1 PagodaAll" tal:attributes="class php:Pagoda->getId()==Pagoda1->getId()?'disabled':'active'">
							<a tal:attributes="href Pagoda1/getURLViewVideo">
								<span tal:content="Pagoda1/getName" /> <span class="badge badge-info pull-right" tal:content="Pagoda1/getVPs/count"/>
							</a>	
						</li>					
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>