<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>		
	</head>

	<body>
		<div id="fb-root"/>
		<div metal:use-macro="macros.xhtml/Popup" />
		<div class="container">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div class="main row">
				<div class="top-bar row">
					<div class="date-time span6">
						<div metal:use-macro="macros.xhtml/DateTimeBox"/>
					</div>
					<div class="carousel-text span7">
						<div metal:use-macro="macros.xhtml/TextGo"/>
					</div>
				</div>
				<div class="content span8">
					<div class="wraper">												
						<div class="box">
							<div class="b-title"><div tal:content="Title" class="b-t-icon-content"/></div>
							<div class="b-content">
								Cập nhật: <span tal:content="News/getDatePrint"/>
								<div tal:content="structure News/getContent"/>
								<h4 align="right" tal:content="News/getAuthor"/>
							</div>
						</div>
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Các tin khác</div>
							</div>
							<div class="b-content">
								<ul class="news-box-list">
									<li tal:repeat="News Category/getNews">
										<a tal:attributes="href News/getURLRead">
											<span tal:content="News/getTitle"/>
										</a>
										<span tal:content="News/getDatePrint" />
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="sidebar span5">
					<div class="wraper">
						<div metal:use-macro="macros.xhtml/TaskBox"/>
						<div metal:use-macro="macros.xhtml/EventBox"/>						
						<div metal:use-macro="macros.xhtml/BuddhaBox"/>
						<div metal:use-macro="macros.xhtml/PictureBox"/>
						<div metal:use-macro="macros.xhtml/TopNewsBox"/>
						<div metal:use-macro="macros.xhtml/TopVideoBox"/>
						<div metal:use-macro="macros.xhtml/TopMonkBox"/>
						<div metal:use-macro="macros.xhtml/AskBox"/>
						<div metal:use-macro="macros.xhtml/SponsorBox"/>
						<div metal:use-macro="macros.xhtml/ContactBox"/>
						<div metal:use-macro="macros.xhtml/CallendarBox"/>					
					</div>
				</div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer"/>
			<div metal:use-macro="macros.xhtml/FacebookLike"/>
		</div>
	</body>
</html>