<html>
<body>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td>
<script language="JavaScript" src="/mvc/templates/script/library/amlich.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/amlich.css">
<table border="0" width="100%">

<tbody><tr>
<td>
	<table class="thang" border="0" cellpadding="1" cellspacing="1" width="100%">
	<tbody><tr>
	<td colspan="2" id="thangduong" class="thangduong">Tháng 8 năm 2013</td>
	</tr>
	<tr>
	<td colspan="2" id="ngayduong" class="ngayduong">19</td>
	</tr>
	<tr>
	<td colspan="2" id="thuduong" class="thuduong">Thứ Hai</td>
	</tr>

	<tr>
	<td> 
	<div id="thangam" class="thangam">Tháng Bảy (T)</div>
	<div id="ngayam" class="ngayam">13</div>
	<div id="namam" class="thangam">Năm Quý Tỵ</div>
	</td>
	<td class="canchi">
	<div id="canchithang" class="gioam">Tháng Canh Thân</div>
	<div id="canchingay" class="gioam">Ngày Đinh Tỵ</div>
	<div id="canchigio" class="gioam">Giờ Canh Tý</div>
	<div id="tietkhi" class="gioam">Tiết Lập thu</div>
	</td>
	</tr>

	<tr>
	<td colspan="2" id="dayinfo" class="info">&nbsp;</td>
	</tr>

	<tr>
	<td colspan="2" id="hoangdao" class="hoangdao">Giờ hoàng đạo: Sửu (1-3), Thìn (7-9), Ngọ (11-13), Mùi (13-15), Tuất (19-21), Hợi (21-23)</td>
	</tr>

	</tbody></table>
</td>
</tr>

<tr>
<td>
	<table class="thang" border="1" cellpadding="2" cellspacing="2" width="100%">
	
	<tbody><tr class="ngaytuan">
	<td>CN</td> <td>T2</td> <td>T3</td> <td>T4</td> <td>T5</td> <td>T6</td> <td>T7</td>
	</tr>

	<tr class="normal">
<td class="ngaythang" id="cell0"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell1"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell2"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell3"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell4" title="Thứ Năm 1/8/2013 - 25/6 Quý Tỵ" onclick="showDayInfo(4,25,6,2013,0,30,2456506,1,8,2013);"><div class="t2t6">1</div><div class="am">25/6Đ</div></td>
<td class="ngaythang" id="cell5" title="Thứ Sáu 2/8/2013 - 26/6 Quý Tỵ" onclick="showDayInfo(5,26,6,2013,0,30,2456507,2,8,2013);"><div class="t2t6">2</div><div class="am">26</div></td>
<td class="ngaythang" id="cell6" title="Thứ Bảy 3/8/2013 - 27/6 Quý Tỵ" onclick="showDayInfo(6,27,6,2013,0,30,2456508,3,8,2013);"><div class="t7">3</div><div class="am">27</div></td>
</tr>
<tr class="normal">
<td class="ngaythang" id="cell7" title="Chủ Nhật 4/8/2013 - 28/6 Quý Tỵ" onclick="showDayInfo(7,28,6,2013,0,30,2456509,4,8,2013);"><div class="cn">4</div><div class="am">28</div></td>
<td class="ngaythang" id="cell8" title="Thứ Hai 5/8/2013 - 29/6 Quý Tỵ" onclick="showDayInfo(8,29,6,2013,0,30,2456510,5,8,2013);"><div class="t2t6">5</div><div class="am">29</div></td>
<td class="ngaythang" id="cell9" title="Thứ Ba 6/8/2013 - 30/6 Quý Tỵ" onclick="showDayInfo(9,30,6,2013,0,30,2456511,6,8,2013);"><div class="t2t6">6</div><div class="am">30</div></td>
<td class="ngaythang" id="cell10" title="Thứ Tư 7/8/2013 - 1/7 Quý Tỵ" onclick="showDayInfo(10,1,7,2013,0,29,2456512,7,8,2013);"><div class="t2t6">7</div><div class="am">1/7T</div></td>
<td class="ngaythang" id="cell11" title="Thứ Năm 8/8/2013 - 2/7 Quý Tỵ" onclick="showDayInfo(11,2,7,2013,0,29,2456513,8,8,2013);"><div class="t2t6">8</div><div class="am">2</div></td>
<td class="ngaythang" id="cell12" title="Thứ Sáu 9/8/2013 - 3/7 Quý Tỵ" onclick="showDayInfo(12,3,7,2013,0,29,2456514,9,8,2013);"><div class="t2t6">9</div><div class="am">3</div></td>
<td class="ngaythang" id="cell13" title="Thứ Bảy 10/8/2013 - 4/7 Quý Tỵ" onclick="showDayInfo(13,4,7,2013,0,29,2456515,10,8,2013);"><div class="t7">10</div><div class="am">4</div></td>
</tr>
<tr class="normal">
<td class="ngaythang" id="cell14" title="Chủ Nhật 11/8/2013 - 5/7 Quý Tỵ" onclick="showDayInfo(14,5,7,2013,0,29,2456516,11,8,2013);"><div class="cn">11</div><div class="am">5</div></td>
<td class="ngaythang" id="cell15" title="Thứ Hai 12/8/2013 - 6/7 Quý Tỵ" onclick="showDayInfo(15,6,7,2013,0,29,2456517,12,8,2013);"><div class="t2t6">12</div><div class="am">6</div></td>
<td class="ngaythang" id="cell16" title="Thứ Ba 13/8/2013 - 7/7 Quý Tỵ" onclick="showDayInfo(16,7,7,2013,0,29,2456518,13,8,2013);"><div class="t2t6">13</div><div class="am">7</div></td>
<td class="ngaythang" id="cell17" title="Thứ Tư 14/8/2013 - 8/7 Quý Tỵ" onclick="showDayInfo(17,8,7,2013,0,29,2456519,14,8,2013);"><div class="t2t6">14</div><div class="am">8</div></td>
<td class="ngaythang" id="cell18" title="Thứ Năm 15/8/2013 - 9/7 Quý Tỵ" onclick="showDayInfo(18,9,7,2013,0,29,2456520,15,8,2013);"><div class="t2t6">15</div><div class="am">9</div></td>
<td class="ngaythang" id="cell19" title="Thứ Sáu 16/8/2013 - 10/7 Quý Tỵ" onclick="showDayInfo(19,10,7,2013,0,29,2456521,16,8,2013);"><div class="t2t6">16</div><div class="am">10</div></td>
<td class="ngaythang" id="cell20" title="Thứ Bảy 17/8/2013 - 11/7 Quý Tỵ" onclick="showDayInfo(20,11,7,2013,0,29,2456522,17,8,2013);"><div class="t7">17</div><div class="am">11</div></td>
</tr>
<tr class="normal">
<td class="ngaythang" id="cell21" title="Chủ Nhật 18/8/2013 - 12/7 Quý Tỵ" onclick="showDayInfo(21,12,7,2013,0,29,2456523,18,8,2013);"><div class="cn">18</div><div class="am">12</div></td>
<td class="homnay" id="cell22" title="Thứ Hai 19/8/2013 - 13/7 Quý Tỵ" onclick="showDayInfo(22,13,7,2013,0,29,2456524,19,8,2013);"><div class="t2t6">19</div><div class="am">13</div></td>
<td class="ngaythang" id="cell23" title="Thứ Ba 20/8/2013 - 14/7 Quý Tỵ" onclick="showDayInfo(23,14,7,2013,0,29,2456525,20,8,2013);"><div class="t2t6">20</div><div class="am">14</div></td>
<td class="ngaythang" id="cell24" title="Thứ Tư 21/8/2013 - 15/7 Quý Tỵ - Vu Lan (Rằm tháng 7)" onclick="showDayInfo(24,15,7,2013,0,29,2456526,21,8,2013);"><div class="t2t6">21 *</div><div class="am">15</div></td>
<td class="ngaythang" id="cell25" title="Thứ Năm 22/8/2013 - 16/7 Quý Tỵ" onclick="showDayInfo(25,16,7,2013,0,29,2456527,22,8,2013);"><div class="t2t6">22</div><div class="am">16</div></td>
<td class="ngaythang" id="cell26" title="Thứ Sáu 23/8/2013 - 17/7 Quý Tỵ" onclick="showDayInfo(26,17,7,2013,0,29,2456528,23,8,2013);"><div class="t2t6">23</div><div class="am">17</div></td>
<td class="ngaythang" id="cell27" title="Thứ Bảy 24/8/2013 - 18/7 Quý Tỵ" onclick="showDayInfo(27,18,7,2013,0,29,2456529,24,8,2013);"><div class="t7">24</div><div class="am">18</div></td>
</tr>
<tr class="normal">
<td class="ngaythang" id="cell28" title="Chủ Nhật 25/8/2013 - 19/7 Quý Tỵ" onclick="showDayInfo(28,19,7,2013,0,29,2456530,25,8,2013);"><div class="cn">25</div><div class="am">19</div></td>
<td class="ngaythang" id="cell29" title="Thứ Hai 26/8/2013 - 20/7 Quý Tỵ" onclick="showDayInfo(29,20,7,2013,0,29,2456531,26,8,2013);"><div class="t2t6">26</div><div class="am">20</div></td>
<td class="ngaythang" id="cell30" title="Thứ Ba 27/8/2013 - 21/7 Quý Tỵ" onclick="showDayInfo(30,21,7,2013,0,29,2456532,27,8,2013);"><div class="t2t6">27</div><div class="am">21</div></td>
<td class="ngaythang" id="cell31" title="Thứ Tư 28/8/2013 - 22/7 Quý Tỵ" onclick="showDayInfo(31,22,7,2013,0,29,2456533,28,8,2013);"><div class="t2t6">28</div><div class="am">22</div></td>
<td class="ngaythang" id="cell32" title="Thứ Năm 29/8/2013 - 23/7 Quý Tỵ" onclick="showDayInfo(32,23,7,2013,0,29,2456534,29,8,2013);"><div class="t2t6">29</div><div class="am">23</div></td>
<td class="ngaythang" id="cell33" title="Thứ Sáu 30/8/2013 - 24/7 Quý Tỵ" onclick="showDayInfo(33,24,7,2013,0,29,2456535,30,8,2013);"><div class="t2t6">30</div><div class="am">24</div></td>
<td class="ngaythang" id="cell34" title="Thứ Bảy 31/8/2013 - 25/7 Quý Tỵ" onclick="showDayInfo(34,25,7,2013,0,29,2456536,31,8,2013);"><div class="t7">31</div><div class="am">25</div></td>
</tr>
<tr class="normal">
<td class="ngaythang" id="cell35"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell36"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell37"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell38"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell39"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell40"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
<td class="ngaythang" id="cell41"><div class="cn">&nbsp;</div><div class="am">&nbsp;</div></td>
</tr>

	</tbody></table>

</td>
</tr>

</tbody></table>

</td>
</tr>
</tbody></table>


</body></html>