<!DOCTYPE html> 
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-1.7.1.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.jplayer.min.js"/>
		<script>
		/*<![CDATA[*/
		$(document).ready(function(){
			$(".poe").hide();
			$(".poe-hover").hover(function(){
				$(".top-poe").slideDown();
				$(".bottom-poe").slideDown();
			}, function(){
				$(".top-poe").slideUp();
				$(".bottom-poe").slideUp();
			});
			
			$("#jquery_audioPlayer").jPlayer({
				ready: function() {
					$(this).jPlayer("setMedia", {
						mp3:"/data/intro.mp3"
					}).jPlayer("play");
				},
				swfPath: "data",
				supplied: "mp3",
				loop: true,
				wmode: "window"
			});
		});
		/*]]>*/
		</script>
	</head>
	
	<body>
		<div class="cover-inner">
			<img src="/data/images/logo/title.png"/>
			<p><a href="/trang-chu"><span class="link poe-hover">Vào Trang chủ</span></a></p>
		</div>
		
		<div class="p-title poe-hover"><a href="/trang-chu"><p>Chùa Hồng Liên</p></a></div>

		<div class="poe top-poe"><p>Trăm năm nhìn xuống đời hư ảo</p></div>
		<div class="poe bottom-poe"><p>Phút chốc nhìn lên ngộ lẽ trời</p></div>

		<div id="jquery_audioPlayer" class="jp-jplayer"></div>
		
		<!--
		<img class="cloud cloud1" src="/data/images/bg/cloud1.png"/>
		<img class="cloud cloud2" src="/data/images/bg/cloud2.png"/>
		<img class="cloud cloud3" src="/data/images/bg/cloud3.png"/>
		<img class="bird" src="/data/images/bg/bird.gif"/>
		-->
	</body>
</html>