<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>
			/*<![CDATA[*/
			$(document).ready(function(){
				$('.news-slide').carousel({interval: 5000});
				$(".hidden-control").click(function(){
					($(this).hasClass("icon-chevron-down")==false) ? $(this).addClass("icon-chevron-down") : $(this).removeClass("icon-chevron-down")
				});
			});
			/*]]>*/
		</script>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="accordion accordion-fix" id="accordion2">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">Sự kiện gần đây</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"/>
							</div>
							<div id="collapseOne" class="accordion-body collapse in b-content">
								<div id="EventCarousel" class="carousel slide reset-margin course-slide">
									<div class="carousel-inner">
										<div class="active item">
											<a tal:attributes="href EventAll/current/getURLRead">
												<img width="100%" tal:attributes="src EventAll/current/getImage"/>
												<div class="carousel-caption">
													<p tal:content="EventAll/current/getTitle"/>
												</div>
											</a>
										</div>
										<div tal:repeat="Event EventAll" class="item">
											<a tal:attributes="href Event/getURLRead">
												<img width="100%" tal:attributes="src Event/getImage"/>
												<div class="carousel-caption">
													<p tal:content="Event/getTitle"/>
												</div>
											</a>
										</div>
									</div>
									<a class="carousel-control left" href="#EventCarousel" data-slide="prev">&lsaquo;</a>
									<a class="carousel-control right" href="#EventCarousel" data-slide="next">&rsaquo;</a>
								</div>
							</div>
						</div>
					</div>
					
					<div tal:repeat="Category CategoryNewsAll" class="accordion accordion-fix" tal:attributes="id Category/getIdPrint">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div tal:content="Category/getName" class="b-t-icon-content"/>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" tal:attributes="data-parent Category/getIdPrint; href php: '#collapse' . Category->getIdPrint()"/>
							</div>
							<div tal:attributes="id php: 'collapse' . Category->getIdPrint()" class="accordion-body collapse in b-content">
								<div class="row reset-margin">
									<div class="span4 reset-margin">
										<div class="carousel slide carousel-fade img-polaroid news-slide">
											<div class="carousel-inner">
												<div class="active item">													
													<a tal:attributes="href Category/getNewsLimit1/current/getURLRead">
														<img tal:attributes="src Category/getNewsLimit1/current/getImage"/>
														<div class="carousel-caption">
															<p tal:content="Category/getNewsLimit1/current/getTitleReduce" />
														</div>
													</a>
												</div>
												<div tal:repeat="News Category/getNewsLimit1" class="item">
													<a tal:attributes="href News/getURLRead">
														<img tal:attributes="src News/getImage"/>
														<div class="carousel-caption">
															<p tal:content="News/getTitleReduce" />
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="span4 reset-margin pull-right news-list">
										<ul class="nav nav-tabs nav-stacked">
											<li class="active news-list-title"><a>MỚI CẬP NHẬT</a></li>
											<li class="news-list-item" tal:repeat="News Category/getNewsLimit1">
												<a tal:attributes="href News/getURLRead" tal:content="News/getTitleReduce"/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="accordion accordion-fix" id="accordion3">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">VIDEO NỘI BỘ</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"/>
							</div>
							<div id="collapse3" class="accordion-body collapse in b-content">
								<ul class="thumbnails grid-item reset-margin">
									<li tal:repeat="VL VL8" class="span2">
										<div class="thumbnail">
											<a tal:attributes="href VL/getURLView">
												<img tal:attributes="src VL/getVideo/getURLImage"/>
												<p tal:content="VL/getVideo/getName"/>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="accordion accordion-fix" id="accordion4">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">Bài giảng mới nhất</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"/>
							</div>
							<div id="collapse4" class="accordion-body collapse in b-content">
								<ul class="thumbnails grid-item reset-margin">
									<li tal:repeat="VM VM24" class="span2">
										<div class="thumbnail">
											<a tal:attributes="href VM/getURLView">
												<img tal:attributes="src VM/getVideo/getURLImage"/>
												<p tal:content="VM/getVideo/getName"/>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="accordion accordion-fix" id="accordion5">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">Chuyên đề mới nhất</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion5" href="#collapse5"/>
							</div>
							<div id="collapse5" class="accordion-body collapse in b-content">
								<ul class="thumbnails grid-item reset-margin">
									<li tal:repeat="VL VL24" class="span2">
										<div class="thumbnail">
											<a tal:attributes="href VL/getURLView">
												<img tal:condition="VL/getVideo/getURL" tal:attributes="src VL/getVideo/getURLImage"/>
												<p tal:content="VL/getVideo/getName"/>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">					
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/>
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>					
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>			
			<!--<div metal:use-macro="base.xhtml/Popup"/>!-->		
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>