<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">		
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="main">
				<div id="content">
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/history.png" width="30" />
							<span>Kinh Pháp Cú <big>&#187;</big> <small tal:content="Title" style="font-size:13px;" /></span>
							<a href="/library/dhammapada">&#8629; Thư Viện</a>
						</div>
						<div style="padding:10px; line-height:25px;">
							<ul style="list-style:none;">
								<li tal:repeat="DD Dhammapada/getDetails" style="border-bottom:1px solid #DDDDDD; margin-bottom:10px; padding:5px;">
									<span style="display:block; text-align:justify;">
										<span tal:content="DD/getId" style="font-family:'CustomFont'; font-size:20px; font-weight:bold; color:#004E02" /><b>.</b> 
										<span tal:content="DD/getContentVi" style="font-family:'CustomFont'; font-size:20px; color:#004E02;" />
										<span style="display:block; text-indent:35px; color:#696969;">
											<i>"<span tal:content="DD/getContentEn" />"</i>
										</span>
									</span>
								</li>
							</ul>
						</div>
						<div class="news-box-sub-title">Các phẩm</div>
						<ul class="news-box-list">
							<li tal:repeat="Dhammapada DhammapadaAll">
								<a tal:attributes="href Dhammapada/getURLRead">
									<span tal:content="Dhammapada/getId"/>. 
									<span tal:content="Dhammapada/getNameVi"/>
								</a>
							</li>
						</ul>
						<div class="clear" />
					</div>
				</div>
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/DhammapadaBox"/>
					<div metal:use-macro="macros.xhtml/EventBox"/>					
					<div metal:use-macro="macros.xhtml/CourseBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/VideoBox"/>
					<div metal:use-macro="macros.xhtml/AskBox"/>					
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					<div metal:use-macro="macros.xhtml/AdsBox"/>
				</div>				
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>