<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				
				<div id="content">
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/linked.png" width="30"  />
							<span>DANH SÁCH CÁC TRANG BẠN</span>							
						</div>
						<div align="center" style="padding:10px;">
							<table class="manager-table" border="0" cellpadding="0" cellspacing="1" width="90%" ><tbody>
								<tr tal:repeat="Linked Linkeds">
									<td align="center" width="32">
										<div tal:content="repeat/Linked/number" />
									</td>
									<td align="left" class="text-hightlight">
									<a target="blank" tal:attributes="href Linked/getURL">
										<b><div tal:content="Linked/getName" /></b>
									</a></td>
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/DhammapadaBox"/>
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/CourseBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/VideoBox"/>
					<div metal:use-macro="macros.xhtml/AskBox"/>					
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					<div metal:use-macro="macros.xhtml/AdsBox"/>
				</div>				
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft"/>
		</div>
	</body>
</html>