Options +FollowSymlinks
RewriteEngine on

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 												?cmd=App [L]

RewriteRule ^app$ 												?cmd=App [L]

RewriteRule ^app/config$ 										?cmd=AppConfig [L]
RewriteRule ^app/config/page/([0-9]+)$ 							?cmd=AppConfig&Page=$1 [L]

RewriteRule ^app/event$ 										?cmd=AppEvent [L]
RewriteRule ^app/event/ins/load$ 								?cmd=AppEventInsLoad [L]
RewriteRule ^app/event/ins/exe$ 								?cmd=AppEventInsExe [L]
RewriteRule ^app/event/([0-9]+)/upd/load$ 						?cmd=AppEventUpdLoad&IdEvent=$1 [L]
RewriteRule ^app/event/([0-9]+)/upd/exe$ 						?cmd=AppEventUpdExe&IdEvent=$1 [L]

RewriteRule ^app/album$ 										?cmd=AppLibraryAlbum [L]
RewriteRule ^app/album/page/([0-9]+)$ 							?cmd=AppLibraryAlbum&Page=$1 [L]

RewriteRule ^app/category/news$ 								?cmd=AppCategoryNews [L]
RewriteRule ^app/category/news/page/([0-9]+)$ 					?cmd=AppCategoryNews&Page=$1 [L]

RewriteRule ^app/news$ 											?cmd=AppNews [L]
RewriteRule ^app/news/([0-9]+)$ 								?cmd=AppNews&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/page/([0-9]+)$ 					?cmd=AppNews&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/news/([0-9]+)/ins/load$ 						?cmd=AppNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/ins/exe$ 						?cmd=AppNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppNewsDelExe&IdCategory=$1&IdNews=$2 [L]

RewriteRule ^app/news/([0-9]+)/([0-9]+)/bookmark1$ 				?cmd=AppNewsBookmarkExe&IdCategory=$1&IdNews=$2&IdBookmark=1 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/bookmark2$ 				?cmd=AppNewsBookmarkExe&IdCategory=$1&IdNews=$2&IdBookmark=2 [L]

RewriteRule ^app/btype$ 										?cmd=AppBType [L]
RewriteRule ^app/btype/([0-9]+)$ 								?cmd=AppBTypeCategory&IdBType=$1 [L]
RewriteRule ^app/btype/([0-9]+)/([0-9]+)$ 						?cmd=AppBTypeCategoryVideo&IdBType=$1&IdCategory=$2 [L]
RewriteRule ^app/btype/([0-9]+)/([0-9]+)/voice$ 				?cmd=AppVoiceBook&IdBType=$1&IdCategory=$2 [L]

RewriteRule ^app/category/video/([0-9]+)$ 						?cmd=AppCategoryVideoDetail&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/page/([0-9]+)$ 		?cmd=AppCategoryVideoDetail&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/load$ 				?cmd=AppCategoryVideoDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/exe$ 				?cmd=AppCategoryVideoDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=AppCategoryVideoDetailUpdLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=AppCategoryVideoDetailUpdExe&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/load$ 	?cmd=AppCategoryVideoDetailDelLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=AppCategoryVideoDetailDelExe&IdCategory=$1&IdVideoLibrary=$2 [L]