<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>				
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<div class="btn-group">
									<a href="/app/disable/del/all" class="btn"><i class="glyphicon glyphicon-check"> Xóa hết</i></a>
								</div>
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>STT</th>											
											<th><div class="text-left">TÊN VIDEO</div></th>
											<th width="64"/>
											<th width="32"/>
										</tr>
									</thead>
									<tbody>
										<tr class="content-rows" tal:repeat="VD VideoDisableAll">
											<td width="32" align="center"><div tal:content="repeat/VD/number" /></td>
											<td tal:content="VD/getVideo/getName" />
											<td>
												<img tal:attributes="src VD/getVideo/getURLImage" />
											</td>
											<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id VD/getId"><i class="glyphicon glyphicon-remove"/></a></td>
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
						
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/VideoDisable/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
											
		/*]]>*/</script>
	</body>
</html>