<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		
		<div id="sidebar">
			<ul>
				<li tal:repeat="Category1 CategoryNewsAll" tal:attributes="class php:Category->getId()==Category1->getId()?'active':'disabled'">
					<a tal:attributes="href Category1/getURLView">
						<i class="glyphicon glyphicon-th"></i> <span tal:content="Category1/getName" />
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<a tal:attributes="href Category/getURLNewsInsLoad" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></a>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="30px">STT</th>
											<th width="32px"/>
											<th><div class="text-left">NGÀY</div></th>
											<th><div class="text-left">TIÊU ĐỀ</div></th>
											<th width="30px" />
											<th width="30px" />
											<th width="30px" />
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="News NewsAll" >
											<td><div tal:content="repeat/News/number" /></td>
											<td>
												<span tal:condition="News/isVIP" class="glyphicon glyphicon-star"/>
												<span tal:condition="not:News/isVIP" class="glyphicon glyphicon-star-empty"/>
											</td>
											<td width="90px"><div tal:content="News/getDatePrint" /></td>
											<td><a tal:attributes="href News/getURLUpdLoad"><div tal:content="News/getTitle" /></a></td>
											<td><a tal:attributes="href News/getURLBookmark1"><i class="glyphicon glyphicon-bookmark"/>1</a></td>
											<td><a tal:attributes="href News/getURLBookmark2"><i class="glyphicon glyphicon-bookmark"/>2</a></td>
											<td><a tal:attributes="href News/getURLDelLoad"><i class="glyphicon glyphicon-remove"/></a></td>
										</tr>
									</tbody>
								</table>
								<center>
									<ul class="pagination">
										<li tal:repeat="P PN/getPages"><a tal:attributes="href P/getURL" tal:content="P/getName"/></li>
									</ul>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>