<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>		
		<div id="content">
			<div id="content-header">
				<h1>THÊM MỚI SỰ KIỆN</h1>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<form class="form-horizontal" action='/app/rss/ins/exe' method="post">
									<div class="control-group">
										<label class="control-label" for="Title">Tên Trang Web</label>
										<div class="controls">
											<input type="text" id="Name" name="Name" />
										</div>
									</div>									
									<div class="control-group">
										<label class="control-label" for="Weburl">Địa Chỉ Web lấy tin</label>
										<div class="controls">											
											<input type="text" id="Weburl" name="Weburl"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Rssurl">Địa chỉ Rss lấy tin</label>
										<div class="controls">
											<input type="text" id="Rssurl" name="Rssurl" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Type">Thể Loại</label>
										<div class="controls">
											<select name="Type" id="Type">
												<option tal:repeat="CategoryNew AllCategoryNews" tal:attributes="value CategoryNew/getId;">
													<span tal:content="CategoryNew/getName"/>
												</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Enable">Khả dụng</label>
										<div class="controls">
											<select name="Enable" id="Enable">
												<option value="1" ><span>Áp Dụng</span></option>
												<option value="0" ><span>Không Áp Dụng</span></option>
											</select>
										</div>
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* SET TODAY FOR DATEPICKER														*/
			/* ---------------------------------------------------------------------------- */
			//THIẾT LẬP NGÀY GIỜ GIAO DỊCH
			$('#Date').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});			
		/*]]>*/
		</script>
	</body>
</html>