<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>		
		<div id="sidebar">			
		</div>			
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<a href="/app/rss/ins/load" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></a>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="32">STT</th>
											<th><div class="text-left">Web Gốc</div></th>
											<th><div class="text-left">Địa chỉ Web</div></th>
											<th><div class="text-left">Địa chỉ Rss lấy tin</div></th>
											<th><div class="text-left">Thể Loại</div></th>
											<th><div class="text-left">Khả dụng</div></th>
											<th><div class="text-left">Duyệt Tin tức</div></th>
											<th width="32"/>
										</tr>
									</thead>
									<tbody>
										<tr class="content-rows" tal:repeat="Rss RssAll">
											<td width="32" align="center"><div tal:content="repeat/Rss/number" /></td>											
											<td align="left">
												<a tal:attributes="href Rss/getURLUpdLoad" tal:content="Rss/getName"/>
											</td>
											<td align="left"><div tal:content="Rss/getWeburl" /></td>
											<td align="left"><div tal:content="Rss/getRssurl" /></td>
											<td align="left"><div tal:content="Rss/getCategoryVideo/getName" /></td>
											<td align="left"><div tal:content="Rss/getEnablePrint" /></td>
											<td align="left">
												<a tal:attributes="href Rss/getURLPublishNews" >Duyệt</a>
											</td>
											<td width="32" class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Rss/getId"><i class="glyphicon glyphicon-remove"/></a></td>
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
								
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Delete 1 CategoryVideo			
			//-----------------------------------------------------------------------------------
		
			
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/RssLink/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
									
						
		/*]]>*/
		</script>
	</body>
</html>