<!DOCTYPE html>
<html lang="en">
	<body>
		<div id="CourseLog">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th width="40"><i class="glyphicons-clock"/></th>										
						<th><div class="text-left">TÊN MÓN</div></th>
						<th><div class="text-left">ĐỊA CHỈ</div></th>
						<th width="120"><div class="text-left">THỜI GIAN</div></th>
						<th width="70"><div class="text-right">ĐÃ ...</div></th>
						<th width="70"><div class="text-right">SL</div></th>
						<th width="120"><div class="text-left">LÀM XONG</div></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr tal:repeat="CL CLAll">
						<td align="center" tal:content="repeat/CL/number"/>
						<td><span tal:content="CL/getCourse/getName"/></td>
						<td><span tal:content="CL/getTable/getDomain/getName"/> / <span tal:content="CL/getTable/getName"/></td>
						<td><span tal:content="CL/getDateTimePrint"/></td>
						<td align="right"><span tal:content="CL/getRemainWaiting"/> / <span tal:content="CL/getCourse/getPrepare"/></td>
						<td align="right"><span tal:content="CL/getCount"/></td>
						<td>											
							<a class="remove-item" tal:attributes="data-id CL/getId">Xác nhận</a>
						</td>
					</tr>
				</tbody>
			</table>							
		</div>					
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Delete 1 REPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$("#CourseLog").load("/calllog/loading/"+ $(this).attr('data-id'));				
			});
		/*]]>*/
		</script>
	</body>
</html>