<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-align-justify"></i></span>
								<h5>CẬP NHẬT</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" tal:attributes="action '/change/pass/exe'" method="post">
									<div class="control-group">
										<label class="control-label">Mật khẩu</label>
										<div class="controls">
											<input id="Pass" name="Pass" type="password" class="form-control input-sm"/>											
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Gõ lại mật khẩu</label>
										<div class="controls">
											<input id="Pass1" name="Pass1" type="password" class="form-control input-sm"/>
										</div>
									</div>
									<div class="form-actions">
										<button class="btn btn-primary btn-sm" type="submit"><i class="icon-key"/>Thay đổi</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>