<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Track1 TrackAll" tal:attributes="class php:Track1->getId()==Track->getId()?'active':'disable'">
					<a tal:attributes="href Track1/getURLPayRoll">
						<span tal:content="Track1/getName" />
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">							
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>										
										<th width="32">STT</th>
										<th><div class="text-left">NHÂN VIÊN</div></th>
										<th width="120"><div class="text-right">LƯƠNG</div></th>
										<th width="120">IN PHIẾU</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="PayRoll Track/getPayRollAll">
										<td><div class="text-center" tal:content="repeat/PayRoll/number"/></td>
										<td><span tal:content="PayRoll/getEmployee/getName"/></td>
										<td align="right">
											<a class="update-item" href="#DialogEdit" data-toggle="modal" 
												tal:attributes="
												data-id 			PayRoll/getId; 
												data-id-employee 	PayRoll/getIdEmployee; 
												data-id-tracking 	PayRoll/getIdTracking; 
												data-name 			PayRoll/getEmployee/getName; 
												data-base-value 	PayRoll/getBaseValue; 
												data-extra-value 	PayRoll/getExtraValue; 
												data-punish-value 	PayRoll/getPunishValue; 
												data-note 			PayRoll/getNote; 
												data-absent 		PayRoll/getAbsent">
												<span tal:content="PayRoll/getValuePrint"/>
											</a>
										</td>
										<td align="center">
											<a tal:attributes="href PayRoll/getURLPrint" target="blank">
												<span class="glyphicons-print"/>
											</a>
										</td>
									</tr>
									<tr>
										<td />
										<td><div class="text-left"><B>TỔNG CỘNG</B></div></td>
										<td><div class="text-right" tal:content="NSValue/formatCurrency"/></td>
										<td />
									</tr>
								</tbody>
							</table>
							<div id="Reset" class="btn btn-primary" tal:attributes="alt URLReset">Khởi tạo lại dữ liệu</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicons-user modal-icon"/>CẬP NHẬT LƯƠNG NHÂN VIÊN</h3></div>
					<form id="FormPayRollUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">								
								<div class="control-group">
									<label class="control-label">Tên</label>
									<div class="controls">
										<input id="Name2" name="Name2" readonly="true" type="text" class="form-control input-small"/>
									</div>
								</div>																															
								<div class="control-group">
									<label class="control-label">Lương cơ bản</label>
									<div class="controls">								
										<input id="BaseValue2" name="BaseValue2" type="text" class="form-control input-small"/>
									</div>
								</div>								
								<div class="control-group">
									<label class="control-label">Số ngày nghỉ</label>
									<div class="controls">								
										<input id="Absent2" name="Absent2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Thưởng</label>
									<div class="controls">
										<input id="ExtraValue2" name="ExtraValue2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Phạt</label>
									<div class="controls">
										<input id="PunishValue2" name="PunishValue2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Ghi chú</label>
									<div class="controls">
										<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div id="Id2" />
								<div id="IdTracking2" />
								<div id="IdEmployee2" />
							</div>
						</div>									
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- DIALOG PREVIEW	-->
		<div id="DialogPreview" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicons-print modal-icon"/>IN ẤN</h3></div>
					<div class="form-horizontal">
						<div class="form-group">
							<div id="DocPreview" />
						</div>
						<div class="modal-footer">
							<button id="ButtonDocPreview" data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Đóng lại</button>
						</div>									
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Load PAYROLL
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				$('#Id2').attr('alt', 			$(this).attr('data-id'));
				$('#IdEmployee2').attr('alt', 	$(this).attr('data-id-employee'));
				$('#IdTracking2').attr('alt', 	$(this).attr('data-id-tracking'));
				$('#Name2').attr('value', 		$(this).attr('data-name'));
				$('#BaseValue2').attr('value', 	$(this).attr('data-base-value'));
				$('#ExtraValue2').attr('value', 	$(this).attr('data-extra-value'));
				$('#PunishValue2').attr('value', 	$(this).attr('data-punish-value'));
				$('#Absent2').attr('value', 		$(this).attr('data-absent'));
				$('#Note2').attr('value', 			$(this).attr('data-note'));
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 EMPLOYEEE
			//-----------------------------------------------------------------------------------
			$("#FormPayRollUpdate").validate({
				rules:{					
					BaseValue2:{
						number: true,
						required:true,
						min:1000000
					},
					ExtraValue2:{
						number: true,
						required:true,
						min:0
					},
					PunishValue2:{
						number: true,
						required:true,
						min:0
					},
					Absent2:{
						number: true,
						required:true,
						min:0
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#Id2').attr('alt');
					Data[1] = $('#IdEmployee2').attr('alt');
					Data[2] = $('#IdTracking2').attr('alt');						
					Data[3] = $('#Absent2').val();
					Data[4] = $('#BaseValue2').val();
					Data[5] = $('#ExtraValue2').val();
					Data[6] = $('#PunishValue2').val();					
					Data[7] = $('#Note2').val();
															
					var URL = "/object/upd/PayRoll";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#BaseValue2').first().focus()},
					0500
				);
			});
									
			$("#Reset").click(function(){
				var URL = $(this).attr('alt');				
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
		/*]]>*/
		</script>	
	</body>
</html>