<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">																	
				<div class="col-12">															
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr>
										<td class="right" width="50%">KHU VỰC / BÀN</td>
										<td class="right">
											<span tal:content="DomainAll/count"/> / <span tal:content="TableAll/count"/>
										</td>
									</tr>
									<tr>
										<td class="right" width="50%">DANH MỤC / MÓN</td>
										<td class="right">
											<span tal:content="CategoryAll/count"/> / <span tal:content="CourseAll/count"/>
										</td>
									</tr>
									<tr>
										<td class="right" width="50%">GIAO DỊCH / CHI TIẾT</td>
										<td class="right">
											<span tal:content="SessionAll/count"/> / <span tal:content="SDAll/count"/>
										</td>
									</tr>
									<tr>
										<td class="right" width="50%">NHÀ CUNG CẤP / NGUYÊN LIỆU</td>
										<td class="right">
											<span tal:content="SupplierAll/count"/> / <span tal:content="ResourceAll/count"/>
										</td>
									</tr>
									<tr>
										<td class="right" width="50%">ĐƠN HÀNG NHẬP / CHI TIẾT NHẬP</td>
										<td class="right">
											<span tal:content="OrderAll/count"/> / <span tal:content="ODAll/count"/>
										</td>
									</tr>
									<tr>
										<td class="right" width="50%">LOG NHẬT KÍ</td>
										<td class="right">
											<span tal:content="LogAll/count"/>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>									
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>