<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="18%"><div class="text-left">THỜI GIAN</div></th>
											<th width="15%"><div class="text-left">LOẠI CHI</div></th>
											<th width="40%"><div class="text-left">DIỄN GIẢI</div></th>
											<th width="22%"><div class="text-right">GIÁ TRỊ</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Collect CollectAll">
											<td align="center"><span tal:content="Collect/getId"/></td>
											<td align="left"><span tal:content="Collect/getDatePrint"/></td>
											<td align="left"><span tal:content="Collect/getTerm/getName"/></td>
											<td align="left"><span tal:content="Collect/getNote"/></td>
											<td align="right"><span tal:content="Collect/getValuePrint"/></td>
										</tr>
										<tr>
											<td align="right" colspan="4">TỔNG CỘNG</td>
											<td align="right"><B tal:content="php: NTotal->formatCurrency() . ' đ'"/></td>
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>