<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="18%"><div class="text-left">THỜI GIAN</div></th>
											<th width="55%"><div class="text-left">DIỄN GIẢI</div></th>
											<th width="22%"><div class="text-right">GIÁ TRỊ</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Order OrderAll">
											<td align="center"><span tal:content="Order/getId"/></td>
											<td align="left">
												<span tal:content="Order/getDatePrint"/>
											</td>
											<td align="left">
												<span tal:content="Order/getDescription"/>
											</td>											
											<td align="right">
												<span tal:content="Order/getValuePrint"/>
											</td>											
										</tr>
										<tr>
											<td align="right" colspan="3">TỔNG CỘNG</td>
											<td align="right"><B tal:content="php: NTotal->formatCurrency() . ' đ'"/></td>
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>