<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<div role="grid" class="dataTables_wrapper">
									<div tal:repeat="Domain DomainAll">
										<h1 tal:content="Domain/getName"/>
										<div tal:repeat="Table Domain/getTableAll">
											<h2 tal:content="Table/getName"/>
											<ul tal:condition="php:Table->getLog(Date)">
												<li tal:repeat="Log php:Table->getLog(Date)">
													<span tal:content="Log/getUser/getName"/> : <span tal:content="Log/getDateTimePrint"/> - <span tal:content="Log/getNote"/>
												</li>
											</ul>
										</div>
									</div>									
								</div>								
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>