<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">
									<H3>BẢNG TỔNG KẾT</H3>
									<table class="table table-striped table-hover">										
										<tbody>											
											<tr>
												<td align="right"><B>NỢ THÁNG TRƯỚC</B></td>
												<td align="right" width="120"><B tal:content="NVO/formatCurrency"/> đ</td>
											</tr>											
											<tr>
												<td align="right"><B>PHIẾU THIẾU</B></td>
												<td align="right" width="120"><B tal:content="NVS2/formatCurrency"/> đ</td>
											</tr>											
											<tr>
												<td align="right"><B>KHÁCH TRẢ</B></td>
												<td align="right" width="120"><B tal:content="NVC/formatCurrency"/> đ</td>
											</tr>
											<tr>
												<td align="right"><B>TỔNG NỢ HIỆN TẠI</B></td>
												<td align="right" width="120"><B tal:content="NVN/formatCurrency"/> đ</td>
											</tr>
										</tbody>
									</table>
									
									<p> Trong đó chi tiết như sau:</p>									
									<H3>CHI TIẾT GIAO DỊCH</H3>
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr role="row">
												<th width="32"><div class="text-left">STT</div></th>
												<th width="120"><div class="text-left">THỜI ĐIỂM</div></th>
												<th width="120"><div class="text-left">NHÂN VIÊN</div></th>
												<th width="160"><div class="text-left">ĐỊA ĐIỂM</div></th>
												<th><div class="text-left">GHI CHÚ</div></th>
												<th width="120"><div class="text-right">PHIẾU THIẾU</div></th>
												<th width="120"><div class="text-right">TÍNH ĐỦ</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="Session SessionAll" class="gradeA odd">
												<td><span tal:content="repeat/Session/number"/></td>
												<td><span tal:content="Session/getDateTimePrint"/></td>
												<td><span tal:content="Session/getUser/getName"/></td>
												<td><span tal:content="Session/getTable/getDomain/getName"/> / <span tal:content="Session/getTable/getName"/></td>
												<td><span tal:content="Session/getNote"/></td>
												<td align="right">
													<span tal:condition="php:Session->getStatus()==2" tal:content="Session/getValuePrint"/>
												</td>
												<td align="right">
													<span tal:condition="php:Session->getStatus()==1" tal:content="Session/getValuePrint"/>
												</td>
											</tr>
											<tr>
												<td align="right" colspan="5"><B>TỔNG CỘNG</B></td>
												<td align="right"><B tal:content="NVS2/formatCurrency"/> đ</td>
												<td align="right"><B tal:content="NVS1/formatCurrency"/> đ</td>
											</tr>
										</tbody>
									</table>
									<H3>CHI TIẾT TRẢ TIỀN</H3>
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr role="row">
												<th width="32"><div class="text-left">STT</div></th>
												<th width="120"><div class="text-left">THỜI ĐIỂM</div></th>
												<th><div class="text-left">GHI CHÚ</div></th>												
												<th width="120"><div class="text-right">TIỀN TRẢ</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="Collect CollectAll" class="gradeA odd">
												<td><span tal:content="repeat/Collect/number"/></td>
												<td><span tal:content="Collect/getDatePrint"/></td>
												<td><span tal:content="Collect/getNote"/></td>
												<td align="right"><span tal:content="Collect/getValuePrint"/></td>
											</tr>
											<tr>
												<td align="right" colspan="3"><B>TỔNG CỘNG</B></td>
												<td align="right"><B tal:content="NVC/formatCurrency"/> đ</td>
											</tr>
										</tbody>
									</table>									
																		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>