<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuSetting"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<div class="form-horizontal">
								<div class="modal-body">
									<div class="form-group">
										<label class="control-label">Tên quán</label>
										<div class="controls">
											<input id="Name2" tal:attributes="value ConfigName/getValue;data-id ConfigName/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Địa chỉ</label>
										<div class="controls">
											<input id="Address2" tal:attributes="value ConfigAddress/getValue;data-id ConfigAddress/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Điện thoại</label>
										<div class="controls">
											<input id="Phone2" tal:attributes="value ConfigPhone/getValue;data-id ConfigPhone/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số dòng trên trang</label>
										<div class="controls">
											<input id="RowPerPage2" tal:attributes="value ConfigRowPerPage/getValue;data-id ConfigRowPerPage/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số lượt truy cập</label>
										<div class="controls">
											<input id="GuestVisit2" tal:attributes="value ConfigGuestVisit/getValue;data-id ConfigGuestVisit/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giảm giá (mặc định)</label>
										<div class="controls">
											<input id="Discount2" tal:attributes="value ConfigDiscount/getValue;data-id ConfigDiscount/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Phạt trễ giờ</label>
										<div class="controls">
											<input id="Every5Minutes2" tal:attributes="value ConfigEvery5Minutes/getValue;data-id ConfigEvery5Minutes/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Danh mục tự chọn</label>
										<div class="controls">											
											<select name="CategoryAuto2" id="CategoryAuto2" style="width:80%;" tal:attributes="data-id ConfigCategoryAuto/getId">
												<option tal:repeat="Category CategoryAll" tal:attributes="value Category/getId; selected php:ConfigCategoryAuto->getValue()==Category->getId()?'selected':''">
													<span tal:content="Category/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Hiển thị gọi món</label>
										<div class="controls">											
											<select name="SwitchBoardCall2" id="SwitchBoardCall2" style="width:80%;" tal:attributes="data-id ConfigSwitchBoardCall/getId">
												<option value="0" tal:attributes="selected php:ConfigSwitchBoardCall->getValue()=='0'?'selected':''">Tắt</option>
												<option value="1" tal:attributes="selected php:ConfigSwitchBoardCall->getValue()=='1'?'selected':''">Bật</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giả lặp phiếu 2 liên</label>
										<div class="controls">											
											<select name="ReceiptVirtualDouble2" id="ReceiptVirtualDouble2" style="width:80%;" tal:attributes="data-id ConfigReceiptVirtualDouble/getId">
												<option value="0" tal:attributes="selected php:ConfigReceiptVirtualDouble->getValue()=='0'?'selected':''">Tắt</option>
												<option value="1" tal:attributes="selected php:ConfigReceiptVirtualDouble->getValue()=='1'?'selected':''">Bật</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Thời gian lưu Log</label>
										<div class="controls">											
											<select name="nMonthLog2" id="nMonthLog2" style="width:80%;" tal:attributes="data-id ConfignMonthLog/getId">
												<option value="1" tal:attributes="selected php:ConfigReceiptVirtualDouble->getValue()=='1'?'selected':''">1 tháng</option>
												<option value="2" tal:attributes="selected php:ConfigReceiptVirtualDouble->getValue()=='2'?'selected':''">2 tháng</option>
												<option value="3" tal:attributes="selected php:ConfigReceiptVirtualDouble->getValue()=='3'?'selected':''">3 tháng</option>
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/									
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------															
			$('#URLUpdButton').click(function(){
				var Data1 = [];
				var Data2 = [];
				var Data3 = [];
				var Data4 = [];
				var Data5 = [];
				var Data6 = [];
				var Data7 = [];
				var Data8 = [];
				var Data9 = [];
				var Data10 = [];
				
				Data1[0] = $('#RowPerPage2').attr('data-id');
				Data1[1] = "ROW_PER_PAGE";
				Data1[2] = $('#RowPerPage2').val();
				
				var URL = "/object/upd/Config";
				$.ajax({
					type: "POST",
					data: {Data:Data1},
					url: URL,
					success: function(msg){}
				});
				
				Data2[0] = $('#GuestVisit2').attr('data-id');
				Data2[1] = "GUEST_VISIT";
				Data2[2] = $('#GuestVisit2').val();			
				$.ajax({
					type: "POST",
					data: {Data:Data2},
					url: URL,
					success: function(msg){}
				});
				
				Data3[0] = $('#Discount2').attr('data-id');
				Data3[1] = "DISCOUNT";
				Data3[2] = $('#Discount2').val();								
				$.ajax({
					type: "POST",
					data: {Data:Data3},
					url: URL,
					success: function(msg){}
				});
				
				Data4[0] = $('#Every5Minutes2').attr('data-id');
				Data4[1] = "EVERY_5_MINUTES";
				Data4[2] = $('#Every5Minutes2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data4},
					url: URL,
					success: function(msg){}
				});
				
				Data5[0] = $('#CategoryAuto2').attr('data-id');
				Data5[1] = "CATEGORY_AUTO";
				Data5[2] = $('#CategoryAuto2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data5},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật bật/tắt board gọi món
				Data6[0] = $('#SwitchBoardCall2').attr('data-id');
				Data6[1] = "SWITCH_BOARD_CALL";
				Data6[2] = $('#SwitchBoardCall2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data6},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật bật/tắt in 2 liên
				Data7[0] = $('#ReceiptVirtualDouble2').attr('data-id');
				Data7[1] = "RECEIPT_VIRTUAL_DOUBLE";
				Data7[2] = $('#ReceiptVirtualDouble2').val();				
				$.ajax({
					type: "POST",
					data: {Data:Data7},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật tên quán
				Data8[0] = $('#Name2').attr('data-id');
				Data8[1] = "NAME";
				Data8[2] = $('#Name2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data8},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật địa chỉ
				Data9[0] = $('#Address2').attr('data-id');
				Data9[1] = "ADDRESS";
				Data9[2] = $('#Address2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data9},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật điện thoại
				Data10[0] = $('#Phone2').attr('data-id');
				Data10[1] = "PHONE";
				Data10[2] = $('#Phone2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data10},
					url: URL,
					success: function(msg){}
				});
				
				//hiển thị thông báo
				$.gritter.add({
					title		:'Thông báo',
					class_name	: 'gritter-green',
					text		:'Đã cập nhật xong',
					time		:5000,
					sticky		: false
				});
			});
		/*]]>*/</script>
	</body>
</html>