<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>STT</th>
								<th align="left">NGÀY</th>
								<th align="left">NGƯỜI HỎI</th>
								<th align="left">TÌNH TRẠNG</th>
								<th>XÓA</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Ask Category/getAsks">
								<td width="32" align="center">
									<div tal:content="repeat/Ask/number" />
								</td>
								<td>
									<a tal:attributes="href Ask/getURLUpdLoad">
										<div tal:content="Ask/getTimePrint" />
									</a>
								</td>
								<td>
									<span tal:content="Ask/getAuthor1" />
								</td>
								<td>
									<span tal:content="Ask/getAnswerStatePrint" />
								</td>
								<td class="text-hightlight" width="32" align="center">
									<a tal:attributes="href Ask/getURLDelLoad">
										<span class="icon-remove"/>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" align="center">
									<a class="btn" tal:attributes="href Category/getURLAskInsLoad"><span class="icon-plus"/> Thêm mới</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">
						<li tal:repeat="Category1 CategoryAskAll1" tal:attributes="class php:Category->getId()==Category1->getId()?'disabled':'active'">
							<a tal:attributes="href Category1/getURLView">
								<span tal:content="Category1/getName" /> <span class="badge badge-info pull-right" tal:content="Category1/getAsks/count"/> 
							</a>
						</li>
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>