<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="30px">STT</th>										
								<th align="left">DANH MỤC</th>
								<th width="30px">XÓA</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Detail Panel/getDetailAll">
								<td><div tal:content="repeat/Detail/number" /></td>
								<td><div tal:content="Detail/getCategoryVideo/getName" /></td>
								<td><a tal:attributes="href Detail/getURLDelLoad"><span class="icon-remove"/></a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" align="center">
									<a class="btn" tal:attributes="href Panel/getURLDetailInsLoad">
										<span class="icon-plus"/> Thêm mới
									</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="span3">
					<ul class="nav nav-pills nav-stacked">															
						<li tal:repeat="Panel1 PanelAll" tal:attributes="class php:Panel->getId()==Panel1->getId()?'disabled':'active'">
							<a tal:attributes="href Panel1/getURLDetail">
								<span tal:content="Panel1/getName" /> <span class="badge badge-info pull-right" tal:content="Panel1/getDetailAll/count"/>
							</a>	
						</li>					
					</ul>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>