<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="30px">STT</th>
								<th>TIÊU ĐỀ</th>
								<th width="30px">XÓA</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Panel PanelNewsAll">
								<td><div tal:content="repeat/Panel/number" /></td>
								<td><div tal:condition="Panel/getNews" tal:content="Panel/getNews/getTitle" /></td>
								<td><a tal:attributes="href Panel/getURLDelLoad"><span class="icon-remove"/></a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" align="center">
									<a class="btn" href="app/panel/news/ins/load"><span class="icon-plus"/>Thêm mới</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="span3">
					<span metal:use-macro="mAdmin.xhtml/Menu"/>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>								
	</body>
</html>