<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>

	<body>
		<div id="fb-root"/>
		<div metal:use-macro="macros.xhtml/Popup" />
		<div class="container">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div class="main row">
				<div class="top-bar row">
					<div class="date-time span6">
						<div metal:use-macro="macros.xhtml/DateTimeBox"/>
					</div>
					<div class="carousel-text span7">
						<div metal:use-macro="macros.xhtml/TextGo"/>
					</div>
				</div>
				<div class="content span8">
					<div class="wraper">						
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Sự kiện</div>
							</div>
							<div class="b-content">
								<div tal:repeat="EV EventAll"  class="media img-polaroid">
									<a tal:attributes="href EV/getURLRead" class="pull-left">
										<img tal:attributes="src EV/getImage" class="media-object img-rounded" style="height:150px;width:200px;"/>
									</a>
									<div class="media-body">
										<a tal:attributes="href EV/getURLRead">
											<h4 tal:content="EV/getTitle" class="media-heading"/>
										</a>
										<p>(<span tal:content="EV/getDatePrint"/>)</p>
										<p>Nội dung tóm tắt</p>
										<p>Nội dung tóm tắt</p>
										<p>Nội dung tóm tắt</p>
									</div>
								</div>
								<!--
								<div class="pagination">
									<ul>
										<li tal:repeat="P PN/getPages">
											<a tal:attributes="href P/getURL" tal:content="P/getName" />
										</li>
									</ul>
								</div>
								-->
							</div>
						</div>

					</div>
				</div>
				<div class="sidebar span5">
					<div class="wraper">
						<div metal:use-macro="macros.xhtml/TaskBox"/>						
						<div metal:use-macro="macros.xhtml/BuddhaBox"/>
						<div metal:use-macro="macros.xhtml/PictureBox"/>
						<div metal:use-macro="macros.xhtml/TopNewsBox"/>
						<div metal:use-macro="macros.xhtml/TopVideoBox"/>
						<div metal:use-macro="macros.xhtml/TopMonkBox"/>
						<div metal:use-macro="macros.xhtml/AskBox"/>
						<div metal:use-macro="macros.xhtml/SponsorBox"/>
						<div metal:use-macro="macros.xhtml/ContactBox"/>
						<div metal:use-macro="macros.xhtml/CallendarBox"/>
					</div>
				</div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer"/>
			<div metal:use-macro="macros.xhtml/FacebookLike"/>
		</div>
	</body>
</html>