<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
				(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
					  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				
		
				$(document).ready(function() {
					$('.carousel').carousel({
						interval: 5000
					});					
					$('.tooltipvideo').tooltip();
				});
			/*]]>*/
		</script>
	</head>

	<body>
		<div id="fb-root"/>
		<!--<div metal:use-macro="macros.xhtml/Popup" />-->
		<div class="container">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div class="main row">
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div metal:use-macro="macros.xhtml/TextGo"/>
				<div class="content span8">
					<div class="wraper">						
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Tiêu điểm</div>
							</div>
							<div class="b-content">
								<div class="top-pic-banner" tal:condition="Course">
									<a tal:attributes="href Course/getURLRead">
										<img width="100%" tal:attributes="src Course/getImage"/>
										<div class="p-b-title" tal:content="Course/getName"/>
									</a>
								</div>
								<!--
								<div class="list-picture" tal:condition="Course">																
									<div class="grid-left parent" tal:condition="Course/getLessionNear">
										<a tal:attributes="href Course/getLessionNear/getURLRead">
											<img width="280" height="86" tal:attributes="src Course/getLessionNear/getImage" />
										</a>									
										<div style="margin-top:-25px;">
											<h3 style="margin-bottom:5px; color:#FF0000; text-align:left; padding-left:15px; margin-top:30px;">
												LỚP ĐÃ
											</h3>
											<div id="class1Countdown" style="margin-left:5px;" tal:attributes="alt Course/getLessionNear/getDateEnd" />
											<h3 style="position:absolute; right:15px; bottom:5px; color:#FF0000;">
												KẾT THÚC
											</h3>
										</div>
										<script type="text/javascript">
											/*<![CDATA[*/
											$(function() {
												var d1 = $("#class1Countdown").attr('alt');
												var parts = d1.match(/(\d+)/g);										
												var d2 = new Date(parts[0], parts[1]-1, parts[2]); 										
												$('#class1Countdown').countdown({until: d2});											
											});
											/*]]>*/
										</script>
										<div class="child" tal:content="Course/getLessionNear/getName" />
									</div>
									<div class="grid-left parent" tal:condition="not:Course/getLessionNear">									
										<span >
											<img width="280" height="86" tal:attributes="src string:/data/images/temp.jpg" />
										</span>
									</div>
									<div class="grid-right parent" tal:condition="Course/getLessionNext">									
										<a tal:attributes="href Course/getLessionNext/getURLRead">
											<img width="280" height="86" tal:attributes="src Course/getLessionNext/getImage" />
										</a>									
										<div style="margin-top:-25px;" tal:condition="Course/getLessionNext">
											<span tal:condition="Course/getLessionNext">
												<h3 style="margin-bottom:5px; color:#0000FF; text-align:left; padding-left:15px; margin-top:30px;">
													CÒN
												</h3>
												<div id="class2Countdown" style="margin-left:5px;" tal:attributes="alt Course/getLessionNext/getDateStart" />
												<h3 style="position:absolute; right:15px; bottom:5px; color:#0000FF;">
													LỚP BẮT ĐẦU
												</h3>
											</span>
										</div>
										<script type="text/javascript">
											/*<![CDATA[*/
											$(function() {
												var d1 = $("#class2Countdown").attr('alt');											
												var parts = d1.match(/(\d+)/g);											
												var d2 = new Date(parts[0], parts[1]-1, parts[2]);
												$('#class2Countdown').countdown({until: d2});
											});
											/*]]>*/
										</script>
										<div  class="child" tal:content="Course/getLessionNext/getName"/>
									</div>
								</div>
								-->
							</div>
						</div>

						<div tal:repeat="Category CategoryNewsAll" class="box">
							<div class="b-title">
								<div tal:content="Category/getName" class="b-t-icon-content"/>
							</div>
							<div class="b-content">
								<div class="row">
									<div class="b-left span4">
										<div class="carousel slide">
											<div class="carousel-inner">
												<div class="active item">
													<a href="/library/video/1">
														<img width="335px" src="/data/images/bac_tong.jpg" />
													</a>
												</div>
												<div tal:repeat="News Category/getNewsLimit1" class="item">
													<a tal:attributes="href News/getURLRead">
														<img tal:attributes="src News/getImage" style="height:250px; width:100%;"/>
														<div class="carousel-caption">
															<p tal:content="News/getTitleReduce" />
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="b-right span4">
										<ul class="nav nav-list">
											<li class="nav-header">TIN MỚI CẬP NHẬT</li>
											<li tal:repeat="News Category/getNewsLimit1">
												<a tal:attributes="href News/getURLRead" tal:content="News/getTitleReduce"/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">VIDEO NỘI BỘ</div>
							</div>
							<div class="b-content">
								<ul class="thumbnails">
									<li tal:repeat="VL VL8" class="i-grid span2">
										<a tal:attributes="href VL/getURLView">
											<div class="thumbnail">
												<img tal:attributes="src VL/getVideo/getURLImage" width="100%" height="100%"/>
												<p tal:content="VL/getVideo/getName"/>
											</div>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Bài giảng mới nhất</div>
							</div>
							<div class="b-content">
								<ul class="thumbnails">
									<li tal:repeat="VM VM24" class="i-grid span2">
										<a tal:attributes="href VM/getURLView">
											<div class="thumbnail">
												<img tal:attributes="src VM/getVideo/getURLImage" width="100%" height="100%"/>
												<p tal:content="VM/getVideo/getName"/>
											</div>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Chuyên đề mới nhất</div>
							</div>
							<div class="b-content">
								<ul class="thumbnails">
									<li tal:repeat="VL VL24" class="i-grid span2">
										<a tal:attributes="href VL/getURLView">
											<div class="thumbnail">
												<img tal:condition="VL/getVideo/getURL" tal:attributes="src VL/getVideo/getURLImage" width="100%" height="100%"/>
												<p tal:content="VL/getVideo/getName"/>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="sidebar span5">
					<div class="wraper">
						<div class="box">
							<div class="b-title">
								<div class="b-t-icon-content">Lịch Công Tác</div>
							</div>
							<div class="b-content">
								<div class="g4">
									<div id="eventCalendarLocale" />
								</div>
								<script type="text/javascript">
									/*<![CDATA[*/
									$(document).ready(function() {
										$("#eventCalendarLocale").eventCalendar({
											eventsjson: '/mvc/templates/script/events.json.php',
											eventsjson: '/task',
											monthNames: [ "Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6",
												"Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12" ],
											dayNames: [ 'Chủ Nhật','Thứ 2','Thứ 3','Thứ 4', 'Thứ 5','Thứ 6','Thứ 7' ],
											dayNamesShort: [ 'CN','Th2','Th3','Th4', 'Th5','Th6','Th7' ],
											txt_noEvents: "Không có sự kiện nào xảy ra",
											txt_SpecificEvents_prev: "",
											txt_SpecificEvents_after: "sự kiện:",
											txt_next: "Tới",
											txt_prev: "Lui",
											txt_NextEvents: "Sự kiện sắp xảy ra:",
											txt_GoToEventUrl: "đi đến sự kiện"
										});
									});
									/*]]>*/
								</script>
							</div>
						</div>
						
						<div metal:use-macro="macros.xhtml/EventBox"/>
						<div metal:use-macro="macros.xhtml/CourseBox"/>
						<div metal:use-macro="macros.xhtml/BuddhaSlide"/>
						<div metal:use-macro="macros.xhtml/PictureBox"/>
						<div metal:use-macro="macros.xhtml/TopNewsBox"/>
						<div metal:use-macro="macros.xhtml/TopVideoBox"/>
						<div metal:use-macro="macros.xhtml/TopMonkBox"/>
						<div metal:use-macro="macros.xhtml/AskBox"/>
						<div metal:use-macro="macros.xhtml/CountBox"/>
						<div metal:use-macro="macros.xhtml/SponsorBox"/>					
						<div metal:use-macro="macros.xhtml/ContactBox"/>
						<div metal:use-macro="macros.xhtml/CallendarBox"/>
					</div>
				</div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer"/>
		</div>
	</body>
</html>