<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeMETA"/>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>		
	</head>

	<body>
		<div id="fb-root"/>
		<div metal:use-macro="macros.xhtml/Popup" />
		<div class="container">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div class="main row">
				<div class="top-bar row">
					<div class="date-time span6">
						<div metal:use-macro="macros.xhtml/DateTimeBox"/>
					</div>
					<div class="carousel-text span7">
						<div metal:use-macro="macros.xhtml/TextGo"/>
					</div>
				</div>
				<div class="content span8">
					<div class="wraper">						
						
						<div class="box">
							<div class="b-title">
								<div tal:content="php:'THÔNG TIN '.Pagoda->getName()" class="b-t-icon-content"/>
							</div>
							<div class="b-content">
								<a tal:attributes="href Pagoda/getWebsite" tal:content="Pagoda/getWebsite"/>
								<ul class="pagoda-info">
									<li>
										<span class="label">Địa chỉ: </span>
										<span tal:content="Pagoda/getAddress"/>
									</li>
									<li>
										<span class="label">Điện thoại: </span>
										<span tal:content="Pagoda/getPhone"/>
									</li>
									<li>
										<span class="label">Trụ trì: </span>
										<span tal:content="Pagoda/getMaster"/>
									</li>
								</ul>
							</div>
						</div>
						
						<!--
						<div class="box">
							<div class="b-title">
								<div tal:content="php:'ĐANG PHÁT '.Video()->getName()" class="b-t-icon-content"/>
							</div>
							<div class="b-content">
								<iframe width="450" height="350" tal:attributes="src Video/getURL" frameborder="0"></iframe>
								<script>
									/*<![CDATA[*/
									$("iframe").each(function(){
										  var ifr_source = $(this).attr('src');
										  var wmode = "?wmode=transparent";
										  $(this).attr('src',ifr_source+wmode);
									});
									/*]]>*/
								</script>
							</div>
						</div>
						
						<div class="box">
							<div class="b-title">
								<div tal:content="php:'HOẠT ĐỘNG '.Pagoda->getName()" class="b-t-icon-content"/>
							</div>
							<div class="b-content">
								<ul class="list-video">
									<li tal:repeat="VP Pagoda/getVPs">
										<a tal:attributes="href VP/getURLView; title VP/getVideo/getName">
											<img tal:attributes="src VP/getVideo/getURLImage" width="140px" height="110px" />
											<div class="name" tal:content="VP/getVideo/getName" />
										</a>
									</li>								
								</ul>
							</div>
						</div>
						-->
					</div>
				</div>
				<div class="sidebar span5">
					<div class="wraper">
						<div metal:use-macro="macros.xhtml/TaskBox"/>
						<div metal:use-macro="macros.xhtml/EventBox"/>						
						<div metal:use-macro="macros.xhtml/BuddhaBox"/>
						<div metal:use-macro="macros.xhtml/PictureBox"/>
						<div metal:use-macro="macros.xhtml/TopNewsBox"/>
						<div metal:use-macro="macros.xhtml/TopVideoBox"/>
						<div metal:use-macro="macros.xhtml/TopMonkBox"/>
						<div metal:use-macro="macros.xhtml/AskBox"/>
						<div metal:use-macro="macros.xhtml/SponsorBox"/>
						<div metal:use-macro="macros.xhtml/ContactBox"/>
						<div metal:use-macro="macros.xhtml/CallendarBox"/>					
					</div>
				</div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer"/>
			<div metal:use-macro="macros.xhtml/FacebookLike"/>
		</div>
	</body>
</html>