<!DOCTYPE html> 
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.jplayer.min.js"/>
		<script>
		/*<![CDATA[*/
		$(document).ready(function(){
			$('body').css('opacity', '0').fadeTo(1500, 1,'swing');
			$(".top-poe").animate({ top: "+=100%" }, { duration: 1500 });
			$(".bottom-poe").animate({ bottom: "+=100%" }, { duration: 1500 });
			/*$(".poe").hide();
			$(".poe-hover").hover(function(){
				$(".top-poe").slideDown();
				$(".bottom-poe").slideDown();
			}, function(){
				$(".top-poe").slideUp();
				$(".bottom-poe").slideUp();
			});
			*/
			$("#jquery_audioPlayer").jPlayer({
				ready: function() {
					$(this).jPlayer("setMedia", {
						mp3:"/data/intro.mp3"
					}).jPlayer("play");
				},
				swfPath: "data",
				supplied: "mp3",
				loop: true,
				wmode: "window"
			});
			$(window).bind('contextmenu', false);
			$(document)[0].oncontextmenu = function() { return false; }
			$(document).mousedown(function(e){
				if( e.button == 2 ) {
					return false;
				} else {
					return true;
				}
			});
			$(document).bind('keydown keypress', 'ctrl+s', function(){return false;});
			$(document).bind('keydown keypress', 'f12', function(){return false;});
		});
		/*]]>*/
		</script>
	</head>
	
	<!--<body style="background:url('/data/images/bg/gate3.jpg') no-repeat center center fixed;">!-->
	<body tal:attributes="style Style">
		<div class="cover-inner">
			<img src="/data/images/logo/title.png" width="250" height="320"/>
			<p><a href="/trang-chu"><span class="link poe-hover">Vào Trang chủ</span></a></p>
		</div>
		
		<div class="p-title poe-hover"><a href="/trang-chu"><p>Chùa Long Viễn</p></a></div>

		<div class="poe top-poe"><p>Trăm năm nhìn xuống đời hư ảo</p></div>
		<div class="poe bottom-poe"><p>Phút chốc nhìn lên ngộ chân thường</p></div>

		<div id="jquery_audioPlayer" class="jp-jplayer"></div>
		
		<img class="cloud cloud1" src="/data/images/bg/cloud1.png" width="276" height="165"/>
		<img class="cloud cloud2" src="/data/images/bg/cloud2.png" width="243" height="129"/>
		<img class="cloud cloud3" src="/data/images/bg/cloud3.png" width="320" height="259"/>
		<img class="bird" src="/data/images/bg/bird.gif" width="160" height="142"/>
	</body>	
</html>