<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
					<div class="history-box">
						<div class="history-top">
							<h1>THÔNG BẠCH</h1><br/>
							<h3>SƠ LƯỢC LỊCH SỬ CHÙA PHƯỚC HƯNG</h3>
						</div>
						<div class="history-mid">
							<p align="center">________________</p><br/>
							<p align="justify" style="text-indent:40px;"><i>Kính Bạch Chư Tôn Đức Tăng, Ni.</i></p>
							<p align="justify" style="text-indent:40px;"><i>Kính thưa đồng bào Phật tử.</i></p>
							<p align="justify" style="text-indent:40px;"><i>Kính thưa quí liệt vị.</i></p><br/>
							<p align="justify">Chùa Phước Hưng, tại địa chỉ ấp Thạnh Hiệp, xã Hòa Thành, huyện Tam Bình, T.Vĩnh Long, Việt Nam do ông Huỳnh Văn Tám thành lập 1971-1972,</p><br/>
							<p align="justify">Sau cơn bạo bệnh ông qua đời và giao chùa lại cho bà Nguyễn Thị Lệ tiếp nhận. Đến năm 2010, do hoạt động của chùa không phát triển, nên bà Nguyễn Thị Lệ giao lại chùa cho Đại Đức Thích Minh Hòa làm "trụ trì".</p><br/>
							<p align="justify">Sau đó, chùa được nhà nước công nhận là 1 cơ sở thờ tự và chính thức mang tên Chùa Phước Hưng</p><br/>
							<p align="justify">Ngày 15-12-2010 Thầy Thích Minh Hòa thành lập Phòng thuốc nạm Tại Tuệ Tĩnh Đường Phước Hưng, hoạt động có hiệu quả và được bà con phật tử tính nhiệm duy trì hoạt động đến nay</p><br/>
							<p align="justify" style="text-indent:40px;"><i>Kính bạch chư Tôn Đức Tăng, Ni</i></p>
							<p align="justify" style="text-indent:40px;"><i>Kính thưa Bà con đồng bào Phật tử</i></p><br/>
							<p align="justify">Trên đây là sơ lược lịch sử về Chùa Phước Hưng, vì vậy chúng con rất mong sự đóng góp của chư Tôn Đức Tăng Ni, cùng đồng bào Phật tử, để lịch sử của chùa được hoàn thiện hơn.</p><br/>
							<p align="justify">Nam Mô Bổn Sư Thích Ca Mâu Ni Phật</p>
							<p align="justify">Nam Mô A Di Đà Phật</p><br/>
						</div>
						<div class="history-bot">
							<b><p align="right">THAY MẶT BỔN TỰ</p>
							<p align="right">TRỤ TRÌ: ĐĐ THÍCH MINH HÒA</p></b>
						</div>
						<br/>
					</div>
				</div>
				
				<div id="sidebar">										
					<div metal:use-macro="macros.xhtml/ClockBox"/>					
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/DhammapadaBox"/>					
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>
					<div metal:use-macro="macros.xhtml/VideoBox"/>
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					
				</div>
				
				<div class="clear" />
			</div>

			<div metal:use-macro="macros.xhtml/Footer" />

		</div>
	</body>
</html>