<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		
		<div id="sidebar">
			<ul>
				<li tal:repeat="Category1 CategoryBTypeAll" tal:attributes="class php:Category->getId()==Category1->getId()?'active':'disabled'">
					<a tal:attributes="href Category1/getURLSetting">
						<span tal:content="Category1/getName" /> <span class="badge badge-info pull-right" tal:content="Category1/getCategoryAll/count"/>
					</a>
				</li>
			</ul>
		</div>
		
		<div metal:use-macro="mAdmin.xhtml/StyleSwitcher"/>

		<div id="content">
			<div id="content-header">
				<h1>Danh mục tin tức</h1>
				<div class="btn-group">
					<button id="insertObject" href="#DialogIns" data-toggle="modal" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></button>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>STT</th>
											<th />
											<th>DANH MỤC</th>
											<th>VIDEO</th>
											<th>XÓA</th>
										</tr>
									</thead>
									<tbody>
										<tr class="content-rows" tal:repeat="CV Category/getCategoryAll">
											<td width="32" align="center"><div tal:content="repeat/CV/number" /></td>
											<td width="32" align="center"><span tal:condition="CV/isVIP" class="icon-star"/></td>
											<td>											
												<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id CV/getId" tal:content="CV/getName"/>
											</td>
											<td>
												<a tal:attributes="href CV/getURLSetting">
													<div>
														Xem
														(<span tal:content="CV/getVLs/count" />)
													</div>
												</a>
											</td>										
											<td class="center"><a class="remove-item" href="#deleteDialog" data-toggle="modal" tal:attributes="data-id CV/getId">X</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-cogwheel modal-icon"/>THÊM MỚI DANH MỤC VIDEO</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Thứ tự</label>
								<div class="controls">
									<input id="Order1" name="Order1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">URL hình</label>
								<div class="controls">
									<input id="Picture1" name="Picture1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Đặc biệt</label>
								<div class="controls">
									<input id="Type1" name="Type1" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-cogwheel modal-icon"/>CẬP NHẬT DANH MỤC VIDEO</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Thứ tự</label>
								<div class="controls">
									<input id="Order2" name="Order2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">URL hình</label>
								<div class="controls">
									<input id="Picture2" name="Picture2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Đặc biệt</label>
								<div class="controls">
									<input id="Type2" name="Type2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>									
						<div class="modal-footer">
							<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->

		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/DeleteDialog"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<div id="BTypeActive" tal:attributes="alt Category/getId"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Delete 1 CategoryVideo			
			//-----------------------------------------------------------------------------------
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/CategoryVideo/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			$('.remove-item').click(function(){
				$('#deleteButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#deleteButton').click(function(){			
				var URL = "/object/del/CategoryVideo/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 CategoryVideo
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#Name1').val();
				Data[2] = $('#Order1').val();								
				Data[3] = $('#Picture1').val();
				Data[4] = $('#Type1').val();
				Data[5] = $('#BTypeActive').attr('alt');
				
				var URL = "/object/ins/CategoryVideo";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 CategoryVideo
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/CategoryVideo/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#Name2').attr('value', 		data.Name);
					$('#Order2').attr('value', 		data.Order);
					$('#Picture2').attr('value', 	data.Picture);
					$('#Type2').attr('value', 		data.Type);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#Name2').val();
				Data[2] = $('#Order2').val();
				Data[3] = $('#Picture2').val();
				Data[4] = $('#Type2').val();
				Data[5] = $('#BTypeActive').attr('alt');
				
				var URL = "/object/upd/CategoryVideo";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});		
		/*]]>*/</script>
	</body>
</html>