<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		<div metal:use-macro="mAdmin.xhtml/Sidebar"/>
		<div metal:use-macro="mAdmin.xhtml/StyleSwitcher"/>

		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<a href="/app/course/ins/load" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></a>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>STT</th>
											<th><div class="text-left">TÊN</div></th>
											<th align="left">BẮT ĐẦU</th>
											<th align="left">KẾT THÚC</th>
											<th align="left">BÀI HỌC</th>
											<th />
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Course CourseAll1">
											<td width="32" align="center">
												<div tal:content="repeat/Course/number" />
											</td>
											<td>
												<a tal:attributes="href Course/getURLUpdLoad">
													<div tal:content="Course/getName" />
												</a>
											</td>
											<td width="48" tal:content="Course/getDateStartPrint" />
											<td width="48" tal:content="Course/getDateEndPrint" />
											<td width="80" align="left">
												<a tal:attributes="href Course/getURLLession">
													Bài học (<span tal:content="Course/getLessions/count"/>)
												</a>
											</td>
											<td width="32" align="center">
												<a tal:attributes="href Course/getURLDelLoad">
													<i class="glyphicon glyphicon-remove"/>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<center>
									<ul class="pagination">
										<li tal:repeat="P PN/getPages"><a tal:attributes="href P/getURL" tal:content="P/getName"/></li>
									</ul>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>