<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mAdmin.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped" >
								<thead>
									<tr>
										<th>STT</th>
										<th align="left">TÊN</th>										
										<th>XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Album AlbumAll1">
										<td width="32" align="center">
											<div tal:content="repeat/Album/number" />
										</td>
										<td>
											<a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Album" tal:attributes="data-id Album/getId" tal:content="Album/getName"/>
										</td>										
										<td width="32" align="center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Album/getId">X</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3" align="center">
											<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
												<i class="glyphicons-plus"/> Thêm mới
											</a>
											<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
												<i class="glyphicons-remove_2"/> Xóa chọn
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
		
		<!-- INSERT DIALOG  -->
			<div id="DialogIns" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3><i class="glyphicons-cogwheel modal-icon"/>THÊM MỚI ALBUM ẢNH</h3>
						</div>
						<div class="form-horizontal">
							<div class="modal-body">
								<div class="form-group">
									<label class="control-label">Tên</label>
									<div class="controls">
										<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Thời gian</label>
									<div class="controls">
										<input id="Time1" name="Time1" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">URL</label>
									<div class="controls">
										<input id="URL1" name="URL1" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Ghi chú</label>
									<div class="controls">
										<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END INSERT DIALOG  -->
			
			<!-- UPDATE DIALOG  -->
			<div id="DialogEdit" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3><i class="glyphicons-cogwheel modal-icon"/>CẬP NHẬT ALBUM ẢNH</h3>
						</div>
						<div class="form-horizontal">
							<div class="modal-body">
								<div class="form-group">
									<label class="control-label">Tên</label>
									<div class="controls">
										<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Thời gian</label>
									<div class="controls">
										<input id="Time2" name="Time2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">URL</label>
									<div class="controls">
										<input id="URL2" name="URL2" type="text" class="form-control input-small"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Ghi chú</label>
									<div class="controls">
										<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
									</div>
								</div>
							</div>									
							<div class="modal-footer">
								<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END UPDATE DIALOG  -->
			<div metal:use-macro="mDialog.xhtml/DialogDel"/>
			<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>	
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Delete 1 Album			
			//-----------------------------------------------------------------------------------
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Album/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Album/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 Album
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#Name1').val();
				Data[2] = $('#Time1').val();
				Data[3] = $('#URL1').val();
				Data[4] = $('#Note1').val();
				
				var URL = "/object/ins/Album";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 Album
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Album/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#Name2').attr('value', 		data.Name);
					$('#Time2').attr('value', 		data.Time);
					$('#URL2').attr('value', 		data.URL);
					$('#Note2').attr('value', 		data.Note);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#Name2').val();
				Data[2] = $('#Time2').val();
				Data[3] = $('#URL2').val();
				Data[4] = $('#Note2').val();;
								
				var URL = "/object/upd/Album";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});		
		/*]]>*/</script>
	</body>
</html>