<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>/*<![CDATA[*/$(document).ready(function(){ $(".hidden-control").click(function(){ ($(this).hasClass("icon-chevron-down")==false) ? $(this).addClass("icon-chevron-down") : $(this).removeClass("icon-chevron-down") }); });/*]]>*/</script>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="history-box">
						<div class="history-top">
							<h2>LỊCH SỬ CHÙA LONG VIỄN</h2>
						</div>
						<div class="history-mid">
							<p align="center">________________</p><br/>
							<p align="justify"><b>I. TÊN GỌI:</b> Chùa Long Viễn</p>
							<p align="justify"><b>II. ĐỊA ĐIỂM PHÂN BỐ CHÙA – ĐƯỜNG ĐI ĐẾN:</b></p>
							<p align="justify">Chùa nằm mặt tiền đối diện đường Bạch Đàn thuộc phường 04, TP. Vĩnh Long.</p>
							<p align="justify">Đường bộ: từ trung tâm thành phố Vĩnh Long, đi về hướng phường 04, qua cầu Phạm Thái Bường, thẳng theo đường Phạm Thái Bường khoảng 1000m, gặp giao lộ rẽ trái qua đường Bạch Đàn, đi khoảng 300m là gặp chùa nằm phía bên phải. Đường Bạch Đàn cắt  02 đường Phạm Thái Bường và Trần Phú song song, nên cũng có thể đi đến chùa theo từ trung tâm thành phố Vĩnh Long đi về hướng phường 04, qua cầu Lầu, thẳng theo đường Trần Phú khoảng 1000m, gặp giao lộ rẽ phải qua đường Bạch Đàn, đi khoảng 148m là gặp chùa nằm phía bên trái. </p>
							<p align="center" style="text-indent:0;">
								<img width="90%" src="data/images/history/path.gif" class="img-polaroid"/>
							</p>
							<p align="justify"><b>III. SƠ LƯỢC TIỂU SỬ:</b></p>
							<p align="justify">Ngày xưa, nơi đây là một vùng đất hoang vu chưa có người sinh sống. Lúc bấy giờ Hòa Thượng Minh Trì đến cất một mái am tranh để tu tập.</p>
							<p align="justify">Đến khoảng thế kỷ XIX, năm 1877 mái am tranh dần phát triển thành một ngôi chùa hoàn chỉnh có tên là: CHÙA LONG VIỄN, do gia đình Cụ ông Đào Văn Sơn và các con kiến tạo chùa bằng cây gỗ đơn sơ mái lợp ngói âm dương. 						
							Cảm được đức tu của Hòa Thượng, các loài thú hoang thường lui tới thân cận. Trong đó có một con hổ sau khi chết để lại bộ xương. Trụ trì chùa để bộ xương vào hộp gổ đỏ thờ trong miếu ngũ hành trước cửa chùa. Đến năm 1988 hộp gổ vẫn còn nhưng bộ xương đã mất.</p>
							<p align="justify">Thế rồi đến năm 2001, Thượng Tọa Thích Thiện Trí xây dựng Chánh Điện; khối nhà tây lang xây dựng năm 2005; khối nhà đông lang xây dựng năm 2009.
							Kiến trúc đó vẫn còn được giữ nguyên cho đến ngày nay.
							</p>
							<p align="center" style="text-indent:0;">
								<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="500" height="400" flashvars="host=picasaweb.google.com&hl=vi&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F114709359351020028634%2Falbumid%2F5939322774511473329%3Falt%3Drss%26kind%3Dphoto%26hl%3Dvi" pluginspage="http://www.macromedia.com/go/getflashplayer" class="img-polaroid"></embed>
							</p>
							<p align="justify">
								(Hình chùa và các khu thờ trong chánh điện cũng như hình khu đông lang và khu tây lang)
							</p>
							<p align="justify">Chùa được truyền thừa trãi qua 04 đời Hòa Thượng trụ trì như sau:</p>
							<p align="justify">1. Đại lão Hòa thượng Minh Trì.</p>
							<p align="justify">2. Hòa thượng Tâm Chơn (1876 - 1939).</p>
							<p align="justify">3. Hòa thượng Thiện Niệm (1889 - 1976).</p>
							<p align="justify">4. Đại lão Hòa thượng Thiện Từ (1910 - 2006).</p>
							<p align="justify">và Thượng tọa Thích Thiện Trí đương kim trụ trì là đời thứ 05. Hiện nay Văn phòng BAN TRỊ SỰ GIÁO HỘI PHẬT GIÁO VIỆT NAM THÀNH PHỐ VĨNH LONG được đặt tại Chùa từ năm 2009.</p>
							<p align="justify">Riêng phần đất của chùa do bà Trần Thị Đó hiến cúng ngày 07/11/1907 và ông Nguyễn Văn Tĩnh hiến cúng ngày 20/07/1928 với tổng diện tích là 21.370 m2 bao gồm:</p>
							<p align="justify">- Ruộng: 5.090 m2.</p>
							<p align="justify">- Vườn:   12.010 m2.</p>
							<p align="justify">- Thổ mộ: 4.260 m2.</p>
							<p align="justify">Kể từ ngày được nhận cúng chùa Long Viễn chính thức đứng tên trên những phần đất đã nêu, liên tục cho đến ngày 23/08/2005 diện tích khuôn viên chùa chỉ còn lại 1.509,9 m2.</p>
							<p align="justify"><b>IV. KHẢO TẢ:</b></p>
							<p align="justify">Khuôn viên chùa chia làm 03 khu vực: </p>
							<p align="justify">- Trung tâm là chánh điện với diện tích 264 m2.</p>
							<p align="justify">- Bên phải là khu nhà trù với các phòng chức năng phục vụ cho sinh hoạt.</p>
							<p align="justify">- Bên trái hiện là khu giảng đường, Tăng xá, nhà thờ vong. </p>
							<p align="justify">- Dự kiến phía trước Chánh Điện là hàng rào, cổng tam quan.</p>
							<p align="justify">Chánh điện được xây dựng kiên cố bằng BTCT với kiến trúc cổ lầu, 02 tầng mái lợp tôn giả ngói, trên mái có các đầu đao chạm khắc hình rồng chầu bánh xe chuyễn pháp luân. Phân bố cấu trúc mặt bằng của chùa như sau:</p>
							<p align="justify">- Chánh điện và nhà tổ: 264 m2</p>
							<p align="justify">- Nhà giảng: 115,92 m2</p>	
							<p align="justify">- Nhà trai: 140 m2</p>
							<p align="justify">Số lượng tượng thờ ở chùa gồm: 09 tượng và 05 phù điêu. Ở chánh điện gồm 07 tượng và ở nhà tổ gồm 02 tượng.</p>
							<p align="justify">Trung tâm chánh điện đặt thờ tượng phật phật A Di Đà tọa liên hoa cao lớn trang nghiêm cùng với bên phải là tượng Quan Thế Âm Bồ Tát đứng trên hoa sen tay trái cầm tịnh bình, tay phải cầm nhành dương và bên trái là Địa Tạng Vương Bồ Tát đứng trên hoa sen, tay trái cầm quả châu, tay phải cầm tích trượng; Phía dưới là tượng Đức Trung Tôn Sơ Sinh. Phật Dược Sư; Phật Thích Ca và Di Lạc Bồ Tát được đặt trang nghiêm trên tủ án trước Điện Phật.</p>
							<p align="justify">Mặt trước chánh điện là 02 bức phù điêu chạm nổi lớn hình Ngài Văn Thù Bồ Tát và Ngài Phổ Hiền Bồ Tát ở hai bên trái, phải. Đối diện với tượng thờ chánh điện còn có 03 phù điêu chạm nổi: Ở giữa là phù điêu hình Ngài Tỳ Lô Giá Na Như Lai, bên trái là Ngài Hộ Pháp VI Đà và bên phải là Ngài Tiêu Diện Đại Sĩ.</p>
							<p align="justify">Bên trái chánh điện đặt 01 đại hồng chung có khắc chữ:</p>
							<p align="justify" style="text-indent:40px;"><i>"Long Viễn Giáp Thìn niên mạnh đông kiết nhật</i></p>
							<p align="justify" style="text-indent:40px;"><i>Vĩnh Long tỉnh Bình Chánh tổng chánh hợp thôn</i></p>
							<p align="justify" style="text-indent:40px;"><i>Đệ tử Nguyễn Văn Đẩu thê Mai Thị Trúc</i></p>
							<p align="justify" style="text-indent:40px;"><i>Toàn phụng cúng." (Tính đến năm 2013 là:110 năm và một số bàn thờ trên 100 năm)</i></p>
							<p align="justify">Bên phải đặt trống Bát Nhã. Cả 02 giá chung, trống Bát Nhã đều trạm rồng.</p>
							<p align="justify">Nhà Tổ được đặt ở phía sau chánh điện.</p>
							<p align="justify">Số lượng bao lam ở chùa gồm: 02 bao lam lớn và 02 bao lam nhỏ với chủ đề trên các bao lam gồm: 01 bao lam hình sen, 01 bao lam hình rồng và 02 bao lam hình bông sen. </p>
							<p align="justify">Số lượng hoành phi gồm 05 hoành phi chữ khắc trên tường:</p>
							<p align="justify">Trước cửa chánh điện gồm 03 hoành phi:</p>
							<p align="justify">Ở giữa:</p>
							<p align="justify" style="text-indent:40px;"><i>Long Viễn tự.</i></p>
							<p align="justify">Bên trái:</p>
							<p align="justify" style="text-indent:40px;"><i>Phật nhật tăng huy.</i></p>
							<p align="justify">Bên phải:</p>
							<p align="justify" style="text-indent:40px;"><i>Pháp luân thường chuyển.</i></p>
							<p align="justify">01 hoành phi trên Bảo điện:</p>
							<p align="justify" style="text-indent:40px;"><i>Thật báo trang nghiêm</i></p>
							<p align="justify">01 hoành phi ở nhà Tổ:</p>
							<p align="justify" style="text-indent:40px;"><i>Tổ ấn trùng quang</i></p>
							<p align="justify">câu đối: Số lượng gồm 06 liễng đối:</p>
							<p align="justify">1. <u>Trước cửa chánh điện có 02 câu liễng trên cột:</u></p>
							<p align="justify" style="text-indent:40px;"><i><b>"Long thạnh thiền môn huệ nhật thiện duyên hưng đạo mạch"</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Ánh sáng Trí huệ trong cửa thiền được phát huy tốt đẹp làm duyên lành cho mạch máu của Đạo thêm hưng thịnh)</i></p>
							<p align="justify" style="text-indent:40px;"><i><b>"Viễn âm phạm vũ tăng huy trí đức khải tông phong"</b></i></p>	
							<p align="justify" style="text-indent:40px;"><i>(Âm thanh Chùa Phật vang xa làm sáng thêm Trí và Đức, nhờ đó Tông Phong luôn được mỡ mang)</i></p>
							<p align="justify">2. <u>Ở giữa chánh điện gồm 02 cặp liễng đối:</u></p>
							<p align="justify" style="text-indent:40px;"><i><b>Phật quốc phi diêu chỉ tại nhân tâm do tự giác</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Cõi Phật không xa chỉ tại sự giác ngộ trong tâm của mỗi người)</i></p>
							<p align="justify" style="text-indent:40px;"><i><b>Di Đà tùy nguyện sum la vạn hữu khẳng thừa đương.</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Đức Di Đà theo nguyện của mình sẵn sàng cứu độ vạn loài trong vũ trụ)</i></p>
							<p align="justify" style="text-indent:40px;"><i><b>Long trụ từ bi vô ngã vô nhân li tứ tướng.</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Lòng Từ bi đạt đến mênh mông thì không còn ngã và nhân do đó lìa được bốn tướng)</i></p>
							<p align="justify" style="text-indent:40px;"><i><b>Viễn trì bát nhã bất sanh bất diệt liễu tam thân.</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Đạt được Trí huệ sâu xa thì không còn sinh và diệt nữa nhờ đó ba thân trở nên rõ ràng)</i></p>
							<p align="justify">3. <u>Ở nhà tổ có câu liễng đối:</u></p>
							<p align="justify" style="text-indent:40px;"><i><b>Niêm hoa đốn ngộ thừa đương linh thứu trấn gia tông.</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Tại núi Linh Thứu giơ cành hoa liền ngộ từ đó khơi dòng Thiền tuông chảy đến ngày nay)</i></p>
							<p align="justify" style="text-indent:40px;"><i><b>Y bát chân truyền vĩnh kế huỳnh mai hưng ngũ phái.</b></i></p>
							<p align="justify" style="text-indent:40px;"><i>(Nơi đạo tràng Huỳnh Mai Y Bát được truyền trao liên tục làm hưng thạnh cho năm phái thiền sau nầy)</i></p>
							<p align="justify"><b>V. CÁC NGÀY LỄ TRONG NĂM:</b></p>
							<p align="justify">Các ngày lễ trong năm gồm có:</p>
							<p align="justify">- Ngày 13/10 ÂL giỗ Hòa thượng Thiện Niệm, cố trụ trì chùa Long Viễn.</p>
							<p align="justify">- Ngày 15/12 ÂL giỗ Hòa thượng Thiện Từ, cố trụ trì bổn tự.</p>
							<p align="justify">Các buổi sinh hoạt khác:</p>
							<p align="justify">- Hằng tháng, chùa tổ chức lễ thọ Bát quan trai vào các ngày 30 ÂL ( tháng đủ) và 29 ÂL (tháng thiếu).</p>
							<p align="justify">- Tổ chức kỷ niệm ngày Lễ Phật Đản vào mùng  08/4 ÂL.</p>
							<p align="justify">- Chùa tổ chức lễ cúng vào các ngày rằm lớn trong năm như: rằm tháng Giêng, rằm tháng 7, rằm tháng 10.</p>
							<p align="justify">- Đặc biệt, vào 17/11 ÂL cúng vía Phật A Di Đà, chùa có tổ chức cho phật tử đến tu tập một ngày tại chùa.</p>
							<p align="justify">- Hằng tháng vào lúc 17 giờ ngày 14 và 30 ÂL (tháng thiếu là 29) chùa có khóa lễ sám hối cho hàng Phật tử.</p>
							<br/>
						</div>
						<div class="history-bot">
							<b><p align="right" style="margin-right:95px;">Trân trọng kính chào!</p>
							<p align="right">Trụ trì Chùa Long Viễn Thượng tọa Thích Thiện Trí</p></b>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/SpringMsg"/>
					<div metal:use-macro="base.xhtml/WarningMsg"/>					
					<div metal:use-macro="base.xhtml/LibraryBox"/>
					<div metal:use-macro="base.xhtml/HistoryBox"/>										
					<div metal:use-macro="base.xhtml/MecdBox"/>
					<div metal:use-macro="base.xhtml/CookingBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>					
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>			
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>