<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/cloud-carousel.1.0.5.min.js"/>
	</head>
	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span3 fix-width">
					<div class="box radius">
						<div class="b-title"><div class="b-t-icon-content">DANH MỤC</div></div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li>
									<a class="CategoryButton" tal:attributes="href '/thu-vien-phat-phap/moi-cap-nhat'">
										<span class="label monk-label">0</span>
										Cập nhật gần đây
									</a>
								</li>
								<li tal:repeat="Category1 CategoryBType/getCategoryAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':''">
									<a class="CategoryButton" tal:attributes="href Category1/getURLRead">
										<span class="label monk-label" tal:content="php: Category1->getVLAll()->count() + Category1->getVoiceBookAll()->count()"/>
										<span tal:content="Category1/getName"/>
									</a>
								</li>
							</ul>
							<p>Hiện có <B tal:content="SumYT"/> Youtube và <B tal:content="SumVB"/> Sách nói</p>
						</div>
					</div>
				</div>
				<div class="span9 fix-width">
					<div class="box no-border">
						<div class="input-append">
							<form style="text-align:center;margin:0;" tal:attributes="action URLSearch" method="post">
								<input type="text" name="Term" class="span7" style="border-color:#980707;margin-left:30px;color:#980707;"/>
								<button class="btn" type="submit" style="border-color:#980707;color:#980707;">Tìm sách</button>
							</form>							
						</div>
					</div>					
					<div class="box radius" id="VoiceList">
						<div class="b-title"><div class="b-t-icon-content" tal:content="string:SÁCH NÓI"/></div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li class="news-list-item" tal:repeat="VB VBAll">
									<a class="VoiceButton" tal:attributes="href VB/getURLRead">
										<span tal:content="VB/getName"/>
									</a>
								</li>
							</ul>				
						</div>
					</div>
					
					<div class="box radius" id="VideoList">
						<div class="b-title"><div class="b-t-icon-content" tal:content="string:YOUTUBE"/></div>
						<div class="b-content">				
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li class="news-list-item" tal:repeat="VL YTAll">
									<a class="VoiceButton" tal:attributes="href VL/getURLRead">
										<span tal:content="VL/getVideo/getName"/>
									</a>									
								</li>
							</ul>
						</div>
					</div>
						
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>			
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
		</div>		
	</body>
</html>