<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>
	<body>		
		<div class="box radius" id="VideoList">
			<div class="b-title"><div class="b-t-icon-content" tal:content="Category/getName"/></div>
			<div class="b-content">				
				<ul class="nav nav-tabs nav-stacked reset-margin list-3">
					<li class="news-list-item" tal:repeat="VL Category/getVLs">
						<a href="Javascript:;" class="VideoButton" tal:attributes="data-name VL/getVideo/getName; data-url VL/getVideo/getURL; data-count VL/getVideo/getCount; data-note VL/getVideo/getNote">
							<span tal:content="VL/getVideo/getName"/>
						</a>
					</li>
				</ul>				
			</div>
		</div>
		
		<div class="box radius" id="VoiceList">
			<div class="b-title"><div class="b-t-icon-content" tal:content="Category/getName"/></div>
			<div class="b-content">
				<ul class="nav nav-tabs nav-stacked reset-margin list-3">
					<li class="news-list-item" tal:repeat="VB Category/getVoiceBookAll">
						<a href="Javascript:;" class="VoiceButton" tal:attributes="href VB/getURLRead">
							<span tal:content="VB/getName"/>
						</a>
					</li>
				</ul>				
			</div>
		</div>
		<script>
			/*<![CDATA[*/
			$(".VideoButton").click(function(){
				var Name 	= $(this).attr('data-name');
				var URL 	= $(this).attr('data-url');
				var Count 	= $(this).attr('data-count');
				var Note 	= $(this).attr('data-note');
				
				$("#ActiveVideoName").html(Name);
				$("#ActiveVideoCount").html(Count);
				$("#ActiveVideoNote").html(Note);
				
				var ifr_source = URL;
				var wmode = "?wmode=transparent&autoplay=1";
				$("#ActiveVideoURL").attr('src',ifr_source+wmode);
				
				$(this).parent().toggleClass('active').siblings().removeClass('active');				
				
			});
			//$(".VideoButton:first").click();
									
			/*]]>*/
		</script>
	</body>
</html>