<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<title>Water</title>		
		<style>
			body {
				font-family: Tahoma;
				-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
				-o-background-size: cover !important;
				background-size: cover !important;
				overflow: hidden;
			}
			.audio {
				position: absolute;
				width: auto;
				height: auto;
				bottom: 0;
				left: 0;
				z-index: 99999999999;
			}
		</style>
	</head>
	<body style="background:url('/data/images/WaterPond03.gif') no-repeat center center fixed;">
		
		<!-- PHÂN ĐỊNH NGHĨA NỘI DUNG AUDIO TRANG!-->
		<div metal:use-macro="base.xhtml/AudioBox"/>
		<div metal:use-macro="base.xhtml/ForwardButton"/>
				
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>		
		<link href="/mvc/templates/theme/jplayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.min.js"/>
		<script type="text/javascript" src="/mvc/templates/theme/jplayer/js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="/mvc/templates/theme/jplayer/js/jplayer.playlist.min.js"></script>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/audiobox.js"/>
				
		<script id="_waum4o">var _wau = _wau || [];
			_wau.push(["tab", "7ua7m3ct4keq", "m4o", "left-middle"]);
			(function() {var s=document.createElement("script"); s.async=true;
			s.src="http://widgets.amung.us/tab.js";
			document.getElementsByTagName("head")[0].appendChild(s);
			})();</script>
	</body>
</html>