<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/cloud-carousel.1.0.5.min.js"/>
	</head>
	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span4 fix-width">
					<div class="box radius">
						<div class="b-title"><div class="b-t-icon-content">DANH MỤC</div></div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">								
								<li tal:repeat="Category1 CategoryBType/getCategoryAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':''">
									<a class="CategoryButton" tal:attributes="href Category1/getURLRead">
										<span class="label monk-label" tal:content="php: Category1->getVLAll()->count() + Category1->getVoiceBookAll()->count()"/>
										<span tal:content="Category1/getName"/>
									</a>
								</li>
							</ul>
							<p>Hiện có <B tal:content="SumYT"/> Youtube và <B tal:content="SumVB"/> Sách nói</p>
						</div>
					</div>
				</div>
				<div class="span8 fix-width">
					<div class="box no-border">
						<div class="input-append">
							<form style="text-align:center;margin:0;" tal:attributes="action URLSearch" method="post">
								<input type="text" name="Term" class="span7" style="border-color:#980707;margin:0;color:#980707;width:521px;"/>
								<button class="btn" type="submit" style="border-color:#980707;color:#980707;">Tìm sách</button>
							</form>							
						</div>
					</div>					

					<div class="box radius" tal:condition="VBAll/count">
						<div class="b-title"><div class="b-t-icon-content">SÁCH NÓI (<span tal:content="VBAll/count"/>)</div></div>
						<div class="b-content">
							<ul class="thumbnails grid-item reset-margin">
								<li tal:repeat="VB VBAll" class="span2">
									<div class="thumbnail">
										<a tal:attributes="href VB/getURLRead">
											<img tal:attributes="src VB/getImage"/>
											<p tal:content="VB/getName"/>
										</a>
									</div>
								</li>
							</ul>							
						</div>
					</div>
					<div class="box radius" tal:condition="YTAll/count">
						<div class="b-title"><div class="b-t-icon-content">YOUTUBE (<span tal:content="YTAll/count"/>)</div></div>
						<div class="b-content">							
							<ul class="thumbnails grid-item reset-margin">
								<li tal:repeat="VL YTAll" class="span2 scrfrmopn">
									<div class="thumbnail">											
										<img tal:attributes="src VL/getVideo/getURLImage; data-url VL/getVideo/getURLView"/>
										<p tal:content="VL/getVideo/getName"/>
									</div>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>						
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<!-- FRAME -->
			<div class="scrfrm">
				<div class="frm">
					<div id="frmclsbtn" class="clsbtn" data-toggle="tooltip" data-placement="right" data-original-title="Nhấn ESC để đóng"></div>
					<div class="clearfix">
						<div class="lf">
							<iframe src="//www.youtube.com/embed/TtLvxeKF0oc?modestbranding=1&amp;rel=0&amp;fs=0&amp;controls=0" frameborder="0" allowfullscreen="1"></iframe>
						</div>
						<div class="rg">
							<div class="ctn">
								<div class="title">
									<h4>Con Đường Giác ngộ</h4>
								</div>
								<button id="frmflg" class="btn btn-danger btn-small" data-toggle="tooltip" data-placement="right" data-original-title="Báo cáo video không khả dụng"><i class="icon-flag icon-white"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script language="JavaScript">
				$('#frmclsbtn').tooltip();
				$('#frmflg').tooltip();
				$('.scrfrmopn').click(function(){
					$("body").addClass("dsbscrl");
					/*----- CODE HERE -----*/
					//
					//
					//
					//
					/*---------------------*/
					$('.scrfrm').css("display", "block");
				});
				$('#frmclsbtn').click(function(){$('.scrfrm').css("display", "none"); $("body").removeClass("dsbscrl");});
				$(document).keypress(function(e){if(e.keyCode==27){$('.scrfrm').css("display", "none"); $("body").removeClass("dsbscrl");}});
			</script>
			<!-- END FRAME -->
		</div>		
	</body>
</html>