<!DOCTYPE html>
<html lang="en">
    <head>
        <div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/admin/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/mvc/templates/theme/admin/css/bootstrap-glyphicons.css"/>
        <link rel="stylesheet" href="/mvc/templates/theme/admin/css/unicorn.login.css"/>
    </head>
    <body>
        <div id="container">
            <div id="logo">
                <img src="/mvc/templates/theme/admin/img/logo-b.png" alt=""/>
            </div>
            <div id="loginbox">            
                <form id="loginform" action="/signin/exe" method="post" autocomplete="off">
    				<p>Nhập tài khoản và mật khẩu bên dưới</p>
                    <hr/><br/>
					<div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input class="form-control" type="text" name="Email" placeholder="Tài khoản"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input class="form-control" type="password" name="Pass" placeholder="Mật khẩu"/>
                    </div>
                    <hr/>
                    <div class="form-actions">
                        <div class="pull-left">
                            <a class="flip-link to-recover">&laquo; Quên mật khẩu?</a><br/>
                            <a href="/home" class="flip-link to-login">&laquo; Trở lại trang chủ</a>
                        </div>
                        <div class="pull-right"><input type="submit" class="btn btn-primary" value="Đăng nhập"/></div>
                    </div>
                </form>
                <form id="recoverform" action="#">
    				<p>Nhập E-Mail của bạn để chúng tôi gữi lại thông tin phục hồi mật khẩu</p>
    				<div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input class="form-control" type="text" placeholder="E-mail" />
                    </div>
                    <hr />
                    <div class="form-actions">
                        <div class="pull-left">
                            <a class="flip-link to-login">&laquo; Trở lại trang đăng nhập</a><br/>
                            <a href="/home" class="flip-link to-login">&laquo; Trở lại trang chủ</a>
                        </div>
                        <div class="pull-right"><input type="submit" class="btn btn-default" value="Phục hồi"/></div>
                    </div>
                </form>
            </div>
        </div>
        
        <script src="/mvc/templates/theme/admin/js/jquery.min.js"></script>
        <script src="/mvc/templates/theme/admin/js/unicorn.login.js"></script>
    </body>
</html>
