<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content"><div class="screen">												
				<embed
					wmode="opaque"
					type="application/x-shockwave-flash"
					style="height:366px; width:480px;"
					src="http://player.longtailvideo.com/player.swf"
					quality="high"
					flashvars="streamer=rtmp://123.30.108.77/live/THVL1/&file=THVL1&type=rtmp&fullscreen=true&autostart=true&controlbar=bottom&abouttext=Tivi360.Com - Truyen Hinh Online&aboutlink=http://Tivi360.com"
					allowscriptaccess="always"
					allowfullscreen="true"
				/>
			</div>
			<div metal:use-macro="macros.xhtml/ListTV" />
			<div class="clear"></div></div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>