<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content"><div class="screen">				
				<object width="480" height="399" tabindex="0" data="http://www.tv24.vn/getflash.ashx" type="application/x-shockwave-flash">
					<param value="true" name="allowfullscreen" />
					<param value="always" name="allowscriptaccess" />
					<param value="true" name="seamlesstabbing" />
					<param value="opaque" name="wmode" />
					<param value="id=mediaplayer&provider=rtmp&file=htv9.stream&streamer=rtmpe://112.197.2.11/live/&image=http://tv24.vn.tivi24h.com/stop_tivi24h.gif&allowFullscreen=true&autostart=true&controlbar.position=over" name="flashvars" />
				</object>
			</div>
			<div metal:use-macro="macros.xhtml/ListTV" />
			<div class="clear"></div></div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>