<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content">
				<div class="screen"><iframe 
					tal:attributes="src Service/getURLDoc" 
					frameborder="0" 
					width="480px" 
					height="366px" 
					allowfullscreen="true" 
					mozallowfullscreen="true" 
					webkitallowfullscreen="true">
				</iframe></div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>