<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {
				var TypeCard = "NameCard001";
				
				$('#Preview').click(function(){
					var CompanyName = encodeURIComponent($("#CompanyName").val());
					var Slogan		= encodeURIComponent($("#Slogan").val());
					var FullName	= encodeURIComponent($("#FullName").val());
					var Position	= encodeURIComponent($("#Position").val());
					var Phone		= encodeURIComponent($("#Phone").val());
					var Email		= encodeURIComponent($("#Email").val());
					var Address		= encodeURIComponent($("#Address").val());
					var Website		= encodeURIComponent($("#Website").val());
					
					var URL = '/utility/namecard/generate/' + TypeCard + "/" + CompanyName + "/" + Slogan + "/" + FullName + "/" + Position + "/" + Phone + "/" + Email + "/" + Address + "/" + Website;
					$("#NameCardPreview").load(URL);
				});
				$(".TypeCard").click(function(){
					TypeCard = $(this).attr('alt');
				});
			});
			/*]]>*/
		</script>		
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="content">
				<div class="left">
					<form class="form-namecard" id="FormNameCardLoad" method="post">
						<table border="0" cellpadding="0" cellspacing="5" width="100%"><tbody>
							<tr>
								<td></td>
								<td align="left">
									<div id="NameCardPreview" width="300" />
								</td>
							</tr>
							<tr>
								<td align="right"><label>Tên công ty</label></td>
								<td align="left"><input name="CompanyName" type="text" id="CompanyName" value="Công ty TNHH TM-DV Tin học Sao Phương Nam"/></td>
							</tr>
							<tr>
								<td align="right"><label>Khẩu hiệu</label></td>
								<td align="left"><input name="Slogan" type="text" id="Slogan" value="Ứng dụng Việt trên nền tảng WEB"/></td>
							</tr>
							<tr>
								<td align="right"><label>Họ & tên</label></td>
								<td align="left"><input name="FullName" type="text" id="FullName" value="Bùi Thanh Tuấn"/></td>
							</tr>
							<tr>
								<td align="right"><label>Chức danh</label></td>
								<td align="left"><input name="Position" type="text" id="Position" value="Giám Đốc" /></td>
							</tr>
							<tr>
								<td align="right"><label>Điện thoại</label></td>
								<td align="left"><input name="Phone" type="text" id="Phone" value="0919 153 189"/></td>
							</tr>
							<tr>
								<td align="right"><label>Email</label></td>
								<td align="left"><input name="Email" type="text" id="Email" value="tuanbuithanh@gmail.com"/></td>
							</tr>
							<tr>
								<td align="right"><label>Địa chỉ</label></td>
								<td align="left"><input name="Address" type="text" id="Address" value="123 - ABCD - F.4 - Vĩnh Long - Việt Nam"/></td>
							</tr>
							<tr>
								<td align="right"><label>Website</label></td>
								<td align="left"><input name="Website" type="text" id="Website" value="www.123app.net"/></td>
							</tr>
							<tr>
								<td></td>
								<td align="left"><button id="Preview" type="button">Xem trước</button></td>
							</tr>
						</tbody></table>
					</form>
				</div>
				<div class="right">
					<ul class="card-list">
						<li class="TypeCard" alt="NameCard001"><img src="/mvc/templates/theme/namecard/images/namecard_001.png" /></li>
						<li class="TypeCard" alt="NameCard002"><img src="/mvc/templates/theme/namecard/images/namecard_002.png" /></li>
						<li class="TypeCard" alt="NameCard003"><img src="/mvc/templates/theme/namecard/images/namecard_003.png" /></li>
						<li class="TypeCard" alt="NameCard004"><img src="/mvc/templates/theme/namecard/images/namecard_004.png" /></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
			<div metal:use-macro="macros.xhtml/FixedLeft" />
		</div>
	</body>
</html>