Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^home$ 						?cmd=Home [L]

RewriteRule ^signin/load$ 				?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 				?cmd=SigninExe [L]

RewriteRule ^solution/([a-z0-9]+)$ 		?cmd=Solution&IdSolution=$1 [L]
RewriteRule ^service/([a-z0-9]+)$ 		?cmd=Service&IdService=$1 [L]
RewriteRule ^story/([a-z0-9]+)$ 		?cmd=Story&IdStory=$1 [L]
RewriteRule ^technical/([a-z0-9]+)$ 	?cmd=Technical&IdTechnical=$1 [L]
RewriteRule ^project/([a-z0-9]+)$ 		?cmd=Project&IdProject=$1 [L]

RewriteRule ^contact$ 					?cmd=Contact [L]
RewriteRule ^contact/exe$ 				?cmd=ContactExe [L]
RewriteRule ^RefreshCaptcha$ 			?cmd=RefreshCaptcha [L]

RewriteRule ^utility/phoneanalytic$ 	?cmd=UtilityPhoneAnalytic [L]
RewriteRule ^utility/qrcode$ 			?cmd=UtilityQRCode [L]
RewriteRule ^utility/qrcode/exe$ 		?cmd=UtilityQRCodeExe [L]
RewriteRule ^utility/barcode$ 			?cmd=UtilityBarcode [L]
RewriteRule ^utility/mooncalendar$ 		?cmd=UtilityMoonCalendar [L]
RewriteRule ^utility/dictionary$ 		?cmd=UtilityDictionary [L]
RewriteRule ^utility/domainlookup$ 		?cmd=UtilityDomainLookup [L]
RewriteRule ^utility/namecard$ 			?cmd=UtilityNameCard [L]
RewriteRule ^utility/namecard/generate/([a-zA-Z0-9]+)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ 			?cmd=UtilityNameCardGenerate&TypeCard=$1&CompanyName=$2&Slogan=$3&FullName=$4&Position=$5&Phone=$6&Email=$7&Address=$8&Website=$9 [L]

RewriteRule ^entertainment/tvonline/([a-zA-Z0-9]+)$ 	?cmd=EntertainmentTVOnline&Channel=$1 [L]
