<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<button href="#DialogIns" data-toggle="modal" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Thêm mới</i></button>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>STT</th>										
											<th><div class="text-left">TÊN</div></th>											
											<th><div class="text-left">NHÂN SỰ</div></th>
											<th><div class="text-left">SỰ KIỆN</div></th>
											<th><div class="text-left">TIN TỨC</div></th>
											<th width="32" />
										</tr>
									</thead>
									<tbody>
										<tr class="content-rows" tal:repeat="Pagoda District/getPagodaAll">
											<td width="32" align="center"><div tal:content="repeat/Pagoda/number" /></td>
											<td>												
												<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Pagoda/getId" tal:content="Pagoda/getName"/>
											</td>											
											<td>
												<a tal:attributes="href Pagoda/getURLSettingMonk">
													Xem (<span tal:content="Pagoda/getMonkAll/count"/>)
												</a>
											</td>
											<td><a tal:attributes="href Pagoda/getURLSettingEvent">Xem</a></td>
											<td><a tal:attributes="href Pagoda/getURLSettingPost">Xem</a></td>
											<td class="center">
												<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Pagoda/getId"><i class="glyphicon glyphicon-remove"/></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-cogwheel modal-icon"/>THÊM MỚI CHÙA</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Địa chỉ</label>
								<div class="controls">
									<input id="Address1" name="Address1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Điện thoại</label>
								<div class="controls">
									<input id="Phone1" name="Phone1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="controls">
									<input id="Email1" name="Email1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Website</label>
								<div class="controls">
									<input id="Website1" name="Website1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Trụ trì</label>
								<div class="controls">
									<input id="Monk1" name="Monk1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Kinh độ</label>
								<div class="controls">
									<input id="Latitude1" name="Latitude1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Vĩ độ</label>
								<div class="controls">
									<input id="Longitude1" name="Longitude1" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-cogwheel modal-icon"/>CẬP NHẬT CHÙA</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Địa chỉ</label>
								<div class="controls">
									<input id="Address2" name="Address2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Điện thoại</label>
								<div class="controls">
									<input id="Phone2" name="Phone2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="controls">
									<input id="Email2" name="Email2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Website</label>
								<div class="controls">
									<input id="Website2" name="Website2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Trụ trì</label>
								<div class="controls">
									<input id="Monk2" name="Monk2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Kinh độ</label>
								<div class="controls">
									<input id="Latitude2" name="Latitude2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Vĩ độ</label>
								<div class="controls">
									<input id="Longitude2" name="Longitude2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>									
						<div class="modal-footer">
							<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="DistrictCurrent" tal:attributes="alt District/getId" />
		<!-- END UPDATE DIALOG  -->
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Delete 1 CategoryVideo			
			//-----------------------------------------------------------------------------------
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Pagoda/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Pagoda/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 CategoryVideo
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#DistrictCurrent').attr('alt');
				Data[2] = $('#Name1').val();
				Data[3] = $('#Address1').val();
				Data[4] = $('#Phone1').val();
				Data[5] = $('#Email1').val();
				Data[6] = $('#Website1').val();
				Data[7] = $('#Monk1').val();
				Data[8] = $('#Latitude1').val();
				Data[9] = $('#Longitude1').val();
								
				var URL = "/object/ins/Pagoda";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 PAGODA
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Pagoda/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#Name2').attr('value', 		data.Name);
					$('#Address2').attr('value', 	data.Address);
					$('#Phone2').attr('value', 		data.Phone);
					$('#Email2').attr('value', 		data.Email);
					$('#Website2').attr('value', 	data.Website);
					$('#Monk2').attr('value', 		data.Monk);
					$('#Latitude2').attr('value', 	data.Latitude);
					$('#Longitude2').attr('value', 	data.Longitude);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 PAGODA
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#DistrictCurrent').attr('alt');
				Data[2] = $('#Name2').val();
				Data[3] = $('#Address2').val();								
				Data[4] = $('#Phone2').val();
				Data[5] = $('#Email2').val();
				Data[6] = $('#Website2').val();
				Data[7] = $('#Monk2').val();
				Data[8] = $('#Latitude2').val();
				Data[9] = $('#Longitude2').val();
				
				var URL = "/object/upd/Pagoda";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});		
		/*]]>*/
		</script>
	</body>
</html>